.cards {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  box-sizing: border-box;
  margin: 0;
  padding: 2.5rem;
  width: 50%;

  .text {
    display: flex;
    justify-content: space-between;
  }

  p {
    box-sizing: border-box;
    max-width: 75%;
    padding: 0 1rem;
    text-align: center;
  }

  h4 {
    flex: 1;

    &:last-child {
      text-align: right;
    }
  }
}

.social {
  a {
    color: $gray;

    &:hover {
      color: $black;
    }
  }

  .divider {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .cards .card {
    padding: 2.5rem 0 0;
    width: 100%;

    .text {
      flex-wrap: wrap;

      h4 {
        margin-bottom: 0.25rem;

        br {
          display: none;
        }
      }

      p {
        order: 3;
        max-width: 100%;
        text-align: left;
        padding: 0;
      }
    }
  }

  .social {
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;


    a {
      display: inline-block;
      font-size: 1rem;
      height: 2.25rem;
      line-height: 2.25rem;
      vertical-align: middle;
      width: 33.333333%;

      &:nth-of-type(2), &:nth-of-type(5) {
        text-align: center;
      }

      &:nth-of-type(3), &:nth-of-type(6) {
        text-align: right;
      }
    }
  }

  .divider {
    display: none;
  }
}
