$content-width: 50rem;

.content {
  @include clearfix;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $content-width;
  z-index: 2;
}

section {
  padding: 2.5rem;
}

body {
  padding: 5rem 0;
}
