$content-width: 40rem;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  position: relative;
  width: 100%;
  z-index: 2;
}

section {
  padding: 2.5rem;
}

body {
  padding: 5rem 0;
}

footer {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: $tablet-portrait-max) {
  section {
    padding: 0.5rem 2.5rem;
  }

  body {
    padding: 2.5rem 0;
  }
}
