
.cards {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    box-sizing: border-box;
    margin: 0;
    padding: 2.5rem;
    width: 50%;
  }
}


.red {
  background-color: $red;
  color: $white;
}

.blue {
  background-color: $blue;
  color: $white;
  z-index: 100;
}

.green {
  background-color: $green;
  color: $white;
}

.white {
  background-color: $white;
  color: $black;
  z-index: 80;
}

.gray {
  background-color: $gray;
  color: $black;
}

.light-gray {
  background-color: $light-gray;
  color: $black;
  z-index: 90;
}
