// Font weights
$extra-bold: 800;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;


$display: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, %h1 {
  font-size: 4rem;
  font-family: $display;
  font-weight: $regular;

}

h2, %h2 {
  font-size: 1.5rem;
  font-weight: $regular;
  font-family: $display;
  text-transform: lowercase;
  margin-bottom: 0.5rem;
}

p, %p {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $display;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

ul, ol {
  li {
    display: block;
    @extend %p;
  }
}

strong {
  font-weight: $medium;
}

@media screen and (max-width: $phone-landscape-max) {
  h1, %h1 {
    font-size: 3rem;
  }

  h2, %h2 {
    font-size: 2rem;
  }
}
