// Font weights
$extra-bold: 800;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;


$display: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, %h1 {
  font-family: $display;
  font-size: 4rem;
  font-weight: $regular;
  line-height: 1.25;
  transform: translateX(-0.05em);
}

h2, %h2 {
  color: $gray;
  font-family: $display;
  font-size: 1.5rem;
  font-weight: $regular;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

h3, %h3 {
  font-family: $display;
  font-size: 1.5rem;
  font-weight: $regular;
  margin-bottom: 1rem;
}

h4, %h4 {
  color: $gray;
  font-family: $display;
  font-size: 1rem;
  font-weight: $regular;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

p, %p {
  font-family: $sans;
  font-size: 1rem;
  font-weight: $regular;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

ul, ol {
  li {
    @extend %p;
    display: block;
  }
}

strong {
  font-weight: $medium;
}

@media screen and (max-width: $phone-portrait-max) {
  h1 {
    font-size: 3.5rem !important;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem !important;
    margin-bottom: 2rem;
    line-height: 1.25;
    width: 80%;
  }
}
