---
title: Dan Schlosser
layout: default
is_home: true
---

<div class="content">
    <section class="text">
        <h2>Associate Product Manager at <a href="https://www.google.com/">Google</a> on <a href="https://firebase.google.com/">Firebase</a>. Founder and web developer at <a href="https://minimill.co">Minimill</a>. Previously CS at <a href="https://www.columbia.edu/">Columbia</a>, organizing with <a href="https://adicu.com">ADI</a>, and interning with <a href="https://www.venmo.com/">Venmo</a> and <a href="https://www.facebook.com/">Facebook</a>. Tweeting <a href="https://twitter.com/danrschlosser/">@danrschlosser</a>.
    </section>
    {% include collection.html title="Writing" url="/writing/" collection=site.writing %}
    {% include collection.html title="Travel" url="/travel/" collection=site.travel %}
    {% include collection.html title="Projects" url="/projects/" collection=site.projects %}
    {% include collection.html title="Lists" url="/lists/" collection=site.lists %}
    {% include collection.html title="Talks" url="/talks/" collection=site.talks %}
    {% include collection.html title="Teams" url="/teams/" collection=site.teams %}
</div>
