---
title: Dan Schlosser
layout: default
is_home: true
regenerate: true # always re-build
---

<div class="content">
  <section class="text home-header">
    <h1>Dan<br/>Schlosser</h1>
    <p>
      Co-founder, <a href="/teams/ambrook">Ambrook</a> &mdash; <a href="https://ambrook.com/careers">we're hiring</a>!
      Previously, product manager at <a href="/teams/nytimes">The New York Times</a>,
      <a href="/teams/google-drive/">Google</a>, and
      <a href="/teams/covidactnow/">Covid Act Now</a>, tech lead at
      <a href="/teams/thenext50/">The Next 50</a>, founder and web developer at
      <a href="/teams/minimill">Minimill</a>, and CS at
      <a href="https://www.columbia.edu/">Columbia</a>. Email me at
      <a href="mailto:dan@schloser.io">dan@schlosser.io</a> or tweet
      <a href="https://twitter.com/danrschlosser">@danrschlosser</a>.
    </p>
  </section>
  {% include collection.html mini="1" title="Teams" url="/teams/" collection=site.teams %}
  {% include collection.html title="Travel" url="/travel/" collection=site.travel feature="first" %}
  {% include collection.html title="Writing" url="/writing/" collection=site.writing feature="first" %}
  {% include collection.html mini="1" title="Projects" url="/projects/" collection=site.projects %}
  {% include collection.html mini="1" title="Lists" url="/lists/" collection=site.lists %}
  {% include collection.html mini="1" title="Talks" url="/talks/" collection=site.talks %}
</div>


