{{#extend "base"}}
{{#content "main" mode="prepend"}}
<section>
    <div class="content">
        <h1 class="name">Dan Schlosser</h1>
        <h2 id="subtitle">Developer, Product Manager, Founder</h2>
    </div>
</section>
<section>
    <ul class="cards">
        <li class="card">
            <img src="img/minimill-logo.png">
        </li>
        <li class="card">
            <img src="img/minimill-logo.png">
        </li>
        <li class="card">
            <img src="img/minimill-logo.png">
        </li>
        <li class="card">
            <img src="img/minimill-logo.png">
        </li>
    </ul>
</section>
<section>
    <div class="content">
        <h1 class="name">Dan Schlosser</h1>
        <p id="social">Github&nbsp;&nbsp;|&nbsp;&nbsp;Medium&nbsp;&nbsp;|&nbsp;&nbsp;Twitter&nbsp;&nbsp;|&nbsp;&nbsp;Facebook&nbsp;&nbsp;|&nbsp;&nbsp;Linkedin&nbsp;&nbsp;|&nbsp;&nbsp;Contact</p>
    </div>
</section>
<script type="text/javascript">
    window.fitText(document.getElementsByClassName('name'), 0.98);
    window.fitText(document.getElementById('subtitle'), 2.65);
    window.fitText(document.getElementById('social'), 4);
</script>
{{/content}}
{{/extend}}
