{{#extend "base"}}
{{#content "main" mode="prepend"}}
<section>
    <div class="inner">
        <h1>Dan Schlosser</h1>
        <h2>Developer, Product Manager, Founder</h2>
        <p>Github&nbsp;&nbsp;|&nbsp;&nbsp;Medium&nbsp;&nbsp;|&nbsp;&nbsp;Twitter&nbsp;&nbsp;|&nbsp;&nbsp;Facebook&nbsp;&nbsp;|&nbsp;&nbsp;Linkedin&nbsp;&nbsp;|&nbsp;&nbsp;Contact</p>
    </div>
</section>
<section>
    <div class="tile blue">
        <div class="inner">
            <p>Work</p>
        </div>
    </div>
    <div class="tile light-gray">
        <div class="inner">
            <ul>
                <li>Minimill</li>
                <li>Google APM</li>
                <li>Venmo</li>
                <li>Facebook</li>
                <li>MITRE</li>
            </ul>
        </div>
    </div>
</section>
<section class="red">
    <div class="tile">
        <div class="tile blue">
            <div class="inner">
                <p>Work</p>
            </div>
        </div>
        <div class="tile light-gray">
            <div class="inner">
                <ul>
                    <li>Minimill</li>
                    <li>Google APM</li>
                    <li>Venmo</li>
                    <li>Facebook</li>
                    <li>MITRE</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tile white">
        <div class="inner">
            <p>Dan Schlosser</p>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/tile.js"></script>
{{/content}}
{{/extend}}
