{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="plus-box">
    <div class="plus-bounds">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="plus-content"></div>
</div>
{{/content}}
{{/extend}}
