---
title: Websites
date: 2020-03-04
featured_image: projects/websites.png
hero_style: none
redirect_from:
  - /websites/
---

<p>There's no way around it: I love making websites. It's tons of fun and can be really relaxing.  Between school, side projects, collaborations with friends, and work, I've had the opportunity to build a ton of them. This is a running list of some of my favorites.  Enjoy!</p>
</section>
<section class="text">
    {% for website in site.data.websites %}
    <div class="visual-list large">
        <div class="image screenshot">
            {% include resimg.html src=website.img class="with-viewer force-medium" %}
        </div>
        <div class="copy">
            <h3 id="{{ website.id }}">{{ website.title }}</h3>
            <h4>{{ website.year }} | <a href="{{website.link}}" target="_blank">{{website.link | remove: "http://" | remove: "https://" | remove: "www."}}</a></h4>
            <p>{{website.description}}</p>
        </div>
    </div>
    {% endfor %}

