<div class="box {% if include.featured %}featured{% endif %}">
    <div class="figure-wrapper">
        {% if include.featured %}
            {% include resimg.html src=include.page.hero_image link=include.page.url class="force-small" %}
        {% else %}
            {% include resimg.html src=include.page.featured_image link=include.page.url class="force-small" %}
        {% endif %}
    </div>
    <div>
        <h3>
            <a href="{{ include.page.url }}">
                {{ include.page.title }}
            </a>
        </h3>
        {% if include.featured %}
        <p>{{ page.excerpt | truncatewords: 50 | remove: '<section class="text">' | remove: '</section>' }}</p>
        <a class="button" href="{{ include.page.url }}">Continue Reading</a>
        {% endif %}
    </div>
</div>
