<section class="collection">
    <h4 class="path">
        <span class="slash">/</span>
        <span class="component"><a href="{{ include.url }}">{{ include.title }}</a></span>
    </h4>
    <div class="boxes">
        {% assign collection = include.collection | reverse %}

        {% if include.exclude %}
            {% comment %} Create Empty Array: {% endcomment%}
            {% assign tmp = "" | split:"|"  %}

            {% comment %} Set tmp to be collection except for the excluded page: {% endcomment%}
            {% for p in collection %}
                {% unless p == include.exclude %}
                {% assign tmp = tmp | push: p %}
                {% endunless %}
            {% endfor %}

            {% comment %} Reassign to collection: {% endcomment %}
            {% assign collection = tmp %}
        {% endif %}

        {% assign more_text = include.title | prepend: "More " %}
        {% if include.feature == "first" %}
            <div class="feature-section">
            {% for page in collection | limit:6 %}
            {% if forloop.index0 == 0 %}
                {% include box.html page=page featured=true %}
            {% elsif forloop.index0 == 1 %}
                <div class="alongside-featured">
                    {% include box.html page=page %}
            {% elsif forloop.index0 == 5 %}
                    {% include box.html page=page %}
                    {% if collection.size > 6 %}
                        {% include more.html text=more_text href=include.url %}
                    {% endif %}
                </div>
            {% else %}
                    {% include box.html page=page %}
            {% endif %}
            {% endfor %}
            </div>
        {% else %}
            {% for page in collection | limit:7 %}
            {% include box.html page=page %}
            {% endfor %}
            {% if collection.size > 3 %}
            {% include more.html text=more_text href=include.url %}
            {% endif %}
        {% endif %}
    </div>
</section>
