<header>
    <div class="content">
        {% if page.redirect.to %}
        <h1>&nbsp;</h1> <!-- For spacing -->
        {% else %}
        <p class="path">
            <span class="component"><a href="/">Dan Schlosser</a></span>
            {% if page.collection and page.title%}
            <span class="slash">/</span>
            <span class="component capitalize"><a href="/{{ page.collection }}/">{{ page.collection }}</a></span>
            {% endif %}
            <span class="slash">/</span>
            <br class="mobile-only">
        </p>
        {% if page.title %}
        <h1>{% include no_orphans.html text=page.title %}</h1>
        {% elsif page.collection %}
        <h1>{% include no_orphans.html text=page.collection %}</h1>
        {% endif %}
        {% endif %}
    </div>
</header>
