<p>$$\begin{alignat*}{7}
    & \textbf{Transit Mode} \quad && \textbf{Day}   \enspace &&             \qquad &&  \textbf{Night} \enspace && \\
    & \text{Bus}            \quad && r_{tl} = 0.6,  \enspace && d_{tl} = 5  \qquad &&  r_{tl} = 0.75, \enspace && d_{tl} = 15 \\
    & \text{SBS}            \quad && r_{tl} = 0.75, \enspace && d_{tl} = 3  \qquad &&  r_{tl} = 1.0,  \enspace && d_{tl} = 5  \\
    & \text{Tier 1 Train}   \quad && r_{tl} = 1.0,  \enspace && d_{tl} = 0  \qquad &&  r_{tl} = 0.75, \enspace && d_{tl} = 3  \\
    & \text{Tier 2 Train}   \quad && r_{tl} = 0.75, \enspace && d_{tl} = 0  \qquad &&  r_{tl} = 0.5,  \enspace && d_{tl} = 5  \\
    & \text{Tier 3 Train}   \quad && r_{tl} = 0.6,  \enspace && d_{tl} = 3  \qquad &&  r_{tl} = 0.3,  \enspace && d_{tl} = 15 \\
\end{alignat*}$$</p>
