---
title: Japan, Summer 2015
start_date: 2015-05-17
end_date: 2015-05-25
cities:
  - Tokyo
  - Osaka
  - Kyoto
  - Shiga
featured_image: travel/japan/kyoto-lake-cover.jpg
hero_image: travel/japan/kyoto-lake.jpg
redirect_from:
  - /japan/
---

<section class="text">
    <p>Right after the last day of classes my junior year at Columbia, I spent a week in Japan on a trip for Columbia students. The trip, organized by the Japanese Prime Minister's office, was called the Kakehashi Project, which translates literally as "Friendship Ties Project." The Kakehashi Project was part of a larger effort to encourage a healthy relationship between Japan and the rest of the world. After a visit to Columbia, Prime Minister Abe extended an offer to sponsor fifty Columbia students to visit Japan as the first batch of students in the program.</p>

    <p>In just ten days, we visited Tokyo, Osaka, Kyoto, and Shiga, travelling within the country by bus and high-speed train. We visited universities, government buildings, shopping districts, small towns, and religeous monuments, with the goal of getting to know more about the country.</p>
</section>
<section class="text">
    <h2>Tokyo</h2>
    <h3>Technology, Government, and Culture</h3>
    <p>The first part of our trip was spent in Tokyo. We visited the Tokyo National Museum, the offices of the municipal government, Waseda University, and a variety of different neighborhoods within the city. We had a very packed schedule and only a few days in Tokyo, so I know that I missed out on the vast majority of what there is to see.</p>
    <p>In a rare free moment, we would take the subway to a shopping district or famous food spot, somehow managing to figure out our way even without cell service or instructions in English. The one time we got lost, a local student helped us find our way.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan/tokyo-city.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/tokyo-tower.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A view of Shinjuku Chuo Park from the Tokyo from the Tokyo Metropolitan Government building.
        <strong>Right:</strong> A view of the city at night from the Toyko Tower.
    </h5>
</section>
<section class="text" id="tokyo-national-museum">
    <p>One of our first visits was to the Tokyo National Museum. As a fan of Japanese art and culture, this was a dream. They had a seemingly endless collection of works from throughout Japanese history, from Samurai armor and weapons to traditional screen paintings.</p>
</section>
<section>
    {% include resimg.html src="travel/japan/tokyo-museum.jpg" class="with-viewer" %}
    <h5>A view of the main building at the Tokyo National Museum.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/japan/tokyo-museum-painting.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/tokyo-museum-lake.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/tokyo-museum-calligraphy.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A close up of a massive screen Byōbu, or screen painting.
        <strong>Center:</strong> Behind the main building is a lake and decorative house.
        <strong>Right:</strong> Beautiful calligraphy on display under glass.
    </h5>
</section>
<section class="text">
    <p>With the intention of connecting us with Japanese students, the Japanese govenrment organized tours of two differnet national universities. In Tokyo, we visited Waseda University. Our tour guide, a second-year student at Waseda, took us across the street to the education shrine. Some students go to the shrine on the day before a big exam or project, she told us.</p>
    <p>The Waseda campus was absolutely beautiful. Their student union building has floor to ceiling glass windows, surrounded by trees, and a garden with a coy pond!</p>
</section>
<section>
    {% include resimg.html src="travel/japan/tokyo-waseda-glass.jpg" class="with-viewer" %}
    <h5>I barely stopped walking to take this picture of the Waseda University cafeteria building in Tokyo. It wasn't until I got back to my computer that I realized how  brightly the trees reflected off the glass.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan/tokyo-waseda-shrine-entry.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/tokyo-waseda-shrine-steps.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/japan/tokyo-waseda-me.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/tokyo-waseda-fish.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Top left:</strong> Across the street from the Waseda campus, the shrine's entrance is unassuming.
        <strong>Top right:</strong> Our tour guides show us around the campus.
        <strong>Bottom left:</strong> Me outside the Waseda student center in the garden.
        <strong>Bottom right:</strong> The coy pond nearby.
    </h5>
</section>

<section class="text">
    <h2>Osaka</h2>
    <h3>Travel, Food, and Tradition</h3>

    <p>We travelled to Osaka on the Shinkansen, the Japanese bullet train. With a flat, almost platapus-like nose, this train felt more like space travel than any plane I've flown in.</p>

    <p>We didn't get to see as much of Osaka as I would have liked; it was mostly a base camp for day trips into Kyoto. We did get a chance to do screen printing and ride a massive ferris wheel!</p>

</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan/osaka-train.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/osaka-printing.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Shinkansen pulling into Osaka station.
        <strong>Right:</strong> A screen printing I made our first morning in Osaka.
    </h5>
</section>

<section class="text">
    <h2>Kyoto</h2>
    <h3>History, Religion, and Architecture</h3>

    <p>As we arrived in Kyoto, I was blown away by how seamlessly a city or town would transform into a historical or religious site. Modern buildings and ancient temples would sit side by side.</p>

</section>
<section>
    {% include resimg.html src="travel/japan/kyoto-gold.jpg" class="with-viewer" %}
    <h5>A view from across a lake of Kinkaku-ji, a Zen Buddhist temple in Kyoto.</h5>
</section>

<section class="text">
    <p>One striking example of this was in Fukashimi Inari-taisha, a Shinto shrine in Kyoto. As we walked through the town in Fukashimi-ku, we saw large orange gates, or arches, straddling the road. Following these gates led us to the entrance to the shrine, a path leading from the city streets up into the forest and mountain. Climbing higher, the gates got closer and closer together, until they were practically adjacent.</p>

    <p>This smooth transformation from city to shrine was stunning and felt very different than the more walled-in or contained monuments of the United States. Walking deep into the forest, I found a quiet set of shrines and gates next to a lake. Very surreal.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan/kyoto-town.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/kyoto-arch.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/japan/kyoto-path.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/kyoto-lake.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Top left:</strong> Walking through Fukashimi-ku, Kyoto.
        <strong>Top right:</strong> A large gate at the entrance to Fukashimi Inari-taisha.
        <strong>Bottom left:</strong> Just a few of the thousands of gates along the trail.
        <strong>Bottom right:</strong> Away from the crowds of the lower areas of the shrine, I found this lake tucked into the hillside.
    </h5>

</section>

<section class="text">
    <h2>Shiga</h2>
    <h3>Hospitality, Nature, and Agriculture</h3>
    <p>After an intense week in Tokyo, Osaka, and Kyoto, we finished off our trip with two days in Shiga prefecture, staying at a traditional Japanese Inn.  Our innkeepers were a family with four living generations. Great grandmother down to great grandkids all stayed in the same house. They made us amazing home-cooked breakfast, and we were able to see their town and how they lived.</p>
    <p>To me it seemed that every square foot of land that wasn't a road or a house was a rice field or garden of some kind. Everywhere you looked you would see them, a foot or so of water with little green stalks sticking out in an orderly grid.</p>
</section>
<section>
    {% include resimg.html src="travel/japan/shiga-rice.jpg" class="with-viewer" %}
    <h5>A rice field across the street from the inn we stayed at in Shiga.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan/shiga-basketball.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan/shiga-calligraphy.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> We played basketball with some kids at this playground.
        <strong>Right:</strong> The daughter of our innkeeper demonstrates her calligraphy in Shiga.
    </h5>
</section>
