---
title: Italy and Croatia, Summer 2016
start_date: 2016-06-01
end_date: 2016-06-16
cities:
  - Rome
  - Dubrovnik
  - Split
  - Venice
hero_image: travel/italy/rome-colosseum-close.jpg
featured_image: travel/italy/rome-colosseum-close-cover.jpg
redirect_from:
  - /italy/
  - /croatia/
---

<section class="text">
    <p>After I graduated from College, I set out on the longest trip of my life to date. Two months, visiting twenty-four cities in eight countries. It wasn't my first time in Europe, but it was my first time visiting each city in my trip.</p>

    <p>In travelling for so long, my trip really felt like four smaller trips, each two weeks.  The first, I spent with friends in Italy and Croatia, the second by myself in France and Spain, the third with a friend in the UK, and the last with my mom in Iceland.</p>

    <p>My original plan was to start in Barcelona, and make my way north and east, but after finding an amazingly priced ticket from Boston to Rome, I flipped everything around.</p>
</section>
<section class="text">
    <h2>Rome</h2>
    <h3>Tourist Central</h3>
    <p>Rome was by far the most overwhelming city I visited, and it was appropriate to be my first stop.  I was only there for a three days, but I managed to to pack in a crazy amount of sightseeing, shopping, and tasting in that time.</p>
    <p>I spent my entire first day in Rome at the Vatican Museum and St. Peter's Basilica. Even so, there was plenty I didn't get to see. What I did see, though, was completely stunning.</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-vatican-hallway.jpg" class="with-viewer" %}
    <h5>The Vatican Museum was completely packed with tourists from all over.</h5>
</section>
<section class="text">
    <p>The Vatican Museum is one big loop. If you go quickly, you could probably get through the whole thing in four or five hours, but if you take your time, it can easily take more than a day.  For the most part, it was packed.  However, there was an occasional side room or two that would be more calm.</p>
    <p>The path leads through many different time periods and collections: sculpture, tapestry, cartography, and more. It's a stunning reminder of how powerful the Roman Empire was.</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-vatican-table.jpg" class="with-viewer" %}
    <h5>This table was just one of many stunning pieces of art along the path to the Sistine Chapel.</h5>

    {% include resimg.html src="travel/italy/rome-vatican-globe.jpg" class="with-viewer" %}
    <h5>A 1500s globe, covered in beautiful illustrations.</h5>

    {% include resimg.html src="travel/italy/rome-vatican-goose.jpg" class="with-viewer" %}
    <h5>These three sculptures are a great example of how well the curator positioned and grouped pieces to tell a story. The center sculpture is aptly named "Boy with Goose." </h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/italy/rome-vatican-sphere.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/italy/rome-peters-basilica.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> This amazing metal globe sits in the center of the Vatican Museum courtyard.
        <strong>Right:</strong> The facade of St. Peter's Basilica, next to the Vatican.
    </h5>
</section>
<section class="text">
    <p>I spent the majority of my time in Rome visiting all the touristy hot spots. With only a few days, that was all I had time for.  (That and lots of pasta, mind you.)  The Colosseum was really stunning, and is still is the centerpiece of Rome. Wandering around, I always ended up bumping back into it.</p>
    <p>Although it's beautiful enough from the outside, I also got an opportunity to tour the inside in a nighttime tour. While it was probably overpriced, it was neat to get to go into the basement of the building and see where they kept the animals, food, and sets. I didn't know this before touring, but apparently the Romans had a knack for exotic sets for their battles and had even designed a contraption to raise combatants up through a trap door in the arena into battle. An ancient elevator!</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-colosseum-dusk.jpg" class="with-viewer" %}
    <h5>A view of the Colosseum at dusk.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/italy/rome-colosseum-close.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/italy/rome-colosseum-night.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Colosseum from up close.
        <strong>Right:</strong> An interior view of the Colosseum during a nighttime tour.
    </h5>
</section>
<section class="text">
    <p>When it comes to amazing architecture, the Colosseum isn't all Rome has. The Altar of the Fatherland and the Pantheon were both extremely impressive works of art.</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-altar.jpg" class="with-viewer" %}
    <h5>The Altar of the Fatherland sits in the center of Rome.</h5>

    {% include resimg.html src="travel/italy/rome-pantheon.jpg" class="with-viewer" %}
    <h5>A frontal view of the Pantheon, a temple with one massive circular room.</h5>
</section>


<section class="text">
    <h2>Dubrovnik</h2>
    <h3>A Fortress on the Water</h3>
    <p>After visiting Rome, we headed across the Adriatic Sea to Croatia, where we visited Dubrovnik and Split. After Croatia I would actually fly back to Italy to see Venice, but it was actually more affordable to fly out of Italy and back in.</p>
    <p>Dubrovnik was probably the biggest surprise of my entire trip. I didn't have very high expectations for Croatia. I hadn't heard much about it, but a few strong recommendations from friends put in on my list. That said, it was definitely a highlight of my trip: beautiful cliffsides, beaches, and towns, inexpensive food and amenities, and friendly people.</p>
    <p>We spent most of our time in Dubrovnik, which is centered around the "Old Town," a pedestrian-only commercial district. The city sits right on the ocean, with tall stone walls built on top of the rocks.</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/dubrovnik-airbnb.jpg" class="with-viewer" %}
    <h5>The view of Dubrovnik from our Airbnb.</h5>

    {% include resimg.html src="travel/croatia/dubrovnik-city.jpg" class="with-viewer" %}
    <h5>A view of the Dubrovnik Old Town from the city walls.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/croatia/dubrovnik-walking.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/croatia/dubrovnik-friends.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Dubrovnik Old Town is pedestrian-only.
        <strong>Right:</strong> The five of us on the Old Town walls.
    </h5>
</section>
<section class="text">
    <p>The food in Dubrovnik was also amazing. After touring the Old Town walls, we ate an amazing meal of fresh fish down by the docks.</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/dubrovnik-port.jpg" class="with-viewer" %}
    <h5>We had dinner under the umbrellas by the Dubrovnik docks.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/croatia/dubrovnik-fish.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/croatia/dubrovnik-rice.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The fresh fish in Dubrovnik was amazing.
        <strong>Right:</strong> Dubrovnik's famous Black Risotto is super salty, but delicious!
    </h5>
</section>
<section class="text">
    <p>A few days into our stay, we rented a private speedboat tour of the nearby islands. It sounds excessive, but the entire day (five hours plus time for lunch on Island restaurant) only ran us &euro;50 each. Our guide picked us up at a nearby beach, and took us to several islands, where we got a chance to swim in caves, hike trails, and relax.</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/dubrovnik-beach.jpg" class="with-viewer" %}
    <h5>A View of the beach across the street from our Airbnb.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/croatia/dubrovnik-boat.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/croatia/dubrovnik-tower.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/croatia/dubrovnik-island.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A view of the coast from the boat.
        <strong>Center:</strong> A tower on an island off the coast of Dubrovnik
        <strong>Right:</strong> A boat moored off the coast.
    </h5>
</section>
<section class="text">
    <p>I would highly recommend visiting Dubrovnik to anyone interested. It wasn't as historic or magnificent as Rome or Venice, but it was beautiful and relaxing. After the intensity of my first stop it was exactly what I wanted.</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/dubrovnik-walls.jpg" class="with-viewer" %}
    <h5>On my last day, I walked up to the guard tower to get a full view of the city walls.</h5>
</section>
<section class="text">
    <h2>Split</h2>
    <h3>A Beautiful City Three Hours North</h3>
    <p>After a few days in Dubrovnik, we rented a car and drove three hours up the coast to Split, a larger coastal city with another pedestrian-only Old Town. The drive was amazing. You can get to Split from Dubrovnik by highway in about 2.5 hours if you wanted, but it's worth every minute to take the D8, a parallel route that winds along the coast.</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/split-drive.jpg" class="with-viewer" %}
    <h5>A view of the Croatian beach from the D8 (the coastal highway).</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/croatia/split-arch.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/croatia/split-tower.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Four of us at the entrance to the Split Old Town.
        <strong>Right:</strong> The tower in the Split town center.
    </h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/croatia/split-city.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/croatia/split-view.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Split Old Town on a cloudy day.
        <strong>Right:</strong> Daniela and I shared a drink at a hilltop bar in Split.
    </h5>
</section>
<section class="text">
    <h2>Venice</h2>
    <h3>Just Feet Away From Becoming Atlantis</h3>
    <p>Visiting Venice was amazing.  It was certainly more touristy than Dubrovnik, but it lived up to the hype.  It's small enough and dense enough that a good majority of my time there was spent wandering around the city, counting bridges, canals, and gelato shops.</p>
    <p>We visited the tourist attractions: St. Mark's Square, Basilica, and Tower, but most of the time was spent exploring and wandering into smaller shops.</p>
</section>
<section>
    {% include resimg.html src="travel/italy/venice-canal.jpg" class="with-viewer" %}
    <h5>A Venice canal.  While many were even larger than this, most were quite narrow, barely two boats wide.</h5>

    {% include resimg.html src="travel/italy/venice-view.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/italy/venice-port.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/italy/venice-rooftops.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Shots of Venice from the Campanile di San Marco. From this height, Venice's canals disappear.</h5>

    {% include resimg.html src="travel/italy/venice-gondola.jpg" class="with-viewer" %}
    <h5>A quintessential gondola-in-canal shot.</h5>

    {% include resimg.html src="travel/italy/venice-canal-building.jpg" class="with-viewer" %}
    <h5>So many of Venice's buildings are designed with prominent canal-side entrances</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/italy/venice-acqua-alta.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/italy/venice-acqua-alta-books.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Me at Acqua Alta Bookshop. When the canal floods, they just let the books get wet and dry themselves out.
        <strong>Right:</strong> Daniela tries out their staircase made of wrecked books!
    </h5>
</section>
<section class="text">
    <p>To get the full Venice experience, Daniela and I took a gondola ride.  Even for just a half hour, it was completely worth it. Watching the gondolier duck under bridges and kick off walls was awesome.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/italy/venice-gondola-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/italy/venice-gondola-traffic.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Our gondola barely fit under the bridges.
        <strong>Right:</strong> Venice's version of rush-hour.
    </h5>

    {% include resimg.html src="travel/italy/venice-motorboat.jpg" class="with-viewer" %}
    <h5>Not everyone on the canals were gondolas. It remains a primary transit system for Venice.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/italy/venice-pasta.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/italy/venice-tea.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Amazing pasta made while you wait at Del Moro's.
        <strong>Right:</strong> We had tea and pastries standing at the counter in South Venice.
    </h5>

    {% include resimg.html src="travel/italy/venice-old-bridge.jpg" class="with-viewer" %}
    <h5>Me sitting on the oldest standing bridge in Venice.</h5>
</section>
