---
title: France and Spain, Summer 2016
start_date: 2016-06-16
end_date: 2016-07-04
cities:
  - Paris
  - Barcelona
  - Valencia
  - Seville
  - Madrid
  - Toledo
hero_image: travel/italy/rome-colosseum-close.jpg
featured_image: travel/italy/rome-colosseum-close-cover.jpg
---

<section class="text">
    TODO
</section>
<section class="text">
    <h2>Barcelona</h2>
    <h3>Testing</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/france/paris-artazart.jpg" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/france/paris-clock.jpg" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/france/paris-notre-dame.jpg" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/paris-eiffel-tower.jpg" %}
            {% include resimg.html src="travel/france/paris-eiffel-tower-view.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/france/paris-louvre.jpg" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/france/paris-louvre-back.jpg" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/paris-louvre-interior-view.jpg" %}
            {% include resimg.html src="travel/france/paris-louvre-interior.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/france/paris-statue-man.jpg" %}
            {% include resimg.html src="travel/france/paris-statue-boy.jpg" %}
            {% include resimg.html src="travel/france/paris-statue-baby.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Center:</strong>
        <strong>Right:</strong>
    </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/paris-mona-lisa-selfie.jpg" %}
            {% include resimg.html src="travel/france/paris-mousse.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

</section>
<section class="text">
    <h2>Barcelona</h2>
    <h3>Testing</h3>
</section>
<section>

    {% include resimg.html src="travel/spain/barcelona-view.jpg" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/spain/barcelona-arch.jpg" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/spain/barcelona-museum.jpg" %}
            {% include resimg.html src="travel/spain/barcelona-tapas.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/spain/barcelona-pool.jpg" %}
    <h5>TODO</h5>
</section>

<section class="text">
    <h2>Valencia</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/spain/valencia-shell.jpg" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/spain/valencia-bridge.jpg" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/spain/valencia-spines.jpg" %}
            {% include resimg.html src="travel/spain/valencia-globe.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/spain/valencia-graffiti.jpg" %}
    <h5>TODO</h5>
</section>
</section>

<section class="text">
    <h2>Seville</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/spain/seville-alcazar-balcony.jpg" %}
            {% include resimg.html src="travel/spain/seville-alcazar-statue.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>


    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/spain/seville-alcazar-flowers.jpg" %}
            {% include resimg.html src="travel/spain/seville-alcazar-gate.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/spain/seville-alcazar-hallway.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-pool.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-portrait.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-roof.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-steps.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-view.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-water-feature-close.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-water-feature.jpg" %}
    {% include resimg.html src="travel/spain/seville-alcazar-basement.jpg" %}
    {% include resimg.html src="travel/spain/seville-castle-walls.jpg" %}

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/spain/seville-pattern-boomerangs.jpg" %}
            {% include resimg.html src="travel/spain/seville-pattern-diamonds.jpg" %}
            {% include resimg.html src="travel/spain/seville-pattern-hexagon.jpg" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/spain/seville-pattern-stars.jpg" %}
            {% include resimg.html src="travel/spain/seville-pattern-zip-zags.jpg" %}
        </div>
    </div>
    <h5>TODO</h5>

    {% include resimg.html src="travel/spain/seville-plaza-espana-bridge.jpg" %}
    {% include resimg.html src="travel/spain/seville-plaza-espana-facade.jpg" %}
    {% include resimg.html src="travel/spain/seville-plaza-espana-pano.jpg" %}
    {% include resimg.html src="travel/spain/seville-plaza-espana-view.jpg" %}
    {% include resimg.html src="travel/spain/seville-plaza-espana-walking.jpg" %}
    {% include resimg.html src="travel/spain/seville-plaza-espana-water.jpg" %}
    {% include resimg.html src="travel/spain/seville-tower-far.jpg" %}
    {% include resimg.html src="travel/spain/seville-tower.jpg" %}
</section>

<section class="text">
    <h2>Madrid</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/spain/madrid-church.jpg" %}
    {% include resimg.html src="travel/spain/madrid-facade.jpg" %}
    {% include resimg.html src="travel/spain/madrid-horseman.jpg" %}
    {% include resimg.html src="travel/spain/madrid-roof.jpg" %}
    {% include resimg.html src="travel/spain/madrid-square.jpg" %}
</section>

<section class="text">
    <h2>Toledo</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/spain/toldeo-river.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-street.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-tower.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-transparente-exterior.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-transparente-full.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-transparente-interior.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-treasure.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-view-2.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-view.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-wall.jpg" %}
    {% include resimg.html src="travel/spain/toldeo-window.jpg" %}
</section>
