---
title: Iceland, Summer 2016
start_date: 2016-07-21
end_date: 2016-07-31
cities:
  - Iceland
hero_image: travel/iceland/south-lagoon-clouds.jpg
featured_image: travel/iceland/south-lagoon-clouds-cover.jpg
---

<section class="text">
    <p>Just a few short weeks after graduating college, I set out on a two month trip to Europe.  I had the opportunity to enjoy new places, people, food, and to spend time with friends, family, and alone with myself. After spending time in Italy, Croatia, France, Spain, and the British Isles, the last stop on my trip was to Iceland. There, mom and I spent ten days driving around the Ring Road, a two-lane highway which circumvents the island.</p>

    <p>Our trip was not just tourism, however.  I made the trip to Iceland in order to meet several families worth of cousins that until recently, our family had not known even existed! My mom's great grandmother, Sigridur lived on a farm in East Iceland. After her first husband died, she remarried. Some years later they emigrated to North Dakota with their only living son&mdash;my great grandfather, Egil who was four years old when they moved in 1984.</p>

    <p>Egil married my great grandmother Polly, whose family had lived just up the fjord in Iceland!  Yet Sigridur's U.S. and Iceland families lost contact over the years, even though the descendents of Egil in the U.S. knew all about Polly's family in Iceland.</p>

    <p>Sigridur left her grown son, Sigurdur (don't get confused now!) from her first marriage in Iceland on the farm in Berunes (in the east). The cousins that I met in Iceland were the descendants of Sigurdur. His granddaughter, Hanna and her husband tracked down the Icelanders that left for the US, and with the help of her niece, Elsa, contacted my mother. After meeting them for the first time on a trip to Iceland in 2012, my mom flew with me from Scotland to Reykjavík to introduce me to my Icelandic relatives.</p>
</section>

<section class="text">
    <h2>Reykjavík</h2>
    <h3>Meeting Long-Lost Family</h3>
    <p>When we arrived in Reykjavík, we picked up our rental car and drove to Aldis and Eystein's house. They are my mom's second cousins, older because of generational shifts, and grandparents to several young children. In the morning, they treated us to an amazing breakfast and tea, where we had the opportunity to meet many cousins of all ages. Coincidentally, we also intersected that day with my mom's first cousin's daughter Laura, who was just concluding a hiking trip with her boyfriend in Iceland!</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/reykjavik-breakfast.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/reykjavik-family.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> Icelandic breakfast spread: delicious and beautiful!
        <strong>Right: </strong> You gotta love the "long lost cousins selfie."
    </h5>
</section>

<section class="text">
    <h2>Snæfellsnes</h2>
    <h3>The Western Peninsula</h3>
    <p>While our path around the ring road would be counterclockwise from Reykjavík (southwest Iceland), we first drove north west, to the Snæfellsnes peninsula. With the guidance of my cousin Börkur and his parents Hanna and Sigurbjörn, we got a first taste of the beautiful and unique Icelandic terrain. Our first stop was at the <a href="http://english.landnam.is/">The Settlement Center</a> in Borgarnes, where we got to learn more about the founding of Iceland by Egil (pronounced: Ale).</p>

    <p>Next, we stopped at Deildartunguhver, a vent for Iceland's plentiful hot spring water. In west Iceland, hot water is so plentiful that hot water faucets use the spring water directly, and the cold water faucets are artificially chilled!</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-vents-warning.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-vents-heat.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> The steam coming out of the vents at Deildartunguhver.
        <strong>Right: </strong> The steam is so hot that patches of the wet stones have become dry.
    </h5>
</section>

<section class="text">
    <p>Next, we headed to Hraunfosar, the first of many waterfalls we saw on our trip. Hraunfosar is famous for the web of falls that sneak into the river from the bushes like tributaries into the main river. Just upstream a few feet is Barnafoss, a raging current with the remnants of a natural stone bridge. Börkur explained that a long while back, two local children fell off the bridge while trying to cross the river. Their mother had the natural bridge demolished.  Today, a man-made bridge crosses the stream just a few feet away from where the natural bridge used to exist.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-tributaries.jpg" class="with-viewer" %}
    <h5>The streams crawl out of the bushes into the river at Hraunfosar.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-mom.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-family.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-me.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> My mom, Diana.
        <strong>Center: </strong> Sigurbjörn, Hanna, and Börkur.
        <strong>Right: </strong> Yours truly in a dorky raincoat.
    </h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-wide.jpg" class="with-viewer" %}
    <h5>The man made bridge and the gap where the natural crossing used to be, according to legend. </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-house.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-room.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> That evening, Hanna and Sigurbjörn took us to their country home to spend the night.
        <strong>Right: </strong> My room was extra cozy.
    </h5>
</section>

<section class="text">
    <p>The next day, we drove west, to a small coastal village called Hellnar, where we had lunch and explored a beautiful rock beach and rock formation. There's a surreal trail from Hellnar to a the next town over that weaves between rolling rocky hills formed from lava years before.</p>
    <p>Iceland is a fairly mountainous country, with only the small flat areas by the ocean being habitable.  As a result, the ring road often hugs the inland mountains, creating a drastic dichotomy between the farmland and sea on one side, and a sharp rising hill or mountain on the other. Driving around Snæfellsnes was stunning, with the mountain tops disappearing into the clouds just feet away from the farmland.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/snaefellsnes-hill.jpg" class="with-viewer" %}
    <h5>Right next to the ring round, this hill leads straight up into the clouds. Just right of center, you can see a person for scale.</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-lunch.jpg" class="with-viewer" %}
    <h5>Lunch at Hellnar</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-rock-me.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-rock-mom.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> Me, at the rocky beach at Hellnar
        <strong>Right: </strong> My mom, underneath the natural bridge that connects two rocky outcroppings.
    </h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-wave.jpg" class="with-viewer" %}
    <h5>At Hellnar, the rocks themselves seem to form wave patterns.</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-wall.jpg" class="with-viewer" %}
    <h5>Cover art for my new Icelandic-punk album.</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-cliff.jpg" class="with-viewer" %}
    <h5>The cliffs at Hellnar. It really was this beautiful.</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-hills.jpg" class="with-viewer" %}
    <h5>This whole area is covered in lava from a recent spill. Over the years, life creeps up in between the rocks, eventually burying the volcanic rock.</h5>
</section>

<section class="text">
    <p>We took the scenic route back to Reykjavík, driving around the north side of the Snæfellsness peninsula. We stopped for lunch and to see Kirkjufellsfoss, a waterfall that sits next to picturesque mountain.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/snaefellsnes-kirkjufellsfoss-bottom.jpg" class="with-viewer" %}
    <h5>A shot of the Kirkjufell mountain from underneath the waterfall.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-kirkjufellsfoss-selfie.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-kirkjufellsfoss-top.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> Shameless Kirkjufellsfoss selfie.
        <strong>Right: </strong> The falls, from above.
    </h5>
</section>

<section class="text">
    <h2>The Golden Circle</h2>
    <h3>The Best Day-Trip from Reykjavík</h3>
    <p>After returning to Rekyjavik from Snæfellsnes, we took a loop around the <a href="https://en.wikipedia.org/wiki/Golden_Circle_(Iceland)">Golden Circle</a>, day-long loop inland from Reykjavík. On it, we got some great farm-to-table food at Efsti-Dalur I, history, sights, and relaxation.</p>
    <p>Our first stop was the World Heritage site, Þingvellir (or Thingvellir), a vally that was the meeting place from 930-1798 for the AlÞing (or Althing), the national parliament of Iceland.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-thingvellir-view.jpg" class="with-viewer" %}
    <h5>A view of Þingvellir, where the national parliament convened.</h5>

    {% include resimg.html src="travel/iceland/south-geysir-sign.jpg" class="with-viewer" %}
    <h5>Next we stopped at Geysir, a live vent that explodes with steam and hot water every few minutes.</h5>

    {% include resimg.html src="travel/iceland/south-geysir.jpg" class="with-viewer" %}
    <h5>Geysir, just before it erupted.</h5>

    {% include resimg.html src="travel/iceland/south-gullfoss-wide.jpg" class="with-viewer" %}
    <h5>At the outermost part of our route, we went to Gullfoss, a massive river and waterfall.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-gullfoss-far.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-gullfoss-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> The full view of Gullfoss.
        <strong>Right: </strong> Gullfoss from up close.
    </h5>
</section>

<section class="text">
    <p>Our last stop, where the were unfortunately no photos, was at the Secret Lagoon, a natural, open-air hot spring where we got to float and relax around in the pool for an hour or so to end our long day. It wasn't our first time in a hot spring (nor our last), but it definitely took the cake for best atmosphere. The pool ran right up to a rocky vent, that was too hot to even approach!</p>
</section>

<section class="text">
    <h2>Þórsmörk</h2>
    <h3>"Thor's Mork"</h3>
    <p>Probably the most magnificent part of our trip around Iceland was the day we spent in Þórsmörk, a national park surrounding a massive riverbed. Together with my third cousin Elsa, her daughter Kristborg, and one of her friends from school, my mom and I drove inland from the ring road into the park.</p>

    <p>The only way to get into Þórsmörk is to drive along the riverbed, parallel with the river, which can shift dramatically from season to season.  In places, the river bed can be almost a mile wide, but when we went in the summer, the river itself only took up a small fraction of that (maybe 100-200ft wide or so). The tricky thing is that there were at least fifteen small waterfalls and tributaries that lead into the main river, and the makeshift road that runs along the river crosses through them.  This meant that only large tour buses with massive wheels or a enterprising group of people in a 4x4 can make it past.  We were in the later camp.</p>

    <p>Sitting shotgun in Elsa's SUV, I watched as she bravely switched on all wheel drive, and expertly analyzed each river crossing, attempting to find the shallowest part of the stream to drive through.  Then, we'd hold on tight and forge our way across the tributaries (some of which were up to 50ft wide).  Even on her SUV, the water rose up to almost cover our wheels at points.  Pretty thrilling!</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-thorsmork-riverbed.jpg" class="with-viewer" %}
    <h5>The riverbed at Þórsmörk.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-thorsmork-riverbed-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-thorsmork-snack.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> The river moves so much that to cross it, you need a mobile bridge.  When the river shifts, they move the bridge.
        <strong>Right: </strong> When we got all the way into the park, we met up with Joi, Elsa's nephew who was working at the park for the summer.
    </h5>
</section>

<section class="text">
    <p>From the base camp, we left for a hike up a nearby mountain.  To get there, we had to cross the riverbed on foot, and then hike up the mountain. It didn't take long (only a few hours) to do the whole hike, but the view of the riverbed and glacier was amazing.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-thorsmork-view.jpg" class="with-viewer" %}
    <h5>A view of Þórsmörk, the riverbed, and the glacier that feeds it.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/iceland/south-thorsmork-pano-left.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-thorsmork-pano-center.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-thorsmork-pano-right.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>A panoramic view of the Þórsmörk river bed from the summit.</h5>
</section>

<section class="text">
    <p>On our way back out of the valley, we stopped by a canyon that juts off of the main valley, and followed a river inland. We ultimately decided to turn around because we didn't have the equipment to ford the river at a point where it blocked our path completely. </p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-thorsmork-canyon-trek.jpg" class="with-viewer" %}
    <h5>The rest of our gang, hiking up through the canyon.</h5>

    {% include resimg.html src="travel/iceland/south-thorsmork-canyon.jpg" class="with-viewer" %}
    <h5>These canyons hardly felt real, with mossy, idyllic cliff sides in sharp contrast to the gray rock.</h5>
</section>

<section class="text">
    <p>As we left Þórsmörk, we couldn't help but stop at the Seljalandsfoss, a stunning waterfall that we could walk behind.  Unlike the rest of Þórsmörk, which is inaccessible without a special vehicle, Seljalandsfoss sits right at the entrance, and even has a parking lot. Despite being more densely packed with tourists, it was well worth the visit.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-seljalandsfoss-left.jpg" class="with-viewer" %}
    <h5>The water at Seljalandsfoss flys off the cliffside and poors into a small pond below.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-seljalandsfoss-back.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-seljalandsfoss-path.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> A view of the sun, looking through the falls from behind.
        <strong>Right: </strong> Other visitors walking behind the falls.
    </h5>

    {% include resimg.html src="travel/iceland/south-seljalandsfoss-right.jpg" class="with-viewer" %}
    <h5>It was pretty hard to take a photo of Seljalandsfoss that <em>didn't</em> have a rainbow in it, but I like this one a lot.</h5>

    {% include resimg.html src="travel/iceland/south-sunset.jpg" class="with-viewer" %}
    <h5>After an amazing day, we stayed at Elsa's summer house in Eyrarbakki. Hard to sleep with the sun setting across the marshland for hours! This photo was shot at midnight out of the window of the room where I slept.</h5>
</section>

<section class="text">
    <h2>Driving East</h2>
    <h3>The Classic Iceland Road Trip</h3>
    <p>Still tired from the previous day of hiking, we drove east with the goal of reaching <a href="http://berunes.is/">Berunes</a>, the coastal farm where Sigridur (my great great grandmother) lived. Along the way, we saw more falls, our first blue lake, and many fjords.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-skogafoss-straight.jpg" class="with-viewer" %}
    <h5>Our first stop was at Skógafoss, a beautiful waterfall that pours straight down into a relatively shallow river.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-skogafoss-double-rainbow.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-skogafoss-rainbow.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> After ascending the steps and climbing out to an outcropping in front of Skógafoss, I got this shot of a double rainbow!
        <strong>Right: </strong> Skógafoss from above.
    </h5>

    {% include resimg.html src="travel/iceland/south-lagoon-clouds.jpg" class="with-viewer" %}
    <h5>After driving for a few hours, we stopped on the side of the road randomly to stretch our legs. After walking over a small mound, this is what we saw.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-lagoon-close.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-lagoon-wide.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> The Glacier Lagoon is blue from the glacier's mineral makeup.
        <strong>Right: </strong> The view from the small mound we mounted.
    </h5>
</section>

<section class="text">
    <p>Finally, after a full day of driving, we made it to <a href="http://berunes.is/">Berunes</a>. There's still a sheep farm there run by one descendant, Uncle Siggi&mdash;my mom's second cousin. Next door the buildings of the farm have been carefully converted into a bed and breakfast operated by Anna (also my mom's second cousin) and her husband Ólafur. The original barn is now the restaurant with wood carvings done by Ólafur.  A small church and graveyard has the gravestones of my great grandfather's siblings.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/east-berunes-family.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/east-berunes-farm.png" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> Inside the dining room at Berunes with Anna, Ólafur, and their son Eggert.
        <strong>Right: </strong> The beautiful sheep farm at Berunes.
    </h5>
</section>

<section class="text">
    <p>After spending the night and being treated to a delicious breakfast, we drove next door to Karlsstaðir, a farm run by my cousin Svavar and his wife Berglind. Alongside being a parent, farmer, and husband, Svavar is also the lead singer for <a href="http://www.prinspolo.com/">Prins Póló</a>, and Icelandic indie rock band.  He has converted the barn at Karlsstaðir into a performance space and café called <a href="http://havari.is/">Havarí</a>, where Berglind and he serve their home-made vegan sausages, turnip chips, and a soup of the day.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/east-farm.jpg" class="with-viewer" %}
    <h5>The Karlsstaðir farmhouse and fields.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/east-barn.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/east-coffee-house.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> From the outside, Havarí looks like a barn
        <strong>Right: </strong> But on the inside, it's a coffeehouse! (Svavar poses unknowingly.)
    </h5>
</section>

<section class="text">
    <h2>Mývatn</h2>
    <h3>Baths and Waterfalls in Northern Iceland</h3>
    <p>Our last stop on our trip was to northern Iceland, to Mývatn (ME-vaw-tin), which is famous for both beautiful waterfalls and large hot springs. We had quite an adventure getting to the north (we drove for ~25 miles on an empty tank of gas), but it was well worth the effort.  We stayed at a guest house right next to Goðafoss, a semicircular set of waterfalls that flow into a neon-turquoise river.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-godafoss-wide.jpg" class="with-viewer" %}
    <h5>The full view of Goðafoss from the observation deck.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-godafoss-rocks.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-godafoss-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> Goðafoss from below.
        <strong>Right: </strong> A close-up of the falls.
    </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-godafoss-path-left.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-godafoss-path-right.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The path leading to Goðafoss crosses a little brook, which feeds into the river.</h5>

    {% include resimg.html src="travel/iceland/myvatn-godafoss-stream.jpg" class="with-viewer" %}
    <h5>The rocks around the stream were a strikingly bright orange.</h5>
</section>

<section class="text">
    <p>Our next stop was at Dettifoss, which is known for being the most powerful waterfall in all of Europe. It's near-impossible to convey in pictures, but the falls are so powerful that the spray coming up off them extends for hundreds of feet in all directions.  You can't approach it without getting properly soaked.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-detifoss-wide.jpg" class="with-viewer" %}
    <h5>A view of the Dettifoss falls. </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-detifoss-rainbow.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-detifoss-me.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> A full rainbow across Dettifoss.
        <strong>Right: </strong> The dorky raincoat returns.
    </h5>
</section>

<section class="text">
    <p>My favorite stop in the Mývatn area was at the baths, where the hot pools provided a welcome respite from the wind and spray. This pool also included natural hot showers in the pool, so you could stand up and spray yourself whenever you wanted.</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-baths.jpg" class="with-viewer" %}
    <h5>The Mývatn hot springs are a tourist <em>hot spot</em>.</h5>
</section>

<section class="text">
    <p>After all of this, it was finally time to head back to Reykjavík.  But as we began our trip west, I spotted some cows grazing right next to the road.  What happened next was pretty magical.  I got out of the car and walked up to them to take pictures, and they walked right up to me to say hello!</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-cows-charging.jpg" class="with-viewer" %}
    <h5>These cows were eager to come say hi to me.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-cows-staring.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-cows-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> This brown cow seemed somewhat protective of the group.
        <strong>Right: </strong> The spotted one was super friendly.
    </h5>

    {% include resimg.html src="travel/iceland/myvatn-cows-wide.jpg" class="with-viewer" %}
    <h5>I finally said goodbye, and they went back to grazing, right next to lake Mývatn.</h5>
</section>

<section class="text">
    <p>We stopped along the way back in Akureyri, the fishing port city also famous for viewing the northern lights.  We met up with my cousin Antonía and her mother Sirra-- they are both in the tourism business and know lots about visiting Iceland.  They showed us around the town, and we got lunch at a local café.</p>
</section>

<section class="text">
    <h2>Reykjavík</h2>
    <h3>Closing the loop</h3>
    <p>After several hours of driving, we made it back to Reykjavík, where we spent the night one last time before catching our flight.  However, with a few hours left before leaving, we went out with my cousins to an outdoor farm museum, where they educate visitors about life in rural Iceland.  As a great bookend to the trip, I got more time with them, and learned to weave in the process!</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/reykjavik-farm-duo.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/reykjavik-farm-group.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Elsa's daughter Þórdís carting wool.
        <strong>Right: </strong>Our whole group at the museum.
    </h5>
</section>
