---
title: Greece, Spring 2016
start_date: 2016-03-13
end_date: 2016-03-17
cities:
  - Athens
  - Santorini
featured_image: travel/greece/athens-city-cover.jpg
hero_image: travel/greece/athens-city.jpg
---

<section class="text">
    <p>For my last spring break in college, I went with some friends to Greece, visiting Athens and Santorini.  It was one of my first times in Europe, and my first time in Greece, and I wasn't disappointed. None of us spoke Greek, so we had to get around using the Internet, Google Translate, and the help of many Athenians. Because we avoided tourist season by visiting in March, it wasn't too crowded.  I can imagine that going in the peak of summer would have been a very different experience.</p>
</section>
<section class="text">
    <h2>Athens</h2>
    <h3>New Life in an Ancient City </h3>
    <p>We spent most of our trip in Athens. The entire city has a blue-beige color to it, with 1970's white architecture that has lost its color. Visiting the Parthenon and the Acropolis museum are a must in Athens. both were stunning: the Parthenon for its size and history and the Acropolis for its modern aesthetic that somehow fits into such a classical city.</p>
</section>
<section>
    {% include resimg.html src="travel/greece/athens-parthenon.jpg" %}
    <h5>The Parthenon, up close. I was glad to be able to visit when not many tourists were there.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/greece/athens-parthenon-construction.jpg" %}
            {% include resimg.html src="travel/greece/athens-parthenon-alt.jpg" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/greece/athens-stadium.jpg" %}
            {% include resimg.html src="travel/greece/athens-city.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Top left:</strong> When we visited, the Parthenon was undergoing construction.
        <strong>Top right:</strong> The Parthenon, viewed from the east.
        <strong>Bottom left:</strong> The Theatre of Dionysus from above.
        <strong>Bottom right:</strong> A view of Athens and the Acropolis Museum from the Acropolis.
    </h5>

    {% include resimg.html src="travel/greece/athens-museum.jpg" %}
    <h5>Propped up on cement pillars, the Acropolis Museum hovers a few feet above the excavated ruins.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/greece/athens-temple.jpg" %}
            {% include resimg.html src="travel/greece/athens-church.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Temple of Hephaestus nearby the Acropolis.
        <strong>Right:</strong> Nearby, I found this beautiful old church.
    </h5>

</section>
<section class="text">
    <p>We also took a trip down the coast to the Temple of Poseidon, which sits on an outcropping on the southern peninsula. We were lucky to have a friend of a friend who was a taxi driver, who was able to help us coordinate transportation around the city. If he hadn't helped us, we might have been stuck in downtown Athens for most of our trip.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/greece/athens-wall.jpg" %}
            {% include resimg.html src="travel/greece/athens-ruins.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Temple of Poseidon has taken a lot more damage then many of the other sites we saw.
        <strong>Right:</strong> A straight-on shot of a stone wall at the Temple of Poseidon.
    </h5>
</section>
<section class="text">
    <h2>Santorini</h2>
    <h3>The Most Beautiful Island in the World</h3>
    <p>After spending several days in Athens, we took a day trip to Santorini, a Greek Island known for it's distinctive white architecture. We took the first flight there and the last flight back, which gave us plenty of time to walk around the island and eat breakfast, lunch, and dinner. We walked for about six miles along the mountain / coastal trail from Fira to Oia, stopping for water, pictures, and the occasional donkey.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/greece/santorini-plane.jpg" %}
            {% include resimg.html src="travel/greece/santorini-pool.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The clouds from above, on the plane to Santorini.
        <strong>Right:</strong> A cliffside pool overlooking the ocean.
    </h5>

    {% include resimg.html src="travel/greece/santorini-cafe.jpg" %}
    <h5>A cafe in Santorini, with a rare orange and yellow paint job.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/greece/santorini-church.jpg" %}
            {% include resimg.html src="travel/greece/santorini-donkey.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Churches in Santorini had this bright blue dome.
        <strong>Right:</strong> We had to stop to let the pack of donkeys by.
    </h5>

    {% include resimg.html src="travel/greece/santorini-cliff.jpg" %}
    <h5>One of the many moments in Santorini that didn't even feel real.</h5>
</section>
