---
title: Ireland and the UK, Summer 2016
start_date: 2016-07-04
end_date: 2016-07-21
cities:
  - Dublin
  - Galway
  - Inishmore
  - London
  - Brighton
  - Edinburgh
hero_image: travel/ireland/galway-cliffs.jpg
featured_image: travel/ireland/galway-cliffs-cropped.jpg
---

<section class="text">
    <p>Afer I graduate from college, I spent two months traveling around Europe. I spent the first two weeks with friends in <a href="/travel/italy-croatia-summer-2016">Italy and Croatia</a> and the second two weeks by myself in <a href="/travel/france-spain-summer-2016/">France and Spain</a>.  After my time in Spain, I flew to Ireland, where I began two weeks traveling across the British Isles, in Dublin.</p>
    <p>There, I met up with Yih-Jen, a friend from school who was also traveling around Europe at the time.  We shared a camera for the duration of our trip, so some photos were taken by him, and others by me. Together, we explored Dublin, Galway, and the Irish island Inishmore, as well as London, Brighton, and Edinburgh.</p>
</section>
<section class="text">
    <h2>Dublin</h2>
    <h3>Boston, but Older</h3>
    <p>My first stop in Ireland was Dublin, a beautiful town with way more to do than I got the chance to. We went on a tour of the Guinness factory, and saw a play, but what I enjoyed the most was just walking around the city and seeing the architecture and cultural landmarks. It's an embarrassing viewpoint, but having grown up outside Boston it reminded me a lot of home.  (For good reason, knowing Boston's history.)  It was clear that Dublin had way more history than Boston did, with older churches and cobblestone streets, but the organization, terrain, and design of the city were very reminiscent.</p>

    <p>TODO ARTS</p>
</section>
<section>
    {% include resimg.html src="travel/ireland/dublin-flags.jpg" class="with-viewer" %}
    <h5>Flags hanging across the street in Temple Bar (the touristy are of downtown Dublin with lots of bars)</h5>

    {% include resimg.html src="travel/ireland/dublin-church.jpg" class="with-viewer" %}
    <h5>One of the oldest Catholic churches in Ireland</h5>

    {% include resimg.html src="travel/ireland/dublin-kells.jpg" class="with-viewer" %}
    <h5>The ceiling of the library in the Book of Kells.</h5>
</section>
<section class="text">
    <h2>Galway</h2>
    <h3>Quintessential Irish Countryside</h3>
    <p>After spending a few days in Dublin, Yih-Jen and I took a train west to Galway, a beautiful city on a bay in west Ireland. It's a small town, with a few cute restaurants and shops, but not much to speak of beyond that. Unlike in Dublin, where we saw plays, went to pubs, and went on historical tours, in Galway we spent most of our time exploring the Irish countryside. In just a few days, we got to explore the town center, tour the Burren (a nearby national park), and the Cliffs of Moor. Galway and the surrounding countryside were some of the most beautiful places I visited on my trip.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/galway-river-tributary.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/galway-river.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A small stream feeding into the river by our Airbnb.
        <strong>Right:</strong> We walked along this river each morning to get into town.
    </h5>

    {% include resimg.html src="travel/ireland/galway-castle.jpg" class="with-viewer" %}
    <h5>A sea-side castle along on our way to the Cliffs of Moor</h5>

    {% include resimg.html src="travel/ireland/galway-cliffs.jpg" class="with-viewer" %}
    <h5>The Cliffs of Moor were stunning. We walked along the cliffside path, where the wind blew stronger than I liked.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/galway-cliffs-falling.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/galway-cliffs-dan.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> I initially had some difficulty staying on solid ground.
        <strong>Right:</strong> I eventually got my footing.
    </h5>
</section>
<section class="text">
    <h2>Inishmore</h2>
    <h3>An Island Paradise</h3>
    <p>On our third day in Galway, we took a day trip to the Inishmore, the largest of the Aran Islands, a cluster of pasture-covered rocks off the coast of west Ireland. There's a ferry from the Galway docks, but we decided to opt for a more glamorous entrance, by plane. We took a morning shuttle to an tiny airport half an hour down the coast, with exclusive service to Inishmore. We packed into this tiny 10-person plane, and took off towards the islands.  We were only in the air for about 20 minutes, landing smoothly on the Islands only airstrip.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/inishmore-plane-strip.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/inishmore-plane-flight.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> We flew "Aer Arann" to get to Inishmore.
        <strong>Right:</strong> A view of Inishmore from the air.
    </h5>

    {% include resimg.html src="travel/ireland/inishmore-gate.jpg" class="with-viewer" %}
    <h5>Yih-Jen and I went on a bike ride across the island. We stopped for a minute to catch our breath.</h5>

    {% include resimg.html src="travel/ireland/inishmore-goats.jpg" class="with-viewer" %}
    <h5>Along our bike ride, we stopped at several pastures, full of cows, horses, or in this case, goats.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/inishmore-donkeys-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/inishmore-donkeys-yj.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>I think he likes me.
        <strong>Right:</strong>Yih-Jen somehow got the donkeys to pose perfectly.
    </h5>

    {% include resimg.html src="travel/ireland/inishmore-cliffs.jpg" class="with-viewer" %}
    <h5>A view of the cliffs from Dún Aonghasa, a seaside fort on Inishmore</h5>

</section>
<section class="text">
    <h2>London</h2>
    <h3>The Other Metropolis</h3>
    <p>After an amazing stay in Ireland, we flew to London, where we spent a week exploring the museums, neighborhoods, and tea houses. It was pretty rainy (as is to be expected), but we managed to make our way everywhere we wanted to go without getting too wet.  Our daily routine was essentially a rotation between food, tea, and some tourist attraction on endless repeat.  Breakfast, tea, a museum, lunch, tea, a park, etc. Of everywhere I visited, London felt the most familiar. It was like New York City, but older and more tight-lipped. In contrast with Ireland, which gave me time to enjoy nature, London was a return to modern life.</p>
</section>
<section>
    {% include resimg.html src="travel/uk/london-fountain.jpg" class="with-viewer" %}
    <h5>A fountain in Trafalgar Square, the "absolute center of London."</h5>

    {% include resimg.html src="travel/uk/london-park-structure.jpg" class="with-viewer" %}
    <h5>We walked through Hyde Park, and saw this beautiful architecture installations.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-park-queen.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-swans.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A statue of Queen Elizabeth in Hyde Park.
        <strong>Right:</strong> The swans in Hyde Park were very friendly.
    </h5>

    {% include resimg.html src="travel/uk/london-pub.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/uk/london-rain.jpg" class="with-viewer" %}
    <h5>Yours truly, in front of the Buckingham Palace in a rare photogenic moment.</h5>

    {% include resimg.html src="travel/uk/london-view.jpg" class="with-viewer" %}
    <h5>A view of London from the Duck &amp; Waffle, a 24-hour brunch joint on the 39th floor of a skyscraper. </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-waffle.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-tea.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Duck and waffle at Duck &amp; Waffle.
        <strong>Right:</strong> Afternoon tea in London.
    </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-painting.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-vase.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A pencil drawing in the British Museum.
        <strong>Right:</strong> Chinese ceramic work in the British Museum.
    </h5>
</section>
<section class="text">
    On our last night in London, we took the tube to Bank and crossed the Millennium Bridge, a pedestrian-only bridge that crosses the river Thames. On the other side sits the Tate Modern museum, which we got into just before closing.  We weren't there long, but we got a chance to take the elevator to the observation deck, which has amazing views of the city.
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-night-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-night-sky.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Me, looking off the observation deck of the Tate Modern.
        <strong>Right:</strong> The river Thames, at night.
    </h5>

    {% include resimg.html src="travel/uk/london-night-view.jpg" class="with-viewer" %}
    <h5>The Millennium Bridge, St. Paul's Cathedral, and the London Skyline.</h5>
</section>
<section class="text">
    <h2>Brighton</h2>
    <h3>A View from the Pier</h3>
    <p>Midway through stay in London, Yih-Jen and I took a train south to Brighton, a beach town with quaint shops and a famous amusement park on the pier. After riding the roller coasters and exploring the alleys and shops, we spent most of the day catching Pokémon in Pokémon Go.</p>
</section>
    {% include resimg.html src="travel/uk/brighton-pier.jpg" class="with-viewer" %}
    <h5>Brighton's famous pier, on a perfectly cloudy day.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/brighton-pond.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/brighton-royal-pavillion.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Seagulls preferred the pool to the ocean.
        <strong>Right:</strong> The Royal Pavillion, in Brighton.
    </h5>

    {% include resimg.html src="travel/uk/brighton-graffiti-dan.jpg" class="with-viewer" %}
    <h5>We found an amazing graffiti art while exploring Brighton.</h5>

    {% include resimg.html src="travel/uk/brighton-graffiti-yj.jpg" class="with-viewer" %}
    <h5>Yih-Jen looking very cool.</h5>
<section>

</section>
<section class="text">
    <h2>Edinburgh</h2>
    <h3>A City on a Hill</h3>
    <p>We flew out of London into Edinburgh, Scotland, where we met up with my mom. It was the last stop in my trip that Yih-Jen and I did together, and my second-to-last stop overall (I flew to Iceland afterwards with my mom). The city of Edinburgh is organized around the hill on which Edinburgh castle sits. We stayed in Grassmarket, a neighborhood in the valley below the central hill.</p>
</section>
<section>
    {% include resimg.html src="travel/uk/edinburgh-sign.jpg" class="with-viewer" %}
    <h5>Guess where this picture was taken.</h5>

    {% include resimg.html src="travel/uk/edinburgh-wheel.jpg" class="with-viewer" %}
    <h5>The Princes Street Gardens, complete with the Scott Monument and a ferris wheel.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-wheel-diana.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-wheel-yj.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> My mom, on the Edinburgh ferris wheel.
        <strong>Right:</strong> Yih-Jen looking out from the ferris wheel.
    </h5>

    {% include resimg.html src="travel/uk/edinburgh-horse.jpg" class="with-viewer" %}
    <h5>A view of Edinburgh Castle from across the Princes Street Gardens.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-castle-view.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-castle-steps.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Looking down onto Edinburgh from the castle.
        <strong>Right:</strong> The steps leading up to the castle's inner wall.
    </h5>

    {% include resimg.html src="travel/uk/edinburgh-museum.jpg" class="with-viewer" %}
    <h5>The Royal Scottish Academy had an amazing exhibit on Impressionism.</h5>

    {% include resimg.html src="travel/uk/edinburgh-palace.jpg" class="with-viewer" %}
    <h5>We spent an afternoon touring the Palace of Holyroodhouse, which featured an ancient building on beautiful grounds.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-street.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-selfie.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> The Edinburgh streets wind and turn to fit the contour of the land.
        <strong>Right: </strong> Yih-Jen and I exploring Grassmarket, the neighborhood we were staying in.
    </h5>

    {% include resimg.html src="travel/uk/edinburgh-sky.jpg" class="with-viewer" %}
    <h5>We got great Thai food at a rooftop restaurant, a great meal complimented by a storybook sunset.</h5>
</section>
<section class="text">
    <p>After exploring the for several days, we took the better part of a day to visit the Royal Botanical Gardens of Edinburgh, a beautiful set of winding paths through gardens containing tress, shrubs, and flowers from around the world. While I'm normally not a big garden person, I would definitely recommend visiting these gardens to anyone visiting Edinburgh.</p>
</section>
<section>
    {% include resimg.html src="travel/uk/edinburgh-gardens-tree.jpg" class="with-viewer" %}
    <h5>We couldn't help taking photos sitting on this perfectly shaped tree.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/uk/edinburgh-flower-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-3.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/uk/edinburgh-flower-4.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-5.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-6.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Yih-Jen took amazing close-up shots of a beautiful range of flowers throughout the garden.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-gardens-yj.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-gardens-bridge.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Yih-Jen, on a small bridge that crosses a stream.
        <strong>Right:</strong> My mom and I, on the same bridge.
    </h5>

    {% include resimg.html src="travel/uk/edinburgh-gardens-walking.jpg" class="with-viewer" %}
    <h5>At the end of our stay in Edinburgh, my mom and I said goodbye to Yih-Jen and headed west, to Iceland!</h5>
</section>
