---
title: Ireland and the UK, Summer 2016
start_date: 2016-07-04
end_date: 2016-07-21
cities:
  - Dublin
  - Galway
  - Inishmore
  - London
  - Brighton
  - Edinburgh
hero_image: travel/ireland/galway-cliffs.jpg
featured_image: travel/ireland/galway-cliffs-cropped.jpg
---

<section class="text">
    <p>TODO</p>
</section>
<section class="text">
    <h2>Dublin</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/ireland/dublin-flags.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/ireland/dublin-church.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/ireland/dublin-kells.jpg" class="with-viewer" %}
    <h5>TODO</h5>
</section>
<section class="text">
    <h2>Galway</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/galway-river-tributary.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/galway-river.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/ireland/galway-castle.jpg" class="with-viewer" %}
    <h5>TODO</h5>


    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/galway-cliffs-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/galway-cliffs-falling.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/ireland/galway-cliffs.jpg" class="with-viewer" %}
    <h5>TODO</h5>
</section>
<section class="text">
    <h2>Inishmore</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/inishmore-plane-strip.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/inishmore-plane-flight.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/ireland/inishmore-gate.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/ireland/inishmore-goats.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/ireland/inishmore-donkeys-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/ireland/inishmore-donkeys-yj.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/ireland/inishmore-cliffs.jpg" class="with-viewer" %}
    <h5>TODO</h5>

</section>
<section class="text">
    <h2>London</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/uk/london-fountain.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/uk/london-park-structure.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-park-queen.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-swans.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/uk/london-pub.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/uk/london-rain.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-waffle.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-tea.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/uk/london-view.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-painting.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-vase.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/london-night-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/london-night-view.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/uk/london-night-sky.jpg" class="with-viewer" %}
    <h5>TODO</h5>
</section>
<section class="text">
    <h2>Brighton</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
    {% include resimg.html src="travel/uk/brighton-pier.jpg" class="with-viewer" %}
    <h5></h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/brighton-pond.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/brighton-royal-pavillion.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/uk/brighton-graffiti-dan.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/uk/brighton-graffiti-yj.jpg" class="with-viewer" %}
    <h5>TODO</h5>
<section>

</section>
<section class="text">
    <h2>Edinburgh</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/uk/edinburgh-horse.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-castle-steps.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-castle-view.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/uk/edinburgh-museum.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/uk/edinburgh-palace.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/uk/edinburgh-selfie.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/uk/edinburgh-sign.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/uk/edinburgh-sky.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/uk/edinburgh-street.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/uk/edinburgh-wheel.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-wheel-diana.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-wheel-yj.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>
</section>
<section class="text">
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/uk/edinburgh-gardens-tree.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/uk/edinburgh-flower-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-3.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/uk/edinburgh-flower-4.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-5.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-flower-6.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/uk/edinburgh-gardens-yj.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/uk/edinburgh-gardens-bridge.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong>
        <strong>Right:</strong>
    </h5>

    {% include resimg.html src="travel/uk/edinburgh-gardens-walking.jpg" class="with-viewer" %}
    <h5>TODO</h5>

</section>
