---
title: Hawai'i, Winter 2017
start_date: 2017-01-14
end_date: 2017-01-21
cities:
  - the Big Island
featured_image: travel/hawaii/mountain.jpg
---

<section class="text">
    <p>After a chilly December in San Francisco, Daniela and I took advantage of discounted post-holiday plane tickets to spend a week traveling around the Big Island of Hawai'i. We explored the forests, volcanic rock, and beaches in a relaxing seven-day trip.</p>
    <p>After landing in Kona, we drove south on route 11, making our way towards the Volcano National Park, where we spent our first night. But before we got there, we stopped at a harbor in the south-east for a half-day snorkeling trip.</p>
    <p>We boarded the catamaran, and held on tight as the boat bounced on the choppy waves for a hour-long trip to the snorkeling spot. When we arrived, the water was much more placid, perfect for snorkeling. While we could see just fine, a significant portion of the coral reefs were whitened or gray from rising sea temperatures.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/cruise-boat.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/cruise-location.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The catamaran we hopped on to go snorkeling.
        <strong>Right:</strong> Our snorkeling spot was tucked in a shallow cove.
    </h5>

    {% include resimg.html src="travel/hawaii/cruise-view.jpg" class="with-viewer" %}
    <h5>A view of the Hawaiian coast from the catamaran.</h5>
</section>

<section class="text">
    <h2>Volcano National Park</h2>
    <p>At the end of our first day, we made it to a bamboo forest in the south where we found our Airbnb. It was surreal. With a mix of rock and bamboo garden on the outside and paper doors and modern furnishings on the inside, the house was a fantastic mix of Japanese and American.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/volcano-house-exterior.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/volcano-house-interior.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        The exterior / interior of our Japanese Tea House Airbnb in Volcano National Park
    </h5>
</section>

<section class="text">
    <p>For the next two days, we ventured into various parts of Volcano National Park. The mix of waves, greenery, and volcanic rock was beautiful and dynamic.</p>
</section>

<section>
    {% include resimg.html src="travel/hawaii/volcano-crater.jpg" class="with-viewer" %}
    <h5>Volcanic lava from Kilauea filled this crater with a bed of rock.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/volcano-arch.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/volcano-waves.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Holei Sea Arch in Volcano.
        <strong>Right:</strong> The waves break against the volcanic rock.
    </h5>

    {% include resimg.html src="travel/hawaii/volcano-water.jpg" class="with-viewer" %}
    <h5>Peering off the edge, there was a fifty foot drop to the water.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/volcano-jog.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/volcano-rocks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>A large portion of the park is just flat expanses of volcanic flow.</h5>

    {% include resimg.html src="travel/hawaii/volcano-road.jpg" class="with-viewer" %}
    <h5>When we got out of our car, the sun beat down hard reflecting off hot asphalt and volcanic rock.</h5>
</section>

<section class="text">
    <h2>The Fruit Farm</h2>
    <p>When we left Volcano National Park, we drove west to the southwest corner of the Island. After making our way through Pāhoa, we turned off the main highway onto a dirt road, which we made our way down, at less than five miles and hour, for a full mile. Splashing through mud puddles and navigating around rocky, uneven ground, we made our way to the end of this road to a beautiful fruit farm.</p>
    <p>After meeting with our gracious hosts (the farmers), we walked through the biodynamic fruit garden on blanks, strewn on top of rocks, milk crates, and other improvised lifts. Feet free of excessive mud, we arrived at our next Airbnb: <a href="https://www.airbnb.com/rooms/11239828">a cabin studio overlooking the farmland</a>.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/farm-interior.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/farm-breakfast.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The inside of our cabin / studio.
        <strong>Right:</strong> Every morning, our hosts served us a breakfast of fresh fruit.
    </h5>
</section>
<section class="text">
    <p>From the fruit farm, we went on several day trips, to forests, beaches, and pools. Our favorite was by far Ahalanui County Beach Park, where we swam in the volcanically heated seawater pools. The ocean water flows in through a small man-made channel, where it mixes with the heated water.</p>
</section>
<section>
    {% include resimg.html src="travel/hawaii/farm-pool.jpg" class="with-viewer" %}
    <h5>We swam in the pools until sunset.</h5>
</section>
<section class="text">
    <p>On other days, we ventured north on a tour of nearby waterfalls. Some were right by the road, and others were further in, but none were more than an hour's drive from our cabin.</p>
</section>
<section>
    {% include resimg.html src="travel/hawaii/forest-pano.jpg" class="with-viewer" %}
    <h5>The walk through the forest towards &lsquo;Akaka Falls.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/forest-bamboo.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/forest-waterfall.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A stream along the walk to &lsquo;Akaka Falls.
        <strong>Right:</strong> A view of Rainbow Falls from above.
    </h5>

    {% include resimg.html src="travel/hawaii/forest-tall.jpg" class="with-viewer" %}
    <h5>&lsquo;Akaka Falls was absolutely beautiful.</h5>
</section>
<section class="text">
    <p>We also had the opportunity of visiting Hawaii Tropical Botanical Garden, a carefully crafted collection of tropical flowers, trees, and bushes. Carved into a seaside ravine, the garden was the life's work of Dan Lutkenhouse, and had a huge collection of different kinds of plants.</p>
</section>
<section>
    {% include resimg.html src="travel/hawaii/forest-path.jpg" class="with-viewer" %}
    <h5>After entering the garden, you immediately descend down a 500-foot landscaped boardwalk towards sea level.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/forest-falls.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/forest-waves.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A waterfall in the Botanical Garden.
        <strong>Right:</strong> A view of the sea at the bottom of the valley.
    </h5>
</section>
<section class="text">
    <p>On our last day, after checking out of our Airbnb, we headed across the Island to the northwest, where we'd spend the rest of our time. But on the way, we spent several hours hiking into Waipio Valley.</p>
    <p>Like many places along this coast, the road leads to the top of the valley, and any hiking involves walking down and then back up. While more fearful (or brave?) travelers paid to be driven in vans down the extremely steep road, we opted to walk. When we finally made our way back up, we were tired, but it was well worth the journey.</p>
</section>
<section>
    {% include resimg.html src="travel/hawaii/forest-beach.jpg" class="with-viewer" %}
    <h5>A shot down into the beach at the entrance of Waipio valley.</h5>
</section>

<section class="text">
    <h2>Back to Civilization</h2>
    <p>After all this time out in nature, we also needed some time at a hotel. We stayed in the Mauna Lani hotel in the west, which was right on the beach and whose lobby is a beautiful open courtyard.</p>
</section>
<section>
    {% include resimg.html src="travel/hawaii/hotel-interior.jpg" class="with-viewer" %}
    <h5>The lobby of the Mauna Lani has a seawater river running through it.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hawaii/hotel-boat.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hawaii/hotel-rocks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A boat moored off the coast.
        <strong>Right:</strong> The waves hit the volcanic rock nearby.
    </h5>

    {% include resimg.html src="travel/hawaii/hotel-reflection.jpg" class="with-viewer" %}
    <h5>We explored the seawater pools on the land adjacent to our hotel.</h5>
</section>
<section class="text">
    <p>While we spent most of our hotel time on the beach, we did venture outside the grounds for one special trip: a summit of Mauna Kea, the tallest mountain in Hawaii.</p>
    <p>You can drive up to the visitor center (elevation 9200 ft) with a normal car, but to get to the summit, you need a four-wheel drive car. We rented a Jeep Wrangler for the day, and made our way up. We stopped by the visitor information center to adjust to the altitude for about an hour or so, before turning on 4WD mode and heading up to the summit.</p>
    <p>It was an amazing view, and an amazing end to our otherworldly trip.</p>
</section>
<section>
    {% include resimg.html src="travel/hawaii/mountain.jpg" class="with-viewer" %}
    <h5>A view of a dormant volcano from Mauna Kea.</h5>
</section>

