---
title: Peru, Fall 2017
start_date: 2017-10-14
end_date: 2017-10-22
cities:
  - Lima
  - Cusco
  - Machu Picchu
featured_image: travel/peru/machu-picchu-classic-wide.jpg
hero_image: travel/peru/machu-picchu-classic.jpg
redirect_from:
  - /peru/
---

<section class="text">
    <p>I've always known that I wanted to visit Peru. Well really, I've always known that I wanted to visit Machu Picchu; I didn't even necessarily know where Machu Picchu was for most of my life, but I knew I wanted to go there. There's something inspirational and magical about the idea of a lost city hidden in the clouds at the top of a mountain. I've always known I've wanted to go there.</p>

    <p>What I didn't know is how fantastic Peruvian food is, or how much history there is in Lima, and in Cusco. When our plane took off from New York towards Lima, I only hoped it wouldn't rain on our day at Machu Picchu.</p>
</section>

<section class="text">
    <h2>Lima</h2>
    <p>When we arrived in Lima off a red-eye flight, we had some time to kill. Before heading anywhere, we went to Larcomar shopping mall, situated on a cliff looking out on the Pacific Ocean.</p>
</section>

<section>
    {% include resimg.html src="travel/peru/lima-mall-view.jpg" class="with-viewer" %}
    <h5>A view of the Pacific ocean from Larcomar.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/lima-mall-breakfast-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-mall-breakfast-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> Breakfast at Larcomar. <strong>Right:</strong> My dish was like lomo saltado with fried eggs on top.</h5>

    {% include resimg.html src="travel/peru/lima-mall-pano.jpg" class="with-viewer" %}
    <h5>The Larcomar shopping complex on a foggy Lima day.</h5>
</section>
<section class="text">
    <p>After breakfast, we met up with our friend Anastasia and explored Miraflores, the neighborhood in Lima where we were staying. Between delicious ceviche, beautiful murals, and bold architecture, I was surprised by how much I enjoyed spending time in Lima.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/lima-graffiti-anastasia.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-graffiti-rainbow.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Anastasia, Daniela, and me in front of some especially impressive murals in Miraflores.</h5>

    {% include resimg.html src="travel/peru/lima-graffiti-ground.jpg" class="with-viewer" %}
    <h5>I spotted some cool graffiti on the sidewalk.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/peru/lima-alley.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-street.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-car.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lima strikes this fascinating balance between old and new, playful and serious.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/lima-design-corner.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-design-estate.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/peru/lima-design-parking.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-design-white.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I absolutely love the architecture in Miraflores. On the same street you can find ornate palaces next to ultra-modern houses.</h5>

    {% include resimg.html src="travel/peru/lima-design-yellow.jpg" class="with-viewer" %}
    <h5>One of my favorite facades of a house in Miraflores.</h5>
</section>

<section class="text">
    <p>The next day, we took a series of buses to the Larco Museum a museum and gardens that hosts pre-Columbian artifacts.</p>
</section>

<section>

    {% include resimg.html src="travel/peru/lima-museum-exterior.jpg" class="with-viewer" %}
    <h5>After you get inside the museum gates, you're greeted with massive walls of bright flowers.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/lima-museum-flowers-anastasia.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-museum-flowers.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Anastasia, Daniela, and me with the flowers inside the Larco Museum's walls.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/peru/lima-museum-square-head.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-museum-square-prayer.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-museum-square-skull.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The artifacts themselves were stunning. These jugs were shaped like human heads.</h5>

    {% include resimg.html src="travel/peru/lima-museum-hats.jpg" class="with-viewer" %}
    <h5>I love these spooky headdresses.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/peru/lima-museum-tall-cat.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-museum-tall-nose.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-museum-tall-statue.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The museum also had beautiful sculpture, writings, and other artifacts.</h5>
</section>
<section class="text">
    <p>On our last day before heading out to Cusco, we went to Huaca Pucllana, the ruins of a 3rd century stepped pyramid. Made from clay bricks stood vertically, Huaca Pucllana was an administrative center for the Lima Civilization, which came before the Incas.</p>
</section>

<section>
    {% include resimg.html src="travel/peru/lima-huaca-pucllana-buildings.jpg" class="with-viewer" %}
    <h5>Huaca Pucllana sits in the middle of Miraflores.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/lima-huaca-pucllana-slope.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/lima-huaca-pucllana-mound.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Archaeologists discovered Huaca Pucllana under a mound of soil, and their still excavating it.</h5>

    {% include resimg.html src="travel/peru/lima-huaca-pucllana-texture.jpg" class="with-viewer" %}
    <h5>The pattern of the bricks is magnificent.</h5>
</section>


<section class="text">
    <h2>Cusco</h2>
    <p>After a few days in Lima, we headed to Cusco. While Lima sits along the coast at sea level, Cusco is up in the Andes mountains at 11,000 feet. At that height, elevation sickness is an unfortunate reality, We spent around three days casually exploring the city, while getting acclimated.</p>

    <p>The city is absolutely beautiful and the food was delicious, although we had to be careful to not try to pack too much into a single day. Even without any serious hikes or physical activity, we found ourselves sick and tired by the end of the day.<p>
</section>

<section>
    {% include resimg.html src="travel/peru/cusco-houses.jpg" class="with-viewer" %}
    <h5>Houses in Cusco are built into the surrounding hills.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/cusco-stairs.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-street.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> We walked up and down a lot of stairs getting around Cusco. <strong>Right:</strong> The narrow streets barely had room for pedestrians.</h5>

    {% include resimg.html src="travel/peru/cusco-view.jpg" class="with-viewer" %}
    <h5>Cusco, from on top of one of the surrounding hills.</h5>
</section>

<section class="text">
    <p>On our third day in Cusco, we took a cab up and through the hills to a llama zoo.</p>
</section>

<section>
    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/peru/cusco-llama-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-llama-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-llama-3.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/peru/cusco-llama-4.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-llama-5.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-llama-6.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/peru/cusco-llama-7.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-llama-8.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/cusco-llama-9.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We met a LOT of llamas. So many handsome faces!</h5>

    {% include resimg.html src="travel/peru/cusco-llamas-all.jpg" class="with-viewer" %}
    <h5>We got a few of the Llamas to pose with us for a picture</h5>
</section>

<section class="text">
    <h2>Machu Picchu</h2>
    <p>After spending a few days acclimating in Cusco, we headed to Machu Picchu. We went from Cusco on a guided tour by a company called Llama Path. They were great! We took a bus and then a train from Cusco, and got off the train a few miles before Aguas Calientes, the town at the base of Machu Picchu. From that stop, we started a day-long hike (6 miles, 2,000 feet) along the Inca trail towards Machu Picchu. They also offer a four-day version of this hike, but we only had time for the shorter version.</p>
</section>

<section>
    {% include resimg.html src="travel/peru/cusco-train.jpg" class="with-viewer" %}
    <h5>We took a beautiful train from Cusco to the starting point of our hike, 6 miles from Machu Picchu</h5>

    {% include resimg.html src="travel/peru/machu-picchu-hike-valley-2.jpg" class="with-viewer" %}
    <h5>The entire hike follows the Urubamba River, which flows north east to become the Amazon river.</h5>

    {% include resimg.html src="travel/peru/machu-picchu-hike-mountains.jpg" class="with-viewer" %}
    <h5>For almost the entire hike we were treated with breathtaking views of the surrounding mountains.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/machu-picchu-hike-flower-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/machu-picchu-hike-flower.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I spotted some beautiful bright pink flowers along our hike, and managed to capture the flowers and the surrounding mountains in a single shot.</h5>

    {% include resimg.html src="travel/peru/machu-picchu-hike-terraces.jpg" class="with-viewer" %}
    <h5>Now you might think that this is a picture of Machu Picchu, but it's actually Winay Wayna, one of the dozens of similar sites in the surrounding mountains.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/machu-picchu-hike-ruins.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/machu-picchu-hike-window.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/peru/machu-picchu-hike-terraces-faceoff.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/machu-picchu-hike-terraces-daniela.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Winay Wayna was a small agricultural village, located about 3 miles from Machu Picchu. </h5>

    {% include resimg.html src="travel/peru/machu-picchu-hike-terraces-2.jpg" class="with-viewer" %}
    <h5>A view of the river valley from Winay Wayna.</h5>
</section>

<section class="text">
    <p>Finally, after severals hours and countless steps and slips, we made it to Machu Picchu. By this time, the sun was setting and the site was closed for the day. While we wouldn't enter the city until the next day, we were able to get some amazing photos of it before the sun set but after all the tourists vacated.</p>
</section>

<section>
    {% include resimg.html src="travel/peru/machu-picchu-classic.jpg" class="with-viewer" %}
    <h5>The classic Machu Picchu shot, captured at golden hour.</h5>

    {% include resimg.html src="travel/peru/machu-picchu-classic-group.jpg" class="with-viewer" %}
    <h5>All four of us survived the hike! It was well worth it.</h5>
</section>

<section class="text">
    <p>After getting all the photos we could manage, we headed down the mountain to Aguas Calientes, where we spent the night. While we didn't get a lot of time to explore the town, it was certainly beautiful.</p>
</section>

<section>
    {% include resimg.html src="travel/peru/aguas-bridge.jpg" class="with-viewer" %}
    <h5>Aguas Calientes sits in the river valley below Machu Picchu.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/peru/aguas-apartments.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/aguas-clouds.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>In the morning, the clouds sat calmly between the surrounding mountains.</h5>

    {% include resimg.html src="travel/peru/aguas-houses.jpg" class="with-viewer" %}
    <h5>Many houses here are built directly on top of each other, which brings a characteristic sense of verticality to the town.</h5>
</section>

<section class="text">
    <p>The next morning, we took a bus up the winding road back to Machu Picchu. This time, we got to go inside, and explore the terraced fields, narrow streets, and ruined buildings.</p>
</section>

<section>
    {% include resimg.html src="travel/peru/machu-picchu-field.jpg" class="with-viewer" %}
    <h5>"Machu Picchu" is Quechua for "Old Mountain." However, the iconic mountain you see in pictures is actually the "Young Mountain," adjacent to the city. </h5>

    {% include resimg.html src="travel/peru/machu-picchu-plant.jpg" class="with-viewer" %}
    <h5>The Peruvian government decorates and maintains Machu Picchu. This plan is (obviously) not original to the ruin.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/peru/machu-picchu-valley-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/peru/machu-picchu-valley.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The city is truly fantastic from every angle, it's hard not to take a photo every ten seconds. </h5>

    {% include resimg.html src="travel/peru/machu-picchu-dan.jpg" class="with-viewer" %}
    <h5>My friend Lily got this photo of me right before we left Machu Picchu for Cusco, then Lima, then New York.</h5>
</section>


