---
title: Australia and New Zealand, Spring 2018
start_date: 2018-04-01
end_date: 2018-04-18
cities:
  - Sydney
  - the South Island of New Zealand
featured_image: travel/nz/tekapo/tekapo-blue-grass-cover.jpg
hero_image: travel/nz/tekapo/tekapo-blue-grass.jpg
redirect_from:
  - /australia/
  - /nz/
---

<section class="text">
    <p>It's rare that you get the opportunity to travel to the other side of the world.  This past April, I had the opportunity to travel for work to Sydney, Australia. To make better use of the trans-pacific flight, I decided to extend the trip by a week, and visit New Zealand.</p>

    <p>What's better, shortly after making this plan, I found out that my childhood best friend Nathan could also join me on the trip. While I spent a week working in Sydney, he explored the city and surrounding area. We ate dinner together, and wandered around downtown Sydney.</p>
</section>

<section class="text">
    <h2>Sydney</h2>
    <p>While I'd done my homework on New Zealand, Sydney was another story entirely. For the most part, I played it by ear, taking advice from my local coworkers, and wandering around the city. What we quickly discovered, is that the Australians <em>really</em> know how to run a cafe. More than any other meal, I always looked forward to "brekky."</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/australia/brekky-atmosphere.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/brekky-food.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Beautiful cafe, beautiful food.</h5>
</section>

<section class="text">
    <p>Overeagar for nature, we quickly headed to the coast, for the Bondi to Coogee walk. Easily walkable from where we were staying, the coastal path was a great start to our trip.</p>
</section>
<section>
    {% include resimg.html src="travel/australia/bondi-coogee-inlet.jpg" class="with-viewer" %}
    <h5>One of the many inlets viewable from the Bondi to Coogee walk.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/australia/bondi-coogee-cemetary.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/bondi-coogee-cliff.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I loved the coastline along the walk</h5>
</section>

<section class="text">
    <p>We also explored downtown Sydney: Hyde Park, the Botanical Gardens, and the Sydney Opera House. When I make it back to Australia again, I'll be sure to spend more time in Sydney. I didn't get to see much beyond the top tourist spots and a few neighborhoods. The city is so walkable, and neighborhoods so varied; it definitely merits a longer visit.</p>
</section>
<section>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/australia/hyde-park-church.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/hyde-park-memorial.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>St. Mary's Cathedral and the ANZAC War Memorial in Hyde Park</h5>

    {% include resimg.html src="travel/australia/botanical-garden-tree.jpg" class="with-viewer" %}
    <h5>A beautiful old fig tree in the Royal Botanical Gardens</h5>

    {% include resimg.html src="travel/australia/opera-wood.jpg" class="with-viewer" %}
    <h5>The Sydney Opera house isn't overrated</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/australia/opera-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/opera-point.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/opera-3.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/australia/opera-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/opera-4.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/australia/opera-5.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I couldn't stop taking pictures!</h5>


    {% include resimg.html src="travel/australia/opera-traditional.jpg" class="with-viewer" %}
    <h5>The opera house at sunset</h5>
</section>

<section class="text">
    <h2>New Zealand</h2>
    <p>After our quick week in Sydney, we flew into Queenstown, New Zealand. I had a bit of a run-in with the customs agents (there was honey in that gift basket??), but it didn't slow us down for long. </p>
</section>

<section>
    {% include resimg.html src="travel/nz/misc/misc-airplane.jpg" class="with-viewer" %}
    <h5>Flying into Queenstown really set the tone for the trip.</h5>
</section>
<section class="text">
    <p>We hopped in our rental car and hit the road. (The wrong side of the road mind you, so it took me a few minutes to get adjusted.) In a matter of minutes, we were winding our way up the mountain pass on the way to Wanaka. We spent our entire week exploring the many faces of the south island.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/misc/hill-winding-road.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/misc/hill-nathan.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We took the scenic route from Queenstown to Wanaka, over the Crown Range on a winding, mountain route</h5>
</section>

<section class="text">
    <p>Wanaka is a beautiful lakeside town, near the center of the south island. While we came for the Wanaka tree, we stayed for the lake, the hiking, and the ducks!</p>
</section>

<section>
    {% include resimg.html src="travel/nz/wanaka/wanaka-tree.jpg" class="with-viewer" %}
    <h5>The Wanaka tree was truly stunning</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/wanaka/wanaka-tree-nate-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/wanaka/wanaka-ducks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nate and me at Lake Wanaka, our duck friends at Lake Wanaka</h5>

    {% include resimg.html src="travel/nz/wanaka/wanaka-hill-view.jpg" class="with-viewer" %}
    <h5>We considered the longer Roys Peak hike, but opted for the shorter Iron Mountain summit</h5>
</section>

<section class="text">
    <p>The next day, we started our drive to Lake Tekapo. After only 45 minutes of driving, the landscape had totally transformed. Trees disappeared, replaced by low brush. We couldn't help but stop in Lindis Pass.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/lindis-pass/lindis-pass-road.jpg" class="with-viewer" %}
    <h5>This stretch of road in Lindis pass evokes some version of the American west that I'm not sure even exists outside my imagination</h5>

    {% include resimg.html src="travel/nz/lindis-pass/lindis-pass-mountains.jpg" class="with-viewer" %}
    <h5>After scrambling up the nearby hill, we got a great view of the surrounding mountain range</h5>
</section>

<section class="text">
    <p>After another hour or so of driving, we arrived at Lake Tekapo. Again, another complete transformation. The scrappy brush grew into taller tufts of grass. Brown became green. Over gentle hills emerged the sprawling body of water.</p>
    <p>I was overwhelmed by the color. Depending on how the sun hit it, Lake Tekapo would glow fluorescent or turquoise, navy or muddy gray. I couldn't help but just stare.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/tekapo/tekapo-blue-grass.jpg" class="with-viewer" %}
    <h5>I made my way to the shore, and sat on a rock for a while</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/tekapo/takapo-blue-rocks.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/tekapo/tekapo-blue.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>When the light hits, the lake turns bright turquoise</h5>

    {% include resimg.html src="travel/nz/tekapo/tekapo-house-far.jpg" class="with-viewer" %}
    <h5>The often photographed Church of the Good Shepherd, from a spot further along the shore</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/tekapo/tekapo-house-stairs.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/tekapo/tekapo-house-door.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Despite attracting tourists, the Church of the Good Shepherd still holds mass</h5>

    {% include resimg.html src="travel/nz/tekapo/tekapo-meditation-wide.jpg" class="with-viewer" %}
    <h5>Later in the day, I caught Nate relaxing by the coast.</h5>
</section>

<section class="text">
    <p>We spent the night in Tekapo, and took a risk on a stargazing tour with <a href="https://tekapostargazing.co.nz/">Tekapo Stargazing</a>, which ended up upstaging our day at the lake. Tekapo is a protected dark sky reserve, which means on good nights stargazing there is some of the best on earth. We saw the Milky Way, a handful of planets, more stars than I can describe, and even two other galaxies. The galaxies just appeared as dark masses in the sky; we would have confused them for clouds, if it weren't for the knowledgeable staff. We learned Māori myths, inspired by the southern constellations. At the end of the tour, we got to float on our backs in a heated pool and watch the stars in silence.  While I thought the prices might be a bit steep going in, I'd pay double to go back.</p>

    <p>The next morning, we continued driving north. Our decision to stay overnight in Tekapo meant we had a long day of driving ahead. We would loop around the Souther Alps, up towards Arthur's pass, with the ultimate goal of reaching Fox Glacier by nightfall.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/bridge/bridge-above.jpg" class="with-viewer" %}
    <h5>We stopped at Rakaia Gorge, and discovered a brush-covered path that took us down to the riverbed</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/nz/bridge/bridge-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/bridge/bridge-water.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/bridge/bridge-below.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The bridge over Rakaia Gorge is beautiful, and the Rakaia river has that same turquoise water as Lake Tekapo</h5>

    {% include resimg.html src="travel/nz/bridge/bridge-pano.jpg" class="with-viewer" %}
    <h5>I was lucky to catch this beautiful orange double-trailer truck in my panorama</h5>
</section>

<section class="text">
    <p>Time and time again, New Zealand's landscape demonstrated it's ability to transform. After driving for just a few minutes, I'd look around and find the landscape had completely changed. Just an hour after the greens and blues of Tekapo and the Rakia river, I was suddenly struck by dark gray mountains and bright yellow fields. We couldn't help but pull over again; our long drive would have to wait a few more minutes.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/golden/golden-fence.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/golden/golden-lake.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We stepped over the fence, and walked on the trodden grass to a nearby lake, where a few fisherman were stationed</h5>

    {% include resimg.html src="travel/nz/golden/golden-tree.jpg" class="with-viewer" %}
    <h5>The color!</h5>
</section>

<section class="text">
    <p>Determined to make more progress in our trip, we made our way north to Arthur's Pass, a drive known for its own drastic transformation. This time, it was from bald mountains and grassland to deep, green jungle. I loved the long, majestic bridges, the avalanche guards, and the otherwise unobstructed view of the greenery.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/arthurs-pass/arthurs-pass.jpg" class="with-viewer" %}
    <h5>It wasn't long before we pulled over again. This time, to get a photo of the Bealey Bridge.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/arthurs-pass/arthurs-kea-rock.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/arthurs-pass/arthurs-kea-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We didn't expect to meet several Kea, the friendliest birds I've ever met outside a zoo. Nationally endangered, we saw 5 of the 5000 Kea That are left on the planet.</h5>
</section>

<section class="text">
    <p>Having finally reached the west side of the island, we began driving south towards Fox Glacier. While it rained in the evening, we were lucky to have great weather during the day.</p>
    <p>We skipped the popular (and expensive) helicopter tours of the glaciers, instead opting to continue our trip south. We planned another ambitious day of driving: We drove for another 10 hours to complete our loop at Lake Wanaka and head through Queenstown to Te Anau, where we spent the night. But a long day of driving didn't preclude a few stops along the way!</p>
</section>

<section>
    {% include resimg.html src="travel/nz/beach/black-sand.jpg" class="with-viewer" %}
    <h5>Our first stop was to plant our feet into one of the black sand beaches.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/beach/black-sand-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/black-sand-nathan-rocks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Whenever Nate sees a beach, he immediately starts looking along the coastline for rocks, shells, and other treasures. He got a pretty good haul!</h5>

    {% include resimg.html src="travel/nz/beach/black-sand-rock-texture.jpg" class="with-viewer" %}
    <h5>I love the color and texture of the pebbles. Did someone say smartphone wallpaper?</h5>
<section>

<section class="text">
    <p>Our next stop was by far our longest, and another example of a whimsical decision paying off fantastically. We were driving south along the coast, and pulled over briefly at a viewpoint. We took a few pictures; nothing much to see. Then, on the way back to the car, I hopped up on a fence to see if I could see over the bushes. I snapped this picture:</p>
</section>

<section>
    {% include resimg.html src="travel/nz/beach/secret-beach-view.jpg" class="with-viewer" %}
    <h5>beach/secret-beach-view.jpg</h5>
</section>

<section class="text">
    <p>Our interest was piqued. So we continued driving for a few minutes, spotted a sign for a beach turn-off. We parked our car in the lot, and walked over the sand dune onto the beach. But it wasn't right. This wasn't the beach we saw from the viewpoint. It was a pebble beach, and there were people everywhere.</p>

    <p>We must have missed it. So we turned around, and drove back towards the viewpoint, and to our luck, just half a mile back up the road, there was an unmarked turn-off. Why not? After 300ft of dirt road, the road ended, in the middle of the forest. Having spotted a foot-path leading away from the road, we parked our car.</p>

    <p>Hiking boots and backpacks in tow, we started down the trail. It wasn't 3 minutes before we ran into an obstacle: a small river. Was that a good sign? We slipped off our shoes, and tip-toed our way across.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/beach/secret-beach-ford.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-explorers.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nate and me, fording the river</h5>
</section>

<section class="text">
    <p>It wasn't too much longer until we found what we were looking for: the beach! Completely deserted, and completely serene.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/beach/secret-beach.jpg" class="with-viewer" %}
    <h5>We made it!</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach-marker.jpg" class="with-viewer" %}
    <h5>To make sure we didn't lose our entry point to the path, we created a marker out of driftwood</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/nz/beach/secret-beach-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-dan-walking.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-nathan-walking-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We made our way down the beach towards the rocks</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/beach/secret-beach-rocks-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-rocks-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The rocks at the end of the beach were quite photogenic</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach-forest-wall.jpg" class="with-viewer" %}
    <h5>The beach was completely hidden from the road by a sharp cliff and dense forest</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach-sand.jpg" class="with-viewer" %}
    <h5>The cliffs, up close. Did we find the only passage?</h5>
</section>

<section class="text">
    <p>After spending a few hours wandering up and down the beach, we headed back to the car. With a lot of ground to cover, we hit the road. We only made a few brief stops between the secret beach and Te Anau, at the south end of the island.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/misc/misc-orange-rocks.jpg" class="with-viewer" %}
    <h5>Bright orange rocks at the side of the road</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/misc/misc-tree-moss.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/misc/misc-tree-moss-branches.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>All along the west coast, the jungle-like trees are covered in moss</h5>

    {% include resimg.html src="travel/nz/misc/misc-waterfall.jpg" class="with-viewer" %}
    <h5>We stopped to check out a road-side waterfall</h5>
</section>

<section class="text">
    <p>We couldn't help but stop as we approached Wanaka. The white-tipped mountains were much more impressive this second time around.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/wanaka/wanaka-valley.jpg" class="with-viewer" %}
    <h5>A beautiful valley, just north of Wanaka</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/wanaka/wanaka-lake.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/wanaka/wanaka-mountains-wide.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lake Wanaka and Lake Hawea are surrounded by snow capped mountains</h5>

    {% include resimg.html src="travel/nz/wanaka/wanaka-mountains.jpg" class="with-viewer" %}
    <h5>I was glad to have a camera with at least some zoom on it</h5>
</section>

<section class="text">
    <p>After two long days of driving, we were happy to get to bed in Te Anau. We didn't sleep in that late, however. In the morning, we woke up and drove north on route 94 towards the Hollyford track. While I had heard that the drive north from Te Anau was beautiful, I didn't quite comprehend what was in store. It gets cold enough in the valley that snow falls overnight, and yet it gets warm enough from the morning sun that the snow will melt quickly after sunrise. The result? We raced the sun north, and got to see yet another awe-inspiring transition in scenery: from morning dew, to snow, and back.</p>
</section>
<section>
    {% include resimg.html src="travel/nz/morning/morning-xp2.jpg" class="with-viewer" %}
    <h5>We stopped in the Eglinton Valley, because, well, it was beautiful</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/morning/morning-xp.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/morning/morning-river.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We were completely surrounded by mountains, where the snow had yet to melt</h5>

    {% include resimg.html src="travel/nz/morning/morning-mountains.jpg" class="with-viewer" %}
    <h5>This shot reminds me of the first photo I took in New Zealand: the mountains, from out the window of the airplane</h5>

    {% include resimg.html src="travel/nz/morning/morning-fog.jpg" class="with-viewer" %}
    <h5>It was hard to tell if this was morning fog, or steam from the melting snow</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/morning/morning-dew2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/morning/morning-dew.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I did my best to capture the sun reflecting off morning dew</h5>
</section>

<section class="text">
    <p>As we drove further into the valley, we reached a colder area, that had seen less snow. That meant that the bright yellow fields swiftly became white.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/morning/morning-snow-mountains.jpg" class="with-viewer" %}
    <h5>The snow hadn't melted yet!</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/morning/morning-snow-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/morning/morning-snow-3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>It's hard to believe this was just 15 minutes of driving after the previous set of photos</h5>
</section>

<section class="text">
    <p>Further along the drive, we saw a sign for "Mirror Lakes." With how the morning had started, how could we not stop? We weren't disappointed, the water was almost perfectly reflective! </p>
</section>

<section>
    {% include resimg.html src="travel/nz/morning/mirror-lakes-1.jpg" class="with-viewer" %}
    <h5>The mountains, reflected in Mirror Lakes</h5>

    {% include resimg.html src="travel/nz/morning/mirror-lakes-sign.jpg" class="with-viewer" %}
    <h5>Can you read the sign?</h5>
</section>

<section class="text">
    <p>While we spent the morning driving through a beautiful valley, that wasn't actually the intended main event for the day. We had been driving north to reach the Hollyford track, a hike along the Hollyford river. While the full hike to the ocean is a 5-day affair, we did just the first day as a round-trip hike, in about 6 hours. It was a flat and easy hike, and quite relaxing.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/hollyford/hollyford-first-bridge.jpg" class="with-viewer" %}
    <h5>We started off going across a swing bridge. My favorite! Lucky for me, there was a lot more where that came from</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-first-bridge-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-trailhead.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nate gets started from the trailhead</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-boardwalk.jpg" class="with-viewer" %}
    <h5>In the more swampy areas, they have installed boardwalks</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-green-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-swing-bridge-straight.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-swing-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-metal-bridge.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I enjoyed numerous bridges along the hike. Especially the swing bridges!</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-mountains.jpg" class="with-viewer" %}
    <h5>Views from the trail weren't bad either!</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-washed-out.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-washed-out-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Several parts of the trail had actually been washed out by diverted streams and rivers</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-moss.jpg" class="with-viewer" %}
    <h5>Moss on a fallen tree trunk</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-trees.jpg" class="with-viewer" %}
    <h5>It seemed like every tree had moss on it</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-duck-under.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-forest-floor.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-winding-path.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-river.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Some of my favorite shots along the track</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-end.jpg" class="with-viewer" %}
    <h5>After many hours of trecking, we finally made it back to the first swing bridge!</h5>
</section>

<section class="text">
    <p>For our last two days in New Zealand, we booked an overnight cruise in the Doubtful Sound. Less famous than Milford Sound, its more accessible and popular cousin, the Doubtful Sound isn't directly accessible by car. The cruise we booked included a bus from Te Anau to the dock, a water taxi across lake Te Anau, a bus over a mountain pass to Doubtful Sound. From there, we boarded the cruise ship, a small boat, designed for around 50 passengers.</p>
</section>

<section>
    {% include resimg.html src="travel/nz/cruise/cruise-valley-view.jpg" class="with-viewer" %}
    <h5>From the highest point of the mountain pass, we could see the Doubtful Sound in the distance</h5>
</section>

<section class="text">
    <p>We had originally booked the cruise as a way to get away from the more active parts of the trip. No more driving, choosing places to visit, or finding food to eat. We had heard that Doubtful Sound was one of the most peaceful places in all of New Zealand, and so we expected a quiet, relaxing, and reflective overnight. What we didn't expect was to make friends!</p>

    <p>We started chatting with the tour company office, and never really stopped! Nathan and I met two couples: Peter and David and Fran and Anna, as well as Fran and Anna's son: Jeremy. We started talking on the dock while waiting to board, and never really stopped! Over the next 24 hours, we spent almost all of our time with our new crew: sitting together at meals, hanging out on the deck of the boat, and learning about each others lives. It turns out we were all from the states, and Peter and David lived in New York, not far from Nate and me! We didn't just spend time together on the cruise: We've met up since, going out to meals, plays, and more.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/cruise/cruise-table.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-morning-nate-dan.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/nz/cruise/cruise-looking-off.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-david-peter.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Peter, David, Fran, Anna, Jeremy, Nathan, and me, on the water taxi and the cruise ship.</h5>
</section>

<section class="text">
    <p>The cruise did not disappoint. We glided along the otherwise empty sound, laying down anchor near the coast to go kayaking.</p>
</section>
    {% include resimg.html src="travel/nz/cruise/cruise-edge.jpg" class="with-viewer" %}
    <h5>The moss-like greenery on the edge of the sound</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/nz/cruise/cruise-mountains.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-boat-rainbow.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-boat-approaching-rocks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>As sunset drew closer, we drove towards the ocean. The water became much more choppy the closer we got!</h5>

    {% include resimg.html src="travel/nz/cruise/cruise-boat-god.jpg" class="with-viewer" %}
    <h5>The sunset at the mouth of the sound was fantastic</h5>

    {% include resimg.html src="travel/nz/cruise/cruise-god.jpg" class="with-viewer" %}
    <h5>This is the kind of light effect that you see in movies!</h5>
</section>

<section class="text">
    <p>After the sun set, we turned around and headed for more placid waters, to spend the night. We stargazed for a while, and spent the rest of the evening in the dining room, gathered around our now-familiar group table, talking, drinking tea and coffee, and sharing stories. While the beds were tiny, I was more than happy rest well that night. When we woke up, the sun had not risen yet.</p>
</section>
<section>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-morning-dark.jpg" class="with-viewer" %}
    <h5>A smaller boat led us back towards the main body of the sound.</h5>
</section>

<section class="text">
    <p>Here, I have to give credit to the tour company for the way they run this cruise. In the morning, we road to a different arm of the sound, with light just creeping over the surrounding mountains. Then, the captain instructed us all to report to the deck of the ship. He said that there was a mandatory activity: we were all to be completely quiet for five full minutes. He would turn off the engine, and the backup generator, to create perfect silence.</p>

    <p>We did exactly this, and waited.</p>

    <p>Over the course of the next five minutes, we all witnessed the sun come over the mountains, and slowly bathe the ship in light. The warmth of the sun, experienced in perfect silence, was an absolute luxury.</p>
</section>
<section>
    {% include resimg.html src="travel/nz/cruise/cruise-tree-sun.jpg" class="with-viewer" %}
    <h5>The sun, coming over the mountain range</h5>

    {% include resimg.html src="travel/nz/cruise/cruise-boat-morning.jpg" class="with-viewer" %}
    <h5>I spent most of the morning just staring off the deck of the boat</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/cruise/cruise-mountains-fog.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-morning.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The fog was the thickest I've ever seen</h5>

    {% include resimg.html src="travel/nz/cruise/cruise-mountains-fog-2.jpg" class="with-viewer" %}
    <h5>It's hard to admit, but even this photo doesn't do it justice...</h5>
</section>

<section class="text">
    <p>Finally, warmed by the sun, we set course for our original docking point, where we'd take the same multi-part trip in reverse, back to Te Anau.</p>
</section>
<section>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/nz/cruise/cruise-morning-david-peter.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-morning-nate-dan-close.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/cruise/cruise-morning-friends.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nate and I were lucky to make such kind friends in such a remote place.</h5>

    {% include resimg.html src="travel/nz/cruise/cruise-goodbye.jpg" class="with-viewer" %}
    <h5>With the cruise behind us, we were headed back to Queenstown for our flight back home. But I'm not worried. I'll be back!</h5>
</section>
