---
title: Japan, Fall 2018
start_date: 2018-08-31
end_date: 2018-09-22
cities:
  - Tokyo
  - Nikko
  - Kurobe
  - Takayama
  - Hirayu Onsen
  - Shirakawa-go
  - Ainokura
  - Kanazawa
  - Hakone
  - Kyoto
  - Hiroshima
  - Miyajima
featured_image: travel/japan-18/ainokura/ainokura-viewpoint-cover.jpg
hero_image: travel/japan-18/ainokura/ainokura-viewpoint.jpg
image_roots:
  - japan-18
redirect_from:
  - /japan-18/
---

<section class="text">
    <p>In August of this year, I was lucky enough to visit Japan for the third time. While the first two trips had been on with 40-person groups (for school and work respectively), this time was different. I was in Japan for three weeks: a week on my own, a week with friends, and a week for work.</p>

    <p>Over the course of my first two visits to Japan, I hit many of the top tourist spots. I walked through shrines in Kyoto, got lost in Osaka train station, and explored countless neighborhoods in Tokyo.</p>

    <p>On this trip, I wanted to branch out a bit. For my solo week, I decided to visit smaller cities that were a bit more off the beaten path. When my friends Evan, Matt, and Yih-jen joined me for the second week, I took them to my favorite spots in Tokyo and Kyoto plus a few new places along the way. Finally, after they left, I spent a week in Tokyo working during the day and enjoying the city at night.</p>

    <p>But before any of that, I had a long flight ahead of me.</p>
</section>

<section>
    {% include resimg.html src="travel/japan-18/misc/flight-takeoff.jpg" class="with-viewer" %}
    <h5>The massive jets of the A350, taking off towards Japan.</h5>
</section>

<section class="text">
    <h2>Tokyo</h2>
    <p>After a twelve hour flight and barely two hours of sleep, I landed in Tokyo. I dropped my bags in my hostel and took the subway to dinner. I had an 8:30 PM dinner reservation  at <a href="http://sushi-shin.com/">Sushi Shin</a>, a Michelin Star sushi restaurant with only ten seats. I was obviously excited, but let me tell you, I was also very, very tired. I don't recommend sitting down to a three-hour dinner at 8:30 PM after being awake for over 24 hours.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/tokyo/tokyo-sushi-decor.jpg" class="with-viewer" %}
    <h5>I sat right in front of the sushi chef.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-sushi-knife.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-sushi-tuna.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The chef used an ultra-sharp knife to make beautiful sashimi and nigiri.</h5>
</section>

<section class="text">
    <p>After passing out into my pillow, I woke up and caught the Shinkansen (bullet train) north towards Nikko. I was taken aback by how quickly the city landscape faded away and was replaced by a sea of rice paddies.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/misc/japan-rice-patties-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/misc/japan-rice-patties.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I had forgotten just how bright green the fields of rice were.</h5>
</section>

<section class="text">
    <h2>Nikko</h2>
    <p>I got off the local rail one stop from Nikko, in Imaichi, to drop off my bags at my Airbnb. While my Japanese isn't great, I managed to find my way to my host.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/nikko/nikko-airbnb.jpg" class="with-viewer" %}
    <h5>Whenever possible, I opted to stay on tatami mats. This room in Imaichi was one of my favorites.</h5>
</section>

<section class="text">
    <p>When I arrived in the Nikko town center, I started walking towards the shrine. I spent a few hours walking around the surrounding forest and gardens. Nikko is famous for being the burial place of Tokugawa Ieyasu, the Shogun who united Japan and moved the capital from Kyoto to Edo (which was renamed Tokyo).</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/nikko/nikko-bridge.jpg" class="with-viewer" %}
    <h5>The Shinkyo bridge serves as the entryway to the Nikko shrine complex.</h5>

    {% include resimg.html src="travel/japan-18/nikko/nikko-pagoda.jpg" class="with-viewer" %}
    <h5>This five-story pagoda attracted a lot of tourists.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/nikko/nikko-walkway.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/nikko/nikko-stairs.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>When I got inside the Nikko shrine, I walked out a side door and up several flights of stairs to the burial site.</h5>

    {% include resimg.html src="travel/japan-18/nikko/nikko-climb.jpg" class="with-viewer" %}
    <h5>I love the way the moss has grown on the stone walls.</h5>

    {% include resimg.html src="travel/japan-18/nikko/nikko-coins-bark.jpg" class="with-viewer" %}
    <h5>Many visitors stuff coins in the folds of tree bark for good luck.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/nikko/nikko-carvings.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/nikko/nikko-lanterns.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nikko is home to the most complex and ornate wood carvings in all of Japan as well as beautiful stone lanterns.</h5>
</section>

<section class="text">
    <p>After exploring the rest of the shrine, I walked up a quiet path into the woods behind the Nikko complex. I walked for about twenty minutes and reached a stone path which led up into the mountain.</p>
</section>
<section>

    {% include resimg.html src="travel/japan-18/nikko/nikko-stone-path-turn.jpg" class="with-viewer" %}
    <h5>The stone path I found in the forest above the shrine.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/nikko/nikko-small-damn.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/nikko/nikko-small-shrine.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>A while later, the path ended at a small shrine where I found myself alone.</h5>

    {% include resimg.html src="travel/japan-18/nikko/nikko-street.jpg" class="with-viewer" %}
    <h5>I walked back to the train station between two moss covered stone walls.</h5>
</section>

<section class="text">
    <h2>Kurobe</h2>
    <p>I woke up early in Nikko to catch a train to my next stop: Kurobe gorge. After taking the local rail and Shinkansen back to Tokyo, I transfered to another Shinkansen headed northwest into the mountains of central Japan. While the gorge itself is beautiful, the main attraction is the scenic railway, which runs for 20 kilometers. With over 20 bridges and 80 tunnels, the railway seemed to have a new interesting feature every minute.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kurobe/kurobe-bridge-2.jpg" class="with-viewer" %}
    <h5>The sightseeing train, as it crossed one of the longer bright red bridges along the gorge.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kurobe/kurobe-train.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kurobe/kurobe-vegetation.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I was alone in my train car, which had just a metal chain in place of walls or glass windows.</h5>

    {% include resimg.html src="travel/japan-18/kurobe/kurobe-valley.jpg" class="with-viewer" %}
    <h5>The surrounding mountains were almost completely covered in trees, even at some of the steepest points.</h5>

</section>

<section class="text">
    <p>After 80 minutes on the sightseeing train, we arrived at Keyakidaira, the last stop on the train. While the foot baths had closed just half an hour earlier, I was happy to explore the nearby area.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kurobe/kurobe-walking-bridge.jpg" class="with-viewer" %}
    <h5>This beautiful wooden bridge extends across the gorge at Keyakidaira.</h5>

    {% include resimg.html src="travel/japan-18/kurobe/kurobe-overhang.jpg" class="with-viewer" %}
    <h5>The path was carved into the rock face, resulting in an impressive overhang.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kurobe/kurobe-walking-tunnels.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kurobe/kurobe-walking-tunnels-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I walked along a riverside stone trail that featured small, claustrophobic tunnels designed to prevent water and debris from blocking the path.</h5>

    {% include resimg.html src="travel/japan-18/kurobe/kurobe-river.jpg" class="with-viewer" %}
    <h5>At the end of my short walk was a bend in the river and a rest area.</h5>
</section>

<section class="text">
    <h2>Takayama</h2>
    <p>I spent the night in Toyama, a city on the northwest coast of Japan. In the morning, I took a train towards Takayama. We had to stop at around the midpoint and transfer to a coach bus because typhoons had damaged the track a few weeks back. With a short delay, I soon found myself in downtown Takayama, where I'd be spending the night.</p>
    <p>When I arrived in Takayama, I became aware on the news that there was a typhoon headed for Tokyo. While the area I was in, Gifu prefecture, wasn't in danger, it still loomed over me while I was in Takayama.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/takayama/takayama-street.jpg" class="with-viewer" %}
    <h5>I instantly fell in love with the Edo-period architecture of Takayama's streets.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/takayama/takayama-pork-bun.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/takayama/takayama-beef-sushi.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/japan-18/takayama/takayama-beef-skewer.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/takayama/takayama-rice-ball.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The street food in Takayama was AMAZING. The highlight was definitely the Hida beef sushi (top right).</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-home.jpg" class="with-viewer" %}
    <h5>The facade and garden of a building in Takayama.</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-motercylce.jpg" class="with-viewer" %}
    <h5>I bumped into a man and woman taking pictures of this awesome motorcycle. Naturally, I snapped one myself.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/japan-18/takayama/takayama-street-tree.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/takayama/takayama-courtyard.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/takayama/takayama-corner-store.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I loved walking around Takayama, admiring the architecture, and wandering into shops and small museums that pepper the streets.</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-canal.jpg" class="with-viewer" %}
    <h5>A canal that ran through the center of town.</h5>
</section>

<section class="text">
    <p>After spending a few hours in town, I then headed up into the surrounding hills to explore the town's graveyard and shrine. I timed this pretty well, ending up walking amongst the trees during golden hour.</p>
</section>

    {% include resimg.html src="travel/japan-18/takayama/takayama-graveyard-woods.jpg" class="with-viewer" %}
    <h5>I walked quietly through a graveyard nestled into the woods above Takayama.</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-performance-center.jpg" class="with-viewer" %}
    <h5>As I reached the top of the hill, I saw this beautiful Kagura-den (ceremonial dance building).</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-hill-road.jpg" class="with-viewer" %}
    <h5>I walked down towards the town to continue my walk by some historic buildings.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/takayama/takayama-sliding-door.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/takayama/takayama-drum-better.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> the entryway to a beautifully preserved home. <strong>Right:</strong> A striking Bonshō (Buddhist bell).</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-lilly-pads.jpg" class="with-viewer" %}
    <h5>Lilly pads sit in a pool, in a preserved Zen garden.</h5>

    {% include resimg.html src="travel/japan-18/takayama/takayama-zen-garden.jpg" class="with-viewer" %}
    <h5>I loved the pattern of gravel in this Zen garden.</h5>
</section>

<section class="text">
    <p>With the typhoon about to make landfall in Osaka, I went to bed in Takayama. I had a bus ticket early the next morning, to take me up into the mountains. My destination was Hirayunomori, in Hirayu Onsen.</p>
</section>
<section>

<section class="text">
    <h2>Hirayu Onsen</h2>
    <p>While it did start to rain on the bus ride north, I made it safely to Hirayu Onsen, a hot spring town in the mountains near Takayama. I spent the night at Hirayunomri, a <em>ryokan</em> (bath house) with gender-segregated <em>onsen</em> (hot springs).</p>
    <p>I had been to ryokans in Tokyo, but Hirayunomri was completely on another level. I left my shoes at the door, and was shown to my small room. Inside, I found my <em>yukata</em>, a traditional cotton kimono, which translates literally as "bathing clothes." I didn't waste time getting changed and heading down to eat lunch, and head to the baths.</p>
    <p>The mens bathing facilities were a series of seven heated pools in a walled-off outdoor garden. As I hopped into the hot water, the rain really started to pick up. I ended up spending two or so hours up to my neck in various onsen, with the rain and wind raging in the surrounding forest. Safe from the typhoon, I soaked in the sulpher-smelling water.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/takayama/hirayunomori-ramen.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/takayama/hirayunomori-dinner.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> Lunch at Hirayunomori. <strong>Right:</strong> The onsen staff recommend I wear my yukata to dinner.</h5>
</section>


<section class="text">
    <h2>Shirakawa-go</h2>
    <p>After the storm subsided, I took the return bus trip to Takayama. After a few hours of shopping, I was back on a bus, this time headed to the world heritage sites of Shirakawa-go and Ainokura. The former is a larger town that I was able to tour but not stay in, and the latter was smaller and tucked away in the mountains.</p>
    <p>Both are known for the Gassho-style houses, where dried grass is arranged in steep sloping roofs. These roofs, meant to look like hands folded in prayer, also serve to regulate temperature in the houses, especially in winter, where they commonly see several feet of snow.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/ainokura/shirakawago-walkway-2.jpg" class="with-viewer" %}
    <h5>Walking along a rice paddy in Shirakawa-go.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/ainokura/shirakawago-rice.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/ainokura/shirakawago-house.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The Gassho-style houses intermingle with more contemporary style houses throughout the village.</h5>

    {% include resimg.html src="travel/japan-18/ainokura/shirakawago-attic.jpg" class="with-viewer" %}
    <h5>Gassho-style roofs are constructed without nails. The craftsmen use rope to bind the roofing material to the rafters.</h5>

    {% include resimg.html src="travel/japan-18/ainokura/shirakawago-view.jpg" class="with-viewer" %}
    <h5>A view of Shirakawa-go from the attic of a Gassho-style house.</h5>
</section>

<section class="text">
    <h2>Ainokura</h2>
    <p>While initially I was disappointed that I wasn't allowed to spend the night in Shirakawa-go (because they don't rent rooms to one person parties), it ended up being a stroke of luck. The guest house company I used to reserve my accommodation recommended Ainokura, a much smaller town 30 minutes south by car from Shirakawa-go.</p>
    <p>I was able to reserve a room in one of the handful of Gassho-style houses in Ainokura, which included a home-cooked dinner and breakfast by the family that owned the house. If Shirakawa-go was just a tad touristy, with many gift shops and people with suitcases, Ainokura was an escape from all of that. After dinner, I walked around in the darkness, and enjoyed the quiet that came with being tucked in between two mountains.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/ainokura/ainokura-viewpoint.jpg" class="with-viewer" %}
    <h5>Shortly after arriving, I hiked up to a viewpoint, where I got an amazing photo of Ainokura.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/ainokura/ainokura-tea.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/ainokura/ainokura-dinner.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> I was served tea and cookies on arrival. <strong>Right:</strong> I ate dinner with two other guests around a traditional fire pit.</h5>
</section>

<section class="text">
    <h2>Kanazawa</h2>
    <p>After waking up refreshed in Ainokura, I took a bus and a train to Kanazawa, the last stop before I would return to Tokyo to meet up with Evan, Matt, and Yih-jen. I later learned that Kanazawa was just starting to be discovered by tourists, following the construction of a Shinkansen line connecting it with Tokyo, Kyoto, and Osaka.</p>
    <p>I hadn't heard much about the city before visiting it, and I was surprised by the wide variety of cultural sites to visit, amazing and affordable food, and the welcoming people. It was one of my favorite stops!</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-fish-market.jpg" class="with-viewer" %}
    <h5>On my way into town, I walked through Omicho market, where I had an extremely fresh sushi lunch.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-geisha-street.jpg" class="with-viewer" %}
    <h5>On the first evening, I walked around the traditional geisha district and had dessert.</h5>
</section>

<section class="text" id="kenroku-en">
    <p>The next morning, I woke up early to see the main attraction in Kanazawa: Kenroku-en. Kenroku-en is a "four season garden," an immaculately curated garden that is designed to look beautiful in all four seasons. While I only saw it on this one overcast morning, I can only imagine it's beautiful at other times of year as well.</p>
</section>
    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-lantern.jpg" class="with-viewer" %}
    <h5>I absolutely love this stone lantern on the lake.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-bent-tree.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-tree-supports.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Many of the trees had interesting shapes or wooden supports holding them up.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-bridge.jpg" class="with-viewer" %}
    <h5>I walked across this bridge towards the lake.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-stone-bridge.jpg" class="with-viewer" %}
    <h5>This three-way stone bridge wasn't accessible by foot.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-river.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-shrubs.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Every corner of the garden was well curated.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-stepstones.jpg" class="with-viewer" %}
    <h5>These large stones invite a slower, more wandering pace.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-garden-stone-path.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanzawa-garden-planks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I love the different footbridges scattered throughout the garden.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanzawa-garden-walkway.jpg" class="with-viewer" %}
    <h5>I ended my visit by walking up to the top of the hill, to a quite viewpoint above the lake.</h5>
</section>

<section class="text">
    <p>Right across a bridge from Kenroku-en is Kanazawa Castle, many buildings of which are faithful recreations of the 16th-century fortress. With my entry ticket I got access to the grounds and the building interiors.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-castle-moat.jpg" class="with-viewer" %}
    <h5>A moat extends around the entirety of the castle.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-castle-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-castle-door.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> Me at the castle. <strong>Right:</strong> The arch of the main entrance is one gigantic tree trunk.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-castle-interior.jpg" class="with-viewer" %}
    <h5>From the inside, you can tell that the entire castle was designed as a slight parallelogram, for better visibility of the surrounding area.</h5>

    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-castle-view.jpg" class="with-viewer" %}
    <h5>The view from the top of Kanazawa Castle was impressive.</h5>
</section>

<section class="text">
    <p>After leaving the castle, I walked over to the ninja district, where I toured a traditional Japanese house. The garden in the house was strikingly dense, seemingly overflowing with plant life.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-ninja-garden-lantern.jpg" class="with-viewer" %}
    <h5>Three koi fish swim in the pond.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-ninja-garden-lake.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-ninja-garden.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The gardens were extremely well kempt.</h5>
</section>

<section class="text" id="dt-suzuki">
    <p>As a final stop, I visited the D.T. Suzuki museum. Erected in honor of the famous eastern philosopher by the same name, the museum had a layout like none I've seen anywhere else. After a long hall entryway to clear the head, there is a small exhibition space, with information about D.T. Suzuki and his life. Then, in the next room there were several comfortable chairs and many bookcases full of Suzuki's writings that had been translated into various languages. The rest of the museum (and the majority of the physical space) is taken up by what they call a "contemplative space." This beautiful pool and reflection area was just what I needed after a long day.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-suzuki-hallway.jpg" class="with-viewer" %}
    <h5>This hallway lead to the exhibition space.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-suzuki-wall-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-suzuki-contemplative-space-2.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-suzuki-contemplative-space.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kanazawa/kanazawa-suzuki-wall.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The contemplative space was extremely photogenic, and a great place to relax for a while and think.</h5>
</section>

<section class="text">
    <h2>Tokyo</h2>
    <p>After a stunning week traveling around Japan, I finally headed back to Tokyo to meet up with Evan, Matt, and Yih-jen for the second week. After coaching my friends through the process of landing in Narita airport and taking the train into Tokyo, we met up and dropped our bag in an Airbnb nearby. From there, we headed towards the Tokyo National Museum on the metro. We got off a stop early and walked through the park.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/tokyo/tokyo-lillies.jpg" class="with-viewer" %}
    <h5>If you can believe it, this is actually a massive pond covered in flowers.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-national-museum-pool.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-national-museum.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I love walking around the Tokyo National Museum.</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-akihabara.jpg" class="with-viewer" %}
    <h5>Later that day, we went to Akihabara, the center of all things anime in Japan.</h5>
</section>

<section class="text">
    <p>We went to bed early that night because the next day we were scheduled to see Tsukiji fish market. The tuna auction at the Tsukiji market has been on my bucket list since I first visited Japan. When we were doing our research online, I learned that we were going to the market just one week before it closed permanently, moving to a new location.</p>
    <p>Going to the Tsukiji fish market is quite the experience. We woke up at 2:30 AM to arrive at the market at 3:30. When we arrived, we were led into a room and told to wait, for hours. Luckily, we brought playing cards...</p>
</section>
<section>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-cards.jpg" class="with-viewer" %}
    <h5>The four of us playing cards on the floor. We were very, very, sleepy.</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-samples.jpg" class="with-viewer" %}
    <h5>When we were finally let out of the waiting room, we went into the auction room, and saw various fishermen evaluating the quality of the tuna.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-fish-on-the-move-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-fish-on-the-move.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-hook.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Every where we looked were frozen tuna, hard as rocks.</h5>


    {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-lifting.jpg" class="with-viewer" %}
    <h5>The auction workers use sharp hooks with long handles to lift and move around the tuna.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-knives.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-tsukiji-breakfast.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>When the auction was over, we went into the outer market for breakfast (right) and shopping (left).</h5>
</section>


<section class="text">
    <h2>Hakone</h2>
    <p>After a delicious breakfast, we went back to our Airbnb, packed our bags, and got on the Shinkansen headed towards Hakone. Just an hour outside of Tokyo, Hakone is mountain town known for its hot springs. The four of us stayed at a ryokan, which had an awesome array of indoor and outdoor onsen.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/hakone/hakone-ryokan-garden.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/hakone/hakone-ryokan-garden-night.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The garden of the ryokan we were staying in, at day and at night.</h5>
</section>


<section class="text">
    <p>After taking a dip in the onsen, we went for a hike towards Lake Hakone. We hiked along one of the best preserved sections of the old Tōkaidō trail, which connected Kyoto and Edo in the Edo period (1603-1868). On an overcast September day, the trail was completely beautiful.</p>
</section>
<section>

    {% include resimg.html src="travel/japan-18/hakone/hakone-hike.jpg" class="with-viewer" %}
    <h5>The beginning of the trail was a simple gravel path through the forest.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/hakone/hakone-flower.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/hakone/hakone-tokaido.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>As we walked along the stone path, we saw many beautiful flowers and plants.</h5>

    {% include resimg.html src="travel/japan-18/hakone/hakone-hike-stone-path.jpg" class="with-viewer" %}
    <h5>The most impressive parts of the path were constructed of perfectly fitting stones.</h5>

    {% include resimg.html src="travel/japan-18/hakone/hakone-lake-tree.jpg" class="with-viewer" %}
    <h5>When we reached Lake Hakone, we walked along the water towards Hakone Shrine.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/hakone/hakone-nerds-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/hakone/hakone-shrine-gate.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>At the base of the shrine is a large torii gate that sticks out of the lake. Further up the hill was the proper shrine. </h5>

    {% include resimg.html src="travel/japan-18/hakone/hakone-lantern.jpg" class="with-viewer" %}
    <h5>I took this photo on our way down; I love how the lantern pops against the green of the moss.</h5>
</section>

<section class="text">
    <h2>Kyoto</h2>
    <p>The next four days of our trip were based in Kyoto. We'd been overwhelmed by Tokyo, calmed down in the onsen at Hakone, and now would spend several days exploring cultural sights in Japan's old capital.</p>
    <p>Our first stop was Fushimi Inari Taisha, a shinto shrine dating back to the eighth century that is famous for the hundreds of orange torii gates that line the paths up into the mountain. When I first visited Fushimi Inari Taisha in 2015, I wasn't able to make it all the way up the mountain. It was my intention to walk the entire path to the summit on this visit, but I was foiled for the second time. The typhoon that had hit this area the previous week had done serious damage to the forest, and many of the trails had been closed. I guess I'll have to come back again to see the summit.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kyoto/kyoto-inari-gates-straight-ahead.jpg" class="with-viewer" %}
    <h5>The torii gates seem to continue endlessly up into the mountains.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kyoto/kyoto-inari-selfie.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kyoto/kyoto-inari-split.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> Evan, Yih-jen, and me. <strong>Right:</strong> The torii gates are packed extremely tightly together.</h5>

    {% include resimg.html src="travel/japan-18/kyoto/kyoto-inari-lake.jpg" class="with-viewer" %}
    <h5>The highest point I was able to reach was this pond, which showed signs of the typhoon's impact.</h5>
</section>


<section class="text">
    <p>Just an hour across Kyoto, we took the metro to a different forest, this one made of bamboo! Located in Arashiyama, in northwest Kyoto, this bamboo grove had also been partially damaged by the typhoon.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kyoto/kyoto-small-train-station.jpg" class="with-viewer" %}
    <h5>The train station at Arashiyama.</h5>

    {% include resimg.html src="travel/japan-18/kyoto/kyoto-bamboo.jpg" class="with-viewer" %}
    <h5>I'd never seen this much bamboo all in one place!</h5>

    {% include resimg.html src="travel/japan-18/kyoto/kyoto-bamboo-close.jpg" class="with-viewer" %}
    <h5>I love the curve of the bamboo stalks.</h5>
</section>


<section class="text">
    <p>Just a few minutes from the bamboo grove was the Arashiyama Monkey Park, located 30 minutes worth of steps above the town on a nearby mountain. Not only did we get to play with monkeys, feeding them peanuts and the like, but we also got great views of Kyoto.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/kyoto/kyoto-monkeys.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/kyoto/kyoto-monkey-baller.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The monkeys were so friendly!</h5>

    {% include resimg.html src="travel/japan-18/kyoto/kyoto-monkeys-contemplative.jpg" class="with-viewer" %}
    <h5>It would be pretty awesome to get this view all day.</h5>
</section>

<section class="text">
    <p>Back in Kyoto, we enjoyed lots of great shopping and food. We had delicious <em>shabu shabu</em> (Japanese hot pot), some delicious conveyor belt sushi, and street food. My favorite, though, was the completely delicious ramen we got at a traditional ramen restaurant. The entire restaurant was single-person stalls where you order, receive your meal, and eat in isolation. Not only was it a unique experience, it was also some of the best ramen I've ever had, and that's saying something!</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/kyoto/kyoto-ramen.jpg" class="with-viewer" %}
    <h5>A photo of my stall at the Ramen restaurant in Kyoto.</h5>
</section>

<section class="text">
    <h2>Hiroshima & Miyajima</h2>
    <p>After spending a few days in Kyoto, we decided to take a day trip to see Hiroshima. We knew we were in for an emotional experience, so we wanted something else to balance out the day. To achieve this, we divided our day in half: spending the morning and early afternoon in Hiroshima at the peace park, and our afternoon and evening in Miyajima, an island off the coast. The result was probably my favorite day of the trip, a balance of historical and natural.</p>
    <p>The evening before we left, the nuclear bombing came up in our discussion. It was a natural question, it seemed: If you could go back in time and stop the nuclear bomb, would you? On one side, the effects of both the explosion and radiation are now known (over 200,000 people were killed) and are nothing but horrific. On the other side, it would not be unreasonable to wonder if even more would have died had World War II continued in the Pacific theater.</p>
    <p>Over the course of our time in Hiroshima, it became clear to me that this discussion was somewhat childish. We cannot go back in time, and we cannot bring innocent people back to life. What we can do is lobby for complete international nuclear disarmament, because no country or people should ever face destruction of this caliber.</p>
    <p>When we got of the Shinkansen, we arrived quickly at the Hiroshima peace park, an entire zone of the city dedicated to remembering of the US bombing of Japan and promoting nuclear disarmament. I was moved by the collection of memorials that were carefully curated throughout the park.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-dome-2.jpg" class="with-viewer" %}
    <h5>The Atomic Bomb Dome has been preserved just as it was after the nuclear bomb landed just 160 meters away.</h5>

    {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-childrens-memorial.jpg" class="with-viewer" %}
    <h5>Across a small bridge sat the Children's Peace Monument. When we arrived, a class of schoolchildren were singing a song and presenting an offering of paper cranes.</h5>

    {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-childrens-memorial-cranes.jpg" class="with-viewer" %}
    <h5>Paper cranes, made by Japanese schoolchildren and other visitors, are preserved at the memorial in memory of Sadako Sasaki (who died from radiation poisoning after famously folding 1000 paper cranes with her classmates) and all the other children who died from the bombs' blast and radiation.</h5>


    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-bell-close.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-bell-only.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nearby, the Peace Bell can be rung by visitors. The mallet strikes the bell on an engraving of an atom.</h5>

    {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-mound.jpg" class="with-viewer" %}
    <h5>The mound was erected to memorialize the ashes of the deceased people whose names are unknown or did not have any family left alive to identify them.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-light.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/hiroshima/hiroshima-light-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left:</strong> The Peace Flame, in Hiroshima's Peace Park. <strong>Right:</strong> A view of the Atomic Bomb Dome and the Place Flame.</h5>
</section>

<section class="text">
    <p>While I'm not posting pictures from inside, I was especially glad to have visited the National Peace Memorial to the Atomic Bomb Victims, and the Peace Memorial Museum. The curation and steadfast commitment to nuclear disarmament still stick with me.</p>
    <p>Later in the afternoon, we took a water taxi from the Peace Park to Miyajima, an Island off the coast of Japan, just half an hour from Hiroshima.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/miyajima/miyajima-deer.jpg" class="with-viewer" %}
    <h5>When we got off the water taxi, we immediately noticed deer wandering around the dock.</h5>

    {% include resimg.html src="travel/japan-18/miyajima/miyajima-gate.jpg" class="with-viewer" %}
    <h5>Miyajima is famous for the massive torii gate that sticks out of the water.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/miyajima/miyajima-low-tide.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/miyajima/miyajima-tide-group.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The gate is exposed at low tide.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/miyajima/miyajima-moss.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/miyajima/miyajima-bridge.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We walked for about 20 minutes inland to reach a ropeway to the top of the mountain!</h5>

    {% include resimg.html src="travel/japan-18/miyajima/miyajima-bridge-below.jpg" class="with-viewer" %}
    <h5>I loved this bridge, just a few minutes inland from the Miyajima shrine.</h5>

    {% include resimg.html src="travel/japan-18/miyajima/miyajima-view-2.jpg" class="with-viewer" %}
    <h5>The view from the ropeway was amazing!</h5>

    {% include resimg.html src="travel/japan-18/miyajima/miyajima-yihjen-pano.jpg" class="with-viewer" %}
    <h5>Yih-jen, taking a photograph of the surrounding islands.</h5>

    {% include resimg.html src="travel/japan-18/miyajima/miyajima-cruise.jpg" class="with-viewer" %}
    <h5>After racing back down the ropeway, we caught one of the last ferries back to the mainland. From there, we took the Shinkansen back to Kyoto.</h5>
</section>

<section class="text">
    <h2>Tokyo</h2>
    <p>The following morning, we took the Shinkansen back to Tokyo, for our last weekend together in Japan. I would stay for one more week, but Evan, Matt, and Yih-jen had only two days left. We made them count, eating more amazing food (Tonkatsu at <a href="https://www.google.com/maps/place/Katsukura/@35.6876873,139.7021232,17.66z/data=!4m5!3m4!1s0x60188cdab191eac5:0xbc589cf5d3bca9cb!8m2!3d35.6876873!4d139.7021232">Katsukura</a>, and sushi at <a href="https://www.google.com/maps/place/Ichiyanagi/@35.6748721,139.7670171,19.56z/data=!4m5!3m4!1s0x0:0xa273b510ac192045!8m2!3d35.6748721!4d139.7670172">Sushiya Ichiyanagi</a> especially stood out) and exploring neighborhoods like Shinjuku, Shibuya, Ginza, and Roppongi. While it wasn't my first time in any of these districts, I still found much more to discover.</p>
</section>
<section id="mori">
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-sushi-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-sushi-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The beautiful, beautiful sushi at Sushiya Ichiyanagi.</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-architecture-pattern.jpg" class="with-viewer" %}
    <h5>We went to an amazing exhibit on Japanese architecture at the Mori Art Museum. </h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-architecture-trees.jpg" class="with-viewer" %}
    <h5>All of these wooden carvings are scale models of real buildings in Japan.</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-colors.jpg" class="with-viewer" %}
    <h5>We went shopping in Ginza. Naturally, I found my way to a stationary store.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-fashion.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-denim.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I loved the fashion scene in Tokyo. I picked up some sweet new shoes and my first pair of raw denim jeans, which apparently I have to wear for up to two years before they'll really be worn in? We'll see...</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-teppanyaki-cheeseburger.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-teppanyaki-steak.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-teppanyaki.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Our goodbye dinner was teppanyaki at Morimoto XEX. The steak was amazing!</h5>
</section>

<section class="text">
    <p>With Evan, Matt, and Yih-jen all headed back to the states, I still had one more week in Japan. I presented for the Google Drive team at Google Cloud Next Tokyo, and had a few evenings to explore the city.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/tokyo/tokyo-ritz-view-best.jpg" class="with-viewer" %}
    <h5>The view from my hotel room was... fine.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-shopping-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-shopping.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>While I didn't buy any clothes, I sure enjoyed the architecture of the fashion shops at Omote-sando.</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-ginza-night.jpg" class="with-viewer" %}
    <h5>I took this photo on the way to dinner in Ginza. Not bad for a phone pointed out the back of a cab.</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-modern-art.jpg" class="with-viewer" %}
    <h5>The 21_21 Design Museum had an amazing exhibit that attempted to represent music in a visual medium. It was amazing! (And the building isn't bad, either.)</h5>

    {% include resimg.html src="travel/japan-18/tokyo/tokyo-tower-2.jpg" class="with-viewer" %}
    <h5>The conference was at Tokyo Prince hotel, which has an awesome view of the Tokyo Tower.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-hummus-lamb.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-pizza-cooked.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-vegan.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-vegan-2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-hummus.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/japan-18/tokyo/tokyo-pizza.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>By the time my trip ended, I had gotten a little tired of Japanese food. Luckily, Tokyo is also home to amazing food of other cuisines. (Who could have guessed?)</h5>
</section>

<section class="text">
    <p>After an exciting vacation, I often find myself ready to go home. It was certainly true when I concluded trips to so many other countries I've been fortunate enough to visit. After my first two trips to Japan though, I still wanted to come back. And I did! This trip exceeded my expectations, both in scope and in enjoyment. From large cities to small rural towns, world heritage sites to hidden culture gems, I absolutely loved my trip across Japan.</p>
    <p>After three weeks of trains, food, friends, shrines, tatami mats and natural splendor, I found myself on a plane back to the US, completely satiated. For a few hours, at least. By the time I landed in the states, I was already planning my next trip.</p>
</section>
<section>
    {% include resimg.html src="travel/japan-18/tokyo/tokyo-ritz-pano-2.jpg" class="with-viewer" %}
    <h5>Don't worry Tokyo, I'll be back.</h5>
</section>
