---
title: Australia and New Zealand, Spring 2018
start_date: 2018-04-01
end_date: 2018-04-18
cities:
  - Sydney
  - the South Island of New Zealand
featured_image: travel/nz/tekapo/tekapo-blue-grass-cover.jpg
hero_image: travel/nz/tekapo/tekapo-blue-grass.jpg
redirect_from:
  - /australia/
  - /nz/
---

<section class="text">
    <p>It's rare that you get the opportunity to travel to the other side of the world.  This past April, I had the opportunity to travel for work to Sydney, Australia. To make better use of the trans-pacific flight, I decided to extend the trip by a week, and visit New Zealand.</p>

    <p>What's better, shortly after making this plan, I found out that my childhood best friend Nathan could also join me on the trip. While I spent a week working in Sydney, he explored the city and surrounding area. In the evenings, we had dinner together and complained about jet lag. After that week concluded, we flew to New Zealand, rented a car, and spent a week exploring the south island.</p>
</section>
<section class="text">
    <h2>Sydney</h2>
    <p>blah</p>
</section>

<section class="text">
    <h2>New Zealand</h2>
    <p>Arrival</p>
</section>

<section>
    {% include resimg.html src="travel/nz/misc/misc-airplane.jpg" class="with-viewer" %}
    <h5>Flying into Queenstown really set the tone for the trip.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/misc/hill-winding-road.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/misc/hill-nathan.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We took the scenic route from Queenstown to Wanaka, over the Crown Range on a winding, mountain route</h5>
</section>

<section class="text">
    <p>Wanaka</p>
</section>

<section>
    {% include resimg.html src="travel/nz/wanaka/wanaka-tree.jpg" class="with-viewer" %}
    <h5>wanaka/wanaka-tree.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/wanaka/wanaka-tree-nate-dan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/wanaka/wanaka-ducks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The Wanaka lake is beautiful</h5>

    {% include resimg.html src="travel/nz/wanaka/wanaka-hill-view.jpg" class="with-viewer" %}
    <h5>wanaka/wanaka-hill-view.jpg</h5>
</section>

<section class="text">
    <p>Lindis Pass</p>
</section>

<section>
    {% include resimg.html src="travel/nz/lindis-pass/lindis-pass-road.jpg" class="with-viewer" %}
    <h5>lindis-pass/lindis-pass-road.jpg</h5>
</section>

<section class="text">
    <p>Climb...</p>
</section>

<section>
    {% include resimg.html src="travel/nz/lindis-pass/lindis-pass-mountains.jpg" class="with-viewer" %}
    <h5>lindis-pass/lindis-pass-mountains.jpg</h5>
</section>

<section class="text">
    <p>Tekapo</p>
</section>

<section>
    {% include resimg.html src="travel/nz/tekapo/tekapo-blue-grass.jpg" class="with-viewer" %}
    <h5>tekapo/tekapo-blue.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/tekapo/takapo-blue-rocks.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/tekapo/tekapo-blue.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Tekapo</h5>

    {% include resimg.html src="travel/nz/tekapo/tekapo-house-far.jpg" class="with-viewer" %}
    <h5>tekapo/tekapo-house-far.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/tekapo/tekapo-house-stairs.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/tekapo/tekapo-house-door.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>House</h5>

    {% include resimg.html src="travel/nz/tekapo/tekapo-meditation-wide.jpg" class="with-viewer" %}
    <h5>tekapo/tekapo-meditation-wide.jpg</h5>
</section>

<section class="text">
    <p>Bridge</p>
</section>

<section>
    {% include resimg.html src="travel/nz/bridge/bridge-above.jpg" class="with-viewer" %}
    <h5>bridge/bridge-above.jpg</h5>

    <div class="images-set">
        <div class="small">
            {% include resimg.html src="travel/nz/bridge/bridge-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/bridge/bridge-water.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/bridge/bridge-below.jpg" class="with-viewer" %}
            <h5>bridge/bridge-below.jpg</h5>
        </div>
    </div>
    <h5>Nathan, water</h5>

    {% include resimg.html src="travel/nz/bridge/bridge-pano.jpg" class="with-viewer" %}
    <h5>bridge/bridge-pano.jpg</h5>
</section>

<section class="text">
    <p>Golden</p>
</section>

<section>
    {% include resimg.html src="travel/nz/golden/golden-tree.jpg" class="with-viewer" %}
    <h5>golden/golden-tree.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/golden/golden-lake.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/golden/golden-fence.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Golden</h5>
</section>

<section class="text">
    <p>Arthur's Pass</p>
</section>

<section>
    {% include resimg.html src="travel/nz/arthurs-pass/arthurs-pass.jpg" class="with-viewer" %}
    <h5>arthurs-pass/arthurs-pass.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/arthurs-pass/arthurs-kea-rock.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/arthurs-pass/arthurs-kea-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Kea</h5>
</section>

<section class="text">
    <p>Beach</p>
</section>

<section>
    {% include resimg.html src="travel/nz/beach/black-sand.jpg" class="with-viewer" %}
    <h5>beach/black-sand.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/beach/black-sand-nathan-rocks.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/black-sand-nathan.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Blacksand</h5>

    {% include resimg.html src="travel/nz/beach/black-sand-rock-texture.jpg" class="with-viewer" %}
    <h5>beach/black-sand-rock-texture.jpg</h5>
<section>

<section class="text">
    <p>Secret Beach!</p>
</section>

<section>
    {% include resimg.html src="travel/nz/beach/secret-beach-view.jpg" class="with-viewer" %}
    <h5>beach/secret-beach-view.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/beach/secret-beach-ford.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-explorers.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Exploring</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach-marker.jpg" class="with-viewer" %}
    <h5>Marker</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach.jpg" class="with-viewer" %}
    <h5>beach/secret-beach.jpg</h5>


    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/nz/beach/secret-beach-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-dan-walking.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-nathan-walking-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We walk</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/beach/secret-beach-rocks-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/beach/secret-beach-rocks-2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>ROCKS!</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach-forest-wall.jpg" class="with-viewer" %}
    <h5>beach/secret-beach-forest-wall.jpg</h5>

    {% include resimg.html src="travel/nz/beach/secret-beach-sand.jpg" class="with-viewer" %}
    <h5>Headed back to the road</h5>
</section>

<section class="text">
    <p>Misc</p>
</section>

<section>
    {% include resimg.html src="travel/nz/misc/misc-orange-rocks.jpg" class="with-viewer" %}
    <h5>misc/misc-orange-rocks.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/misc/misc-tree-moss.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/misc/misc-tree-moss-branches.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Trees</h5>

    {% include resimg.html src="travel/nz/misc/misc-waterfall.jpg" class="with-viewer" %}
    <h5>misc/misc-waterfall.jpg</h5>
</section>

<section class="text">
    <p>Back to Wanaka</p>
</section>

<section>
    {% include resimg.html src="travel/nz/wanaka/wanaka-valley.jpg" class="with-viewer" %}
    <h5>wanaka/wanaka-valley.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/wanaka/wanaka-lake.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/wanaka/wanaka-mountains-wide.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Wanaka</h5>

    {% include resimg.html src="travel/nz/wanaka/wanaka-mountains.jpg" class="with-viewer" %}
    <h5>wanaka/wanaka-mountains.jpg</h5>
</section>

<section class="text">
    <p>Morning</p>
</section>
<section>
    {% include resimg.html src="travel/nz/morning/morning-xp2.jpg" class="with-viewer" %}
    <h5>morning/morning-xp.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/morning/morning-xp.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/morning/morning-river.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>morning/morning-xp2.jpg</h5>

    {% include resimg.html src="travel/nz/morning/morning-mountains.jpg" class="with-viewer" %}
    <h5>Mountains</h5>

    {% include resimg.html src="travel/nz/morning/morning-fog.jpg" class="with-viewer" %}
    <h5>morning/morning-fog.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/morning/morning-dew2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/morning/morning-dew.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Dew</h5>
</section>

<section class="text">
    <p>Snow</p>
</section>

<section>
    {% include resimg.html src="travel/nz/morning/morning-snow-mountains.jpg" class="with-viewer" %}
    <h5>morning/morning-snow-mountains.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/morning/morning-snow-1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/morning/morning-snow-3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>More snow</h5>
</section>

<section class="text">
    <p>Mirror lakes</p>
</section>

<section>
    {% include resimg.html src="travel/nz/morning/mirror-lakes-1.jpg" class="with-viewer" %}
    <h5>Lakes</h5>

    {% include resimg.html src="travel/nz/morning/mirror-lakes-sign.jpg" class="with-viewer" %}
    <h5>morning/mirror-lakes-sign.jpg</h5>
</section>

<section class="text">
    <p>Hollyford Track</p>
</section>

<section>
    {% include resimg.html src="travel/nz/hollyford/hollyford-first-bridge.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-first-bridge.jpg</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-first-bridge-nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-trailhead.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Start</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-green-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-swing-bridge-straight.jpg" class="with-viewer" %}
        </div>
        <div class="large">
            {% include resimg.html src="travel/nz/hollyford/hollyford-swing-bridge.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/nz/hollyford/hollyford-metal-bridge.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>hollyford/hollyford-swing-bridge.jpg</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-boardwalk.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-boardwalk.jpg</h5>



    {% include resimg.html src="travel/nz/hollyford/hollyford-moss.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-moss.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-trees.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-trees.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-selfie.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-selfie.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-duck-under.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-duck-under.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-washed-out.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-washed-out.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-mountains.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-mountains.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-washed-out-2.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-washed-out-2.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-forest-floor.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-forest-floor.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-winding-path.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-winding-path.jpg</h5>
    {% include resimg.html src="travel/nz/hollyford/hollyford-river.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-river.jpg</h5>

    {% include resimg.html src="travel/nz/hollyford/hollyford-end.jpg" class="with-viewer" %}
    <h5>hollyford/hollyford-end.jpg</h5>
</section>

<section class="text">
    <p>Cruise</p>
</section>

<section>
    {% include resimg.html src="travel/nz/cruise/cruise-morning-david-peter.jpg" class="with-viewer" %}
    <h5>cruise/cruise-morning-david-peter.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-approaching-rocks.jpg" class="with-viewer" %}
    <h5>cruise/cruise-boat-approaching-rocks.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-god.jpg" class="with-viewer" %}
    <h5>cruise/cruise-boat-god.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-mountains-fog.jpg" class="with-viewer" %}
    <h5>cruise/cruise-mountains-fog.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-mountains.jpg" class="with-viewer" %}
    <h5>cruise/cruise-mountains.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-nathan-dan.jpg" class="with-viewer" %}
    <h5>cruise/cruise-nathan-dan.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-god.jpg" class="with-viewer" %}
    <h5>cruise/cruise-god.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-morning-dark.jpg" class="with-viewer" %}
    <h5>cruise/cruise-boat-morning-dark.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-fog.jpg" class="with-viewer" %}
    <h5>cruise/cruise-boat-fog.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-tree-sun.jpg" class="with-viewer" %}
    <h5>cruise/cruise-tree-sun.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-peter-rainbow.jpg" class="with-viewer" %}
    <h5>cruise/cruise-peter-rainbow.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-rainbow.jpg" class="with-viewer" %}
    <h5>cruise/cruise-boat-rainbow.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-morning-nate-dan-close.jpg" class="with-viewer" %}
    <h5>cruise/cruise-morning-nate-dan-close.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-engine.jpg" class="with-viewer" %}
    <h5>cruise/cruise-engine.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-valley-view.jpg" class="with-viewer" %}
    <h5>cruise/cruise-valley-view.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-tree-fog.jpg" class="with-viewer" %}
    <h5>cruise/cruise-tree-fog.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-goodbye.jpg" class="with-viewer" %}
    <h5>cruise/cruise-goodbye.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-looking-off.jpg" class="with-viewer" %}
    <h5>cruise/cruise-looking-off.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-mountains-fog-2.jpg" class="with-viewer" %}
    <h5>cruise/cruise-mountains-fog-2.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-boat-morning.jpg" class="with-viewer" %}
    <h5>cruise/cruise-boat-morning.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-edge.jpg" class="with-viewer" %}
    <h5>cruise/cruise-edge.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-morning-friends.jpg" class="with-viewer" %}
    <h5>cruise/cruise-morning-friends.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-morning.jpg" class="with-viewer" %}
    <h5>cruise/cruise-morning.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-nathan-rainbow.jpg" class="with-viewer" %}
    <h5>cruise/cruise-nathan-rainbow.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-morning-nate-dan.jpg" class="with-viewer" %}
    <h5>cruise/cruise-morning-nate-dan.jpg</h5>
    {% include resimg.html src="travel/nz/cruise/cruise-david-peter.jpg" class="with-viewer" %}
    <h5>cruise/cruise-david-peter.jpg</h5>
</section>
