---
title: Israel and Jerusalem, Summer 2019
start_date: 2019-06-15
end_date: 2019-06-21
cities:
  - Tel Aviv
  - Jerusalem
  - Haifa
  - Acre
  - Lebanon border
featured_image: travel/israel/jerusalem/dome-of-the-rock-cover.jpg
hero_image: travel/israel/jerusalem/dome-of-the-rock-tile.jpg
redirect_from:
  - /tel-aviv/
  - /jerusalem/
  - /israel/
---

<section class="text">
    <p>Earlier this year, I learned that my long time best friend Nathan had won a fellowship to study abroad over the summer in Tel Aviv. A part of his graduate program at NYU, the 60-day trip would have him living in the city with opportunities to explore the country and region. When his trip was confirmed, it wasn't long before the offer was made: "So, are you going to visit me in Israel?" I said yes almost instantly. With Nathan's love for archeology and fascination with the region's history I knew he was going to have a blast, and how could I turn down a week with my best friend in his prime?</p>
    <p>After few days and a few visits to Delta's website, I was confirmed for a week-long stay. I'll be honest, the trip was not what I expected. I expected hot, but not sweltering. I knew the region was political, but I didn't expect overt racism. While I'm glad to have gotten the opportunity to travel to Israel and Jerusalem, I'm not sure I'd want to go back any time soon.</p>
</section>
<section class="text">
    <h2>Tel Aviv</h2>
    <p>Landing in Tel Aviv as a white guy with noise canceling headphones meant airport security was fairly smooth. As I took a cab into the city, my image of a Mediterranean coastal city quickly vanished. The intimate winding streets in my imagination were replaced by a monochromatic monolith. Walking around the streets during my first few days cemented this impression. It's not that Tel Aviv is overwhelming in size, but rather that its seeming neighborhoodlessness creates a feeling of a never ending beige.</p>
    <p>Sprinkled throughout the sprawling streets are peppered a few interesting street art installations and architectural points of interest. The city is more akin to a American or European <a target="_blank" href="/travel/ireland-uk-summer-2016/#flowers">botanical garden</a> (with individual plants garnering attention) than it is to the <a target="_blank" href="/travel/japan-fall-2018/#kenroku-en">Kenroku-en in Kanazawa, Japan</a> where the entire landscape is curated for beauty.</p>
</section>
<section>
    {% include resimg.html src="travel/israel/tel-aviv/tree.jpg" class="with-viewer" %}
    <h5>This beautifully manicured tree offers a welcome pop of color.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/israel/tel-aviv/buildings-45d.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/buildings-carlton.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/buildings-crazy-house.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/israel/tel-aviv/buildings-pink.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/buildings-rainbow.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/buildings-yellow.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Tel Aviv's architecture was a major draw for me. I love the mix of Bauhaus, modern, and well, crazy.</h5>

    {% include resimg.html src="travel/israel/tel-aviv/walkway.jpg" class="with-viewer" %}
    <h5>Tel Aviv's tree-lined walking paths were a joy.</h5>
</section>

<section class="text">
    <p>Meeting up with Nathan and his dad Robert in Tel Aviv was truly quite fun. I've known both of them since I was three, and getting to explore a new place with them was an excellent opportunity to catch up and entertain winding discussions that would last for hours at a time.</p>
    <p>On our second day, feeling a bit more adventurous, we walked south down the beach to Old Jaffa (pronounced "Yaffa"). I far preferred the winding, cobblestone-lined streets of this old town, where the high walls offered respite from the sun.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/tel-aviv/beach.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/jaffa.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The walk to Jaffa.
        <strong>Right:</strong> The twisting alleys of Jaffa were fun to explore.
    </h5>
</section>

<section class="text">
    <p>In time, we found ourselves in a routine. We enjoyed breakfast and a walk in the early morning (<a href="https://goo.gl/maps/xuditDSNGZCZhXWE8" target="_blank">Benedict</a> was by far the group favorite), and then a siesta through the afternoon. One evening, we decided on a whim to check out the Tel Aviv Museum of Art. The museum, with its striking architecture and mix of modern and contemporary art was the surprise highlight of my trip.</p>
</section>
<section>
    {% include resimg.html src="travel/israel/tel-aviv/museum-day.jpg" class="with-viewer" %}
    <h5>The striking entrance to the museum could be described as a low-poly battleship.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/israel/tel-aviv/museum-design-balcony.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/museum-design-ramp.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/museum-design-skylight.jpg" class="with-viewer" %}
        </div>
        <div class="xl">
            {% include resimg.html src="travel/israel/tel-aviv/museum-design-nathan.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The interior is equally striking. The gradual ramps, sharp angles, and subtle curves were addictive to explore.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/tel-aviv/museum-courtyard-tower.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/museum-courtyard.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We stepped outside to see this courtyard nestled in the angles of the building.</h5>

    {% include resimg.html src="travel/israel/tel-aviv/museum-glass.jpg" class="with-viewer" %}
    <h5>The second building is connected via this glass cube.</h5>

    {% include resimg.html src="travel/israel/tel-aviv/museum-night.jpg" class="with-viewer" %}
    <h5>By the time we left, it was dark out.</h5>
</section>

<section class="text">
    <h2>Jerusalem</h2>
    <p>We had considered taking lots of different day trips from Tel Aviv, but Jerusalem was squarely at the top. I knew of Jerusalem from my religious education, but my image of it rarely left BCE. It was an honor to be allowed to enter some of the most sacred spaces of the world's three major Abrahamic religions, all within a five minute walk of each other: the Church of the Holy Sepulchre, the Western Wall, and the Dome of the Rock. As someone who doesn't hold any particular space sacred in the same way, it was initially hard for me to understand, or see past the ways in which they were secular tourist destinations. In reflection, my experience in Jerusalem instilled a very concrete understanding of how influential and important these religious spaces are to billions of people globally.</p>
</section>
<section>
    {% include resimg.html src="travel/israel/jerusalem/church-exterior.jpg" class="with-viewer" %}
    <h5>The Church of the Holy Sepulchre does not look like most churches from the outside.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/jerusalem/church-ceilings.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/jerusalem/church-dome.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Inside, I was blown away by the beautiful painting, tile, and fresco.</h5>

    {% include resimg.html src="travel/israel/jerusalem/wailing-wall.jpg" class="with-viewer" %}
    <h5>I was able to get this view of the Western Wall from the ramp to the Dome of the Rock.</h5>

    {% include resimg.html src="travel/israel/jerusalem/dome-of-the-rock.jpg" class="with-viewer" %}
    <h5>I love how off-center this approach is to the Dome of the Rock.</h5>

    {% include resimg.html src="travel/israel/jerusalem/dome-of-the-rock-close.jpg" class="with-viewer" %}
    <h5>The building is absolutely marvelous. The balance of solid gold and ornate tile work is stunning.</h5>

    {% include resimg.html src="travel/israel/jerusalem/dome-of-the-rock-tile.jpg" class="with-viewer" %}
    <h5>I couldn't help but capture the extravagant detail of the blue tile.</h5>

    {% include resimg.html src="travel/israel/jerusalem/view.jpg" class="with-viewer" %}
    <h5>Before heading home, we climbed to the top of a church tower to get one last view of the city.</h5>
</section>

<section class="text">
    <h2>Acre, Haifa, and Northern Israel</h2>
    <p>On one of our last days of the trip, we took a guided tour of northwest Israel, making our way up the coast to Caesarea, Haifa, Acre, and the Lebanon border. The tour was educational, both historically and culturally. I was fascinated by the history of Acre, a city buried and uncovered over the centuries. I also picked up on racial dog whistling in a museum video presentation for tourists in Caesarea. Overall, the day was a mixed bag. While I was glad to be able to visit these historic sites, the experience was inseparable from the problematic narrative that accompanied it.</p>
</section>
<section>
    {% include resimg.html src="travel/israel/haifa/aquaduct.jpg" class="with-viewer" %}
    <h5>Nothing gets me going like a Roman aqueduct. I can't believe this thing is still standing.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/haifa/haifa-garden.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/haifa/haifa-stairs.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>We visited the gardens at Haifa. Tourists are not allowed to enter most areas of the gardens, leaving room for some eerie photos.</h5>

    {% include resimg.html src="travel/israel/haifa/haifa-view.jpg" class="with-viewer" %}
    <h5>The view into the bay was fantastic.</h5>

    {% include resimg.html src="travel/israel/lebanon-border/coastline.jpg" class="with-viewer" %}
    <h5>We made our way up the coast to the Lebanon border. I love the blackened rock on the coast here.</h5>

    {% include resimg.html src="travel/israel/lebanon-border/cable-car.jpg" class="with-viewer" %}
    <h5>We took a very short cable car down into a series of caves near an abandoned train tunnel.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/lebanon-border/cave.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/lebanon-border/cliffs.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Exploring these coastal caves was a welcome break from the sun.</h5>

    {% include resimg.html src="travel/israel/lebanon-border/border.jpg" class="with-viewer" %}
    <h5>I walked over to the formal with Lebanon.</h5>
</section>

<section class="text">
    <p>Our last stop on our way back to Tel Aviv was at the crusader city of Acre. We toured the Old City, which was covered over by the present city. We saw beautifully restored crusader halls and yet-to-be-excavated structures. It was stunning, and understandably a UNESCO World Heritage cite.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/acre/castle-interior-hall.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/acre/castle-interior.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The halls of these crusader buildings were absolutely fantastic. I love where the two arches intersect in the ceiling.</h5>

    {% include resimg.html src="travel/israel/acre/excavation.jpg" class="with-viewer" %}
    <h5>Here, you can see a building that has only been partially excavated. One theory is that instead of tearing down the city, the new occupants simply filled the buildings with debris and constructed new buildings on top.</h5>

    {% include resimg.html src="travel/israel/acre/concert-venue.jpg" class="with-viewer" %}
    <h5>Of course, Acre is also a popular concert venue.</h5>


    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/israel/acre/texture-up-light.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/acre/texture-up.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Two different arches from two different eras.</h5>
</section>

<section class="text">
    <h2>Tel Aviv</h2>
    <p>As the week drew to a close, we spent our evenings walking up and down the beach of Tel Aviv. I'm not sure when or if I'll be back to Tel Aviv, but I must admit that around sunset the beach is magnetic.</p>
</section>
<section>
    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/israel/tel-aviv/nathan.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/bob.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/israel/tel-aviv/dan.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Nathan, Robert and me.</h5>

    {% include resimg.html src="travel/israel/tel-aviv/beach-shade.jpg" class="with-viewer" %}
    <h5>Evening by the beach.</h5>
</section>
