---
title: Iceland, Summer 2016
start_date: 2016-07-21
end_date: 2016-07-31
cities:
  - Iceland
hero_image: travel/iceland/south-lagoon-clouds.jpg
featured_image: travel/iceland/south-lagoon-clouds-cover.jpg
---

<section class="text">
    <p>Just a few short weeks after graduating college, I set out on a two month trip to Europe.  I had the opportunity to enjoy new places, people, food, and to spend time with friends, family, and alone with myself. After spending time in Italy, Croatia, France, Spain, and the British Isles, the last stop on my trip was to Iceland, where my mom and I spent ten days driving around the Ring Road which makes a loop around the island.</p>

    <p>Our trip was not just tourism, however.  I made the trip to Iceland in order to meet several families worth of third cousins that until recently, our family had not known even existed. My great great grandfather had lived in Iceland and, when he remarried and moved to the United States with his new wife, had left his son from his first marriage in Iceland.  His son then later married and started a new branch of our family tree that didn't keep in touch with my great great grandfather or any of his decedents (including my family) until three generations later when my mom got in touch with her second cousins. After meeting them for the first time on a trip to Iceland years earlier, my mom flew with me from Scotland to Reykjavik to introduce me to my Icelandic relatives.</p>
</section>

<section>
    <h2>Reykjavik</h2>
    <h3>Meeting Long-Lost Family</h3>
    <p>When we arrived in Reykjavik, we picked up our rental car and drove to Aldis and Eystein's house. They are my mom's second cousins, older because of generational shifts, and grandparents to several young children. In the morning, they treated us to an amazing breakfast and tea, where we had the opportunity to meet many cousins of all ages.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/reykjavik-breakfast.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/reykjavik-family.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> Icelandic breakfast spread: delicious and beautiful!
        <strong>Right: </strong> Obligatory "long lost cousins selfie."
    </h5>
</section>

<section class="text">
    <h2>Snæfellsnes</h2>
    <h3>The Western Peninsula</h3>
    <p>While our path around the ring road would be counterclockwise from Reykjavik (southwest Iceland), we first drove north west, to the Snæfellsnes peninsula. With the guidance of our newly met family, we got a first taste of the beautiful and unique Icelandic terrain. Our first stop was at Deildartunguhver, a vent for Iceland's plentiful hot spring water. In west Iceland, hot water is so plentiful that hot water faucets use the spring water directly, and the cold water faucets are artificially chilled!</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-vents-warning.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-vents-heat.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> The steam coming out of the vents at Deildartunguhver.
        <strong>Right: </strong> The steam is so hot that patches of the wet stones have become dry.
    </h5>
</section>
<section class="text">
    <p>Next, we headed to Hraunfosar, the first of many waterfalls we saw on our trip. Hraunfosar is famous for the web of falls that sneak into the river from the bushes like tributaries into the main river. Just upstream a few feet is Barnafoss, a raging current with the remnants of a natural stone bridge. TODO PERSON explained that a long while back, two local children fell off the bridge while trying to cross the river. Their mother had the natural bridge demolished.  Today, a man-made bridge crosses the stream just a few feet away from where the natural bridge used to exist.</p>
</section>
<section>

    {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-tributaries.jpg" class="with-viewer" %}
    <h5>The streams crawl out of the bushes into the river at Hraunfosar.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-mom.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-family.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-me.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> My mom, by the river.
        <strong>Center: </strong> TODO PEOPLE guided us.
        <strong>Right: </strong> Yours truly in a dorky raincoat.
    </h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-barnafossar-wide.jpg" class="with-viewer" %}
    <h5>The man made bridge and the gap where the natural crossing used to be, according to legend. </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-house.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-room.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong> That evening, TODO PEOPLE took us to their country home to spend the night.
        <strong>Right: </strong> My room was extra cozy.
    </h5>
</section>

<section class="text">
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/snaefellsnes-hill.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-lunch.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-rock-me.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-rock-mom.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-wave.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-wall.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-cliff.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/snaefellsnes-hellnar-hills.jpg" class="with-viewer" %}
    <h5>TODO</h5>
</section>

<section class="text">
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/snaefellsnes-kirkjufellsfoss-bottom.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/snaefellsnes-kirkjufellsfoss-selfie.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/snaefellsnes-kirkjufellsfoss-top.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>
</section>

<section>
    <h2>The Golden Circle</h2>
    <h3></h3>
    <p></p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-thingvellir-view.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/south-geysir-sign.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/south-geysir.jpg" class="with-viewer" %}
    <h5>TODO</h5>
</section>

<section class="text">
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-gullfoss-wide.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-gullfoss-far.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-gullfoss-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

<section class="text">
    <h2>Þórsmörk</h2>
    <h3>"Thor's Mork"</h3>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-thorsmork-riverbed.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-thorsmork-riverbed-bridge.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/south-thorsmork-view.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/iceland/south-thorsmork-pano-left.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-thorsmork-pano-center.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-thorsmork-pano-right.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Center: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/south-thorsmork-canyon-trek.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/south-thorsmork-canyon.jpg" class="with-viewer" %}
    <h5>TODO</h5>

</section>

<section class="text">
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-seljalandsfoss-left.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-seljalandsfoss-back.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-seljalandsfoss-path.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/south-seljalandsfoss-right.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/south-sunset.jpg" class="with-viewer" %}
    <h5></h5>

</section>

<section>
    <h2>Driving East</h2>
    <h3>TODO</h3>
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/south-skogafoss-straight.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-skogafoss-double-rainbow.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-skogafoss-rainbow.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/south-lagoon-clouds.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/south-lagoon-close.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/south-lagoon-wide.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/east-farm.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/east-barn.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/east-coffee-house.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>
</section>

<section>
    <h2>Mývatn</h2>
    <h3></h3>
    <p></p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-godafoss-stream.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-godafoss-path-left.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-godafoss-path-right.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/myvatn-godafoss-wide.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-godafoss-rocks.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-godafoss-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>
</section>

<section class="text">
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-detifoss-wide.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-detifoss-rainbow.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-detifoss-me.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>
</section>

<section class="text">
    <p>TODO</p>
</section>

<section>
    {% include resimg.html src="travel/iceland/myvatn-baths.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    {% include resimg.html src="travel/iceland/myvatn-cows-charging.jpg" class="with-viewer" %}
    <h5>TODO</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/myvatn-cows-staring.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/myvatn-cows-close.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>

    {% include resimg.html src="travel/iceland/myvatn-cows-wide.jpg" class="with-viewer" %}
    <h5>TODO</h5>
</section>

<section>
    <h2>Reykjavik</h2>
    <h3>Closing the loop</h3>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/iceland/reykjavik-farm-duo.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/iceland/reykjavik-farm-group.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>
        <strong>Right: </strong>
    </h5>
</section>
