html, body {
    background: white url("../img/gray_jean.png") repeat;
    font-family: "Noto Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}
html {
       overflow-y: scroll;
}
.decoration{
    height:10px;
    width:100%;
    background-color: #2ba6cb;
}
#title {
    text-align: center;
}
