.page-title {
  margin-top: 1rem;
  color: #e7e7e7;
  text-align: center; }

  .welcome {
    text-align: center;
    font-size: 6rem;
    line-height: 7rem;
    margin: 2rem 0; }

    .admin-site-title {
      position: absolute;
      left: 0;
      top: 0;
      line-height: 5rem;
      height: 5rem; }

      .admin-panel {
        border-radius: 5px;
        margin: 1rem auto 2rem;
        max-width: 50rem;
        padding: 2rem;
        color: #1f1f21;
        background-color: #e7e7e7; }

        .tools {
          border-bottom: 1px solid #1f1f21;
          margin: 0 -1rem; }
          .tools .tool {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 2rem;
            height: 2rem; }
            .tools .tool a {
              padding: 0 1.5rem; }
              .tools .tool:hover {
                background-color: #cecece; }

.add-sentence {
  position: relative;
  margin: 2rem 0.5rem 0; }
  .add-sentence input {
    font-size: 1rem; }
    .add-sentence input[type="text"] {
      padding: 0.2rem;
      width: 20%; }
      .add-sentence input[type="submit"] {
        position: absolute;
        right: 0;
        padding: 0.25rem 0.5rem;
        top: 0.1rem; }

input[type="button"], input[type="submit"] {
  border: none;
  border-radius: 2px;
  padding: 0.25rem;
  background-color: #e7e7e7;
  border: 1px solid #1f1f21;
  color: #1f1f21;
  margin: 0; }
  input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #cecece; }

.sentences {
  margin: 2rem 0 0;
  width: 47.5%;
  float: left;
  display: inline-block; }
  .sentences.left {
    margin-right: 5%; }
    .sentences .admin-sentence {
      position: relative;
      border-radius: 2px; }
      .sentences .admin-sentence.left {
        margin-right: 10%; }
        .sentences .admin-sentence:hover .delete {
          display: inline; }
          .sentences .admin-sentence .touch {
            display: none !important; }
            .sentences .admin-sentence .delete {
              display: none;
              right: 0.2rem;
              top: 0.2rem;
              padding: 0.25rem 0;
              position: absolute;
              font-size: 1.2rem;
              border-radius: 20px;
              border: 2px solid #1f1f21; }
              .sentences .admin-sentence .delete:hover {
                background-color: #cecece; }
      .sentences .admin-sentence .sentence-text {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        display: inline-block;
        position: relative; }
        .sentences .admin-sentence .confirm {
          display: none;
          text-align: center; }
          .sentences .admin-sentence .confirm input {
            max-width: 5rem;
            width: 50%; }
            .sentences .admin-sentence .confirm input[type="submit"] {
              background-color: #d9534f;
              border: 1px solid #d43f3a;
              color: #e7e7e7; }
              .sentences .admin-sentence .confirm input[type="submit"]:hover {
                background-color: #d2322d;
                border: 1px solid #ac2925; }

@media only screen and (max-width: 1024px) {
  .admin-site-title {
    position: relative;
    margin: 0;   }
    .page-title {
      margin-top: 0;   }
}

@media only screen and (max-width: 480px) {
  .add-sentence {
    clear: both;
    margin: 2rem auto 0;
    text-align: center;   }
    .add-sentence .i, .add-sentence .period {
      display: none;   }
      .add-sentence input[type="text"] {
        width: 90% !important;
        display: inline-block;   }
        .add-sentence input[type="submit"] {
          padding: 0.4rem;
          width: 100px;
          margin-top: 0.25rem;
          position: relative !important;
          top: inherit !important;   }
  .sentence-text {
    font-size: 1.3rem !important;
    margin-bottom: 0.5rem;   }
    .tools .tool {
      margin-bottom: 1px;   }
      .sentences {
        width: 100%;
        margin: 0;   }
        .sentences.left {
          margin-top: 2rem;   }
}

.login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -10rem auto 0;
  height: 20rem;
  width: 95%;
  max-width: 25rem; }
  .login-wrapper form input[type="text"], .login-wrapper form input[type="password"] {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem 0;
    width: 100%; }
    .login-wrapper form input[type="submit"] {
      visibility: hidden; }
  .login-wrapper .error-message {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    color: white;
    padding-left: 3px;
    padding-right: 3px; }
