
@font-face {
  font-family: 'st_marie_thinthin';
  src: url('../font/StMarie-Thin/StMarie-Thin-webfont.eot');
  src: url('../font/StMarie-Thin/StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/StMarie-Thin/StMarie-Thin-webfont.woff') format('woff'),
    url('../font/StMarie-Thin/StMarie-Thin-webfont.ttf') format('truetype'),
    url('../font/StMarie-Thin/StMarie-Thin-webfont.svg#st_marie_thinthin') format('svg');
  font-weight: normal;
  font-style: normal; }

  .site-title, .welcome {
    font-family: 'st_marie_thinthin', sans-serif; }

    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      word-wrap: break-word;
      font-family: 'Cabin', sans-serif; }

      strong {
        font-weight: 700; }

        h1 {
          font-size: 4rem;
          line-height: 5rem; }

          h2 {
            font-size: 3rem;
            line-height: 4rem; }

            h3 {
              font-size: 2.5rem;
              line-height: 3rem; }

              h4 {
                margin: 1rem 0 0.5rem;
                font-size: 2rem;
                line-height: 3rem; }

                h5 {
                  margin: 1rem 0 0.5rem;
                  font-size: 1.5rem;
                  line-height: 3rem; }

                  h6 {
                    margin: 1rem 0 0.5rem;
                    font-size: 1rem;
                    line-height: 2rem; }

                    p {
                      font-size: 1.2rem;
                      line-height: 1.7rem; }

                      a {
                        color: inherit;
                        text-decoration: none; }

                        code, tt {
                          background-color: #f8f8f8;
                          border: 1px solid #cccccc;
                          padding: 0 3px;
                          border-radius: 3px;
                          font-size: 1rem;
                          font-family: "Courier New", Courier, monospace;
                          white-space: nowrap; }

                          pre code {
                            font-size: 0.8rem;
                            margin: 0;
                            padding: 0;
                            white-space: pre;
                            border: none;
                            background: transparent; }

                            .highlight pre {
                              background-color: #f8f8f8;
                              border: 1px solid #cccccc;
                              line-height: 19px;
                              overflow: auto;
                              padding: 6px 10px;
                              border-radius: 3px; }

                              pre {
                                background-color: #f8f8f8;
                                border: 1px solid #cccccc;
                                line-height: 19px;
                                margin-bottom: 1rem;
                                overflow: auto;
                                padding: 6px 10px;
                                border-radius: 3px; }
                                pre code, pre tt {
                                  background-color: transparent;
                                  border: none; }

hr {
  border: none;
  background-color: #1f1f21;
  height: 0.125rem;
  margin: 2rem 0; }

  img {
    max-width: 100%; }

body {
  background-color: #1f1f21; }

  .text-links {
    font-family: 'st_marie_thinthin', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    line-height: 1.5rem; }

    .name-fragment {
      height: 4.75rem;
      display: inline-block;
      overflow: hidden; }
      .name-fragment span {
        text-align: left;
        display: block; }

.site-title {
  color: #09c4ff;
  font-size: 4.75rem;
  line-height: 6rem;
  margin-bottom: 1rem;
  height: 6rem;
  z-index: 200;
  vertical-align: middle; }

  .page-title a:hover {
    color: #09c4ff; }

    .main {
      color: #e7e7e7;
      text-align: center;
      top: 20%;
      position: relative;
      display: block;
      padding: 0 1rem; }

      .sentence {
        font-size: 2rem;
        height: 2.5rem;
        margin: 0; }
        .sentence .word {
          display: inline-block;
          height: 2.5rem;
          position: relative;
          text-align: center;
          overflow: hidden; }
          .sentence .word span {
            top: 0;
            position: relative;
            overflow: hidden;
            display: inline-block; }
            .sentence .word span.visible {
              height: 2.5rem;
              position: absolute;
              display: inline;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0; }
        .sentence .period {
          margin-left: -0.4rem; }

.invisible {
  visibility: hidden; }

  .textDimensionCalculation {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    display: inline-block;
    white-space: nowrap; }

    .social {
      display: block;
      position: relative;
      height: 3.5rem;
      text-align: center; }
      .social ul {
        padding: 1rem 0;
        position: absolute;
        top: 0;
        left: 1rem;
        right: 1rem;
        margin: 0 auto;
        display: block; }
        .social ul li {
          display: inline-block;
          margin: 0 0.5rem; }
          .social ul li i {
            font-size: 2rem;
            color: #e7e7e7; }
            .social ul li i:hover {
              color: #09c4ff; }
          .social ul li a:hover {
            border-bottom: none !important; }
        .social ul.fixed {
          position: fixed;
          z-index: 100;
          padding: 1rem;
          left: 1rem;
          right: 1rem;
          background-color: #1f1f21; }

@media only screen and (max-width: 1024px) {
  .site-title {
    font-size: 4rem;
    line-height: 4rem;   }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
    width: 100%;   }
    .site-title {
      font-size: 3rem;
      line-height: 4rem;   }
      .social {
        height: auto;
        position: relative;
        margin: 3rem auto 0;   }
        .social ul li {
          font-size: 1.5rem;
          margin: 0 0 1rem;
          width: 30%;   }
  .main {
    top: 10%;   }
}

@media only screen and (max-height: 320px) {
  .main {
    top: 1rem;   }
}
