.lowercase {
  height: 5rem;
  display: inline-block;
  overflow: hidden; }
  .lowercase span {
    text-align: left;
    display: block; }

.site-title {
  height: 7rem;
  background-color: #333;
  z-index: 1; }

  .fixed {
    position: fixed;
    top: 0;
    left: 0; }

    .title-spacer {
      height: 7rem;
      display: none; }
      .title-spacer.live {
        display: block; }

.posts {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 95%;
  max-width: 40rem;
  text-align: left; }
  .posts .post {
    border: 1px solid #555;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 2rem;
    color: #333;
    background-color: #eee; }
