html, body {
    background: white url("../img/gray_jean.png") repeat;  
    width: 100%;
    margin: 0;
    padding: 0;
    
    text-align: center;
}
.has-tip {
	display: inline;
}
.comment {
	border: 2px black bottom;
}
textarea {
    height: 200px;
}
.form {
    width: 50%;
}
.comment, p {
    text-align: left;
    margin-left: 0.5em;
}
.button.small, p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.page {
    max-width: 800px;
}
.panel {
    margin-bottom: .25em;
    padding: 0;
}
h4 {
    text-align:left;
}
