/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .nav {
        font-size: .8em;
    }
}
@media only screen and (min-width: 640px) {
    #social {
        padding-left: none;
        padding-top: 1em;
    }
}

/* Twitter Styling */
#tweets > ul {
    list-style-type: none;
    margin-bottom:0;
}
#tweets > ul > li {
    margin-left:0.5em;
    margin-right:0.5em;
}
p.tweet {
    margin-bottom: 0;
}
p.tweet > a {
    color: #333;
}
p.tweet > a:hover {
    color: #2795b6;
}
p.timePosted {
    font-size: .8em;
    text-align: right;
    margin-bottom: 0;
}

.preview {
    margin-top: 1.25em;
}

.hidden {
    display:none;
}
[class*="block-grid-4"] > li {
    width: 25% !important;
}
.title-wrapper {
    padding-right:0;
    padding-left:0;
}
.title-wrapper > .row {
    padding:0;
    margin:0 !important;
    width: default;
}
html, body {
	background: white url("../img/gray_jean.png") repeat;
	font-family: "Noto Sans", sans-serif;
}

strong {
    font-family: "Notto Sans", sans-serif;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}
html {
       overflow-y: scroll;
}
.title {
	padding-left:0 !important;
	padding-right:0 !important;
    float:right;
    width: 22.5% !important;
}
#home-button {
    width:100%;
}
#home-button-div {
    width:10%;
    width: -webkit-calc(100% - 90%);
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nav {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none;
}
div.pic {
    padding:1em;
    text-align: center;
}
img.pic {
    text-align: center;
    border-radius: 25px;
}
.social-icons {
    width:100%;
    margin-left: 0px;
    text-align: center;
}
.social-icons li {
    font-size: 2em;
}
.social-icon-links{
    text-align: center;
    font-size: 2em;
}
.social-icon-links li {
    padding-bottom: 0;
}
section {
    text-align: center;
}
#tagline{
    font-style: italic;
    font-weight: normal;
}
#github-username, #twitter-username{
    font-style: italic;
    font-weight: normal;
    margin-top: 0.5em;
}
#name{
    margin-bottom: -10px;
}
#contact{
    text-align: center;
}
.emailtext {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    padding-right: .5em;
    text-align:right
}
.content {
    display: none;
}
.content .columns{
    padding-left:0;
    padding-right:0;
}
.language {
	text-align: right;
	padding-right: 10px !important;
}
.content .columns .panel ul{
	padding-left: 1em;
}
.row .language {
	height: 30px;
}
.decoration{
    height:10px;
    width:100%;
    background-color: #2ba6cb;
}
.language-bar {
    height:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2ba6cb;
}
.social {
    padding-left:0.5em !important;
    padding-right:0.5em !important;
    margin-bottom:0;
}
.email-text {
    padding: 0.125em 0.25em 0.125em;
    text-align: right 
}
.social .row .small-4 {
    padding-right: 0;
}
.signature {
    text-align: right;
    padding-right: 20%;
    font-style: italic;
}
#email .row .small-6 {
    padding-right: 0.125em;
    padding-left: 0.125em;
}
.background-tagline {
	position: absolute;
	top: 200px;
	left: 50px;
	right: 50px;
	text-align:center;
}
#twitter-name, #github-name {
    margin-top:-3px;
    margin-bottom: 10px;
}
.social-pic {
    border-radius: 10px !important;
    padding: 0.25em;
    margin-top: -0.25em;
}
#left-column {
    padding: 0 1em;
}
.social-update {
    margin: 0.25em;
    padding: 0.25em;
    border-top: thin black ;
    border-bottom: thin black ;
}
.social-update p {
    margin-bottom: 0;
}
.twitter-follow-button, .github-follow-button {
    margin-top: 10px;
}
.post-time {
    margin-left: 0.5em;
    font-size: 0.75em;
}
.info, .project {
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0.5em;
}
.info-header{
    background-color: #ccc;
    border: 1px solid #aaa;
    margin: 0.5em;
}
.info-pic, .project-pic{
    width: 100%; 
    border-radius: 10px;
}
.info-link, .project-link {
    font-size: 2em;
}
.info-tags, .project-tags {
    list-style: none;
}
.info-tags li {
    float: left;
    margin: 0.25em;
    padding: 0.125em 0.25em;
    font-size: 0.75em;
    background-color: #ccc;
    border: 1px solid #aaa;
}
.project-tags li {
    float: left;
    margin: 0.25em;
    padding: 0.125em 0.25em;
    font-size: 0.75em;
    background-color: #ccc;
    border: 1px solid #aaa;
}
.content .columns .panel {
    margin-bottom: 0;
}
.social-button {
    color: #2ba6cb;
}
.social-button:hover {
    color: #2795b6;
    cursor: hand; 
    cursor: pointer;
}
.resource {
    padding-left:1em;
    padding-right:1em;
}
.konami-box {
    margin-top: 3em;
    padding-right: 2em;
    padding-left: 2em;
}
.page-title {
    margin-top: 0;
    margin-bottom:0 !important;
}
