{{#extend "base"}}
{{#content "main" mode="append"}}
<section>
    <article class="content">
        <h3>Packing List</h3>
        <p>clothes</p>
        <ul>
            <li>jeans</li>
            <li>2x shorts (blue, white)</li>
            <li>swimsuit (orange)</li>
            <li>3x t-shirts (blue, orange, white)</li>
            <li>2x shirts (blue, white)</li>
            <li>10x pair underwear</li>
            <li>10x pair socks (3 no-show, 3 short, 4 long)</li>
            <li>lightweight sneakers</li>
            <li>flip flops</li>
            <li>wool sweater</li>
            <li>compressible raincoat</li>
        </ul>
        <p>accessories</p>
        <ul>
            <li>belt</li>
            <li>sunglasses with case</li>
            <li>wallet with cash &amp; cards</li>
            <li>compressible water bottle</li>
        </ul>
        <p>personal effects</p>
        <ul>
            <li>notebook</li>
            <li>9x pencils (1 per week)</li>
            <li>portable pencil sharpener</li>
            <li>toiletries with bag (toothbrush, toothpaste, floss, deodorant, sunscreen)</li>
        </ul>
        <p>technology</p>
        <ul>
            <li>laptop with charger</li>
            <li>phone with charger</li>
            <li>camera with camera bag and charger</li>
            <li>earbud headphones</li>
        </ul>
        <p>storage</p>
        <ul>
            <li>35L backpack</li>
            <li>18L compressible day pack</li>
        </ul>
        <p>misc</p>
        <ul>
            <li>padlock with 2x keys</li>
            <li>passport</li>
        </ul>
        <h3>Unpacked</h3>
        <img src="/img/packing-list.jpg" alt="My packing list">
        <h3>Packed</h3>
        <img src="/img/packing-list-packed.jpg" alt="My packing list, packed into my backpack">
    </article>
</section>
{{/content}}
{{/extend}}
