@use "media_queries";

@media screen and (min-width: media_queries.$xxl-desktop-min) {
  html,
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: media_queries.$xl-desktop-max) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: media_queries.$desktop-max) {
  html,
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: media_queries.$tablet-landscape-max) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: media_queries.$tablet-landscape-min) {
  .tablet-only {
    display: none;
  }
}

@media screen and (min-width: media_queries.$tablet-portrait-min) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: media_queries.$phone-landscape-max) {
  html,
  body {
    font-size: 16px;
  }

  .hide-mobile {
    display: none;
  }
}

@media screen and (max-width: media_queries.$phone-portrait-max) {
  html,
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: media_queries.$flip-phone-max) {
  html,
  body {
    font-size: 7px;
  }
}

@media screen and (max-width: media_queries.$super-ultra-tiny-flip-phone-max) {
  html,
  body {
    font-size: 5px;
  }
}
