---
title: Linkedin Dark Patterns
date: 2015-06-05
featured_image: writing/linkedin-dark-patterns.png
hero_style: large
medium_url: https://medium.com/@danrschlosser/linkedin-dark-patterns-3ae726fe1462
---

<p>In December of 2013, I closed my LinkedIn account. As I retold in <a href="https://www.facebook.com/danrschlosser/posts/10203064679683645">an emotional post Facebook post</a>, I had discovered that I had been sending those annoying “Dan Schlosser has invited you to join LinkedIn” emails to my friends. Confused, I spent several hours digging around in LinkedIn settings and menus to figure out why.</p>

<div class="tight-figure">
    {% include resimg.html src="writing/linkedin-dark-patterns-facebook-post.png" %}
    <h5><a href="https://www.facebook.com/danrschlosser/posts/10203064679683645">My emotional Facebook post</a>. (Pardon the language.)</h5>
</div>

<p>It turned out that when I made my account years earlier, LinkedIn had tricked me into importing my address book. If they had used the contents of my address book just to suggest contacts on LinkedIn, I might not have minded, but they went further. On the “People You May Know” page, LinkedIn had inserted a few buttons to invite email addresses from my address book to LinkedIn, and made those buttons look a lot like people already on LinkedIn that I could connect to. The difference between these two kinds of buttons was negligible, and as a result I had been sending spammy emails when I thought I had been sending connection requests.</p>

<p>This feature has since been refactored (why I felt comfortable joining the service again recently) and these two buttons do not show up next to each other anymore. Instead, they make it one-click to invite every one of your contacts unknown to LinkedIn to the service.</p>


{% include resimg.html src="writing/linkedin-dark-patterns-add-to-network.png" %}
<h5>When they say “Add to Network,” they really mean “Send 688 emails.”</h5>

<p>It also shows up in the contacts manager, where it only takes one click to both connect with every person in your contacts who is on LinkedIn, and to send a “Join LinkedIn” email to every person in your contacts who isn’t.</p>

{% include resimg.html src="writing/linkedin-dark-patterns-imported-contacts.jpg" %}
<h5>“Invite selected Contacts” will send 2690 emails: some inviting to connect, others inviting to join LinkedIn.</h5>

<p>This system, setup to trick me into inviting people in my contacts to LinkedIn, is called a <em>dark pattern</em>. In UX design, a dark pattern is design that works against users. It might trick them into doing the wrong thing, or just confuse them to the point where they can’t figure out how to do something that the designers don’t want them to do. This could be making it hard to delete a user account, or in LinkedIn’s case, making it <em>really hard</em> to use the service without importing your entire address book.</p>

<p>In order to bring LinkedIn’s spammy practices to light, I’ve walked through all the steps needed in order to sign up for and use LinkedIn without importing your address book. Check it out, it’s near impossible. Along the way, I’ll take a look at how LinkedIn uses design to trick its users.</p>
