$true-black: #000000;
$black: #222222;
$blue: #3399ff;
$medium-gray: #757575;
$lightest-text-gray: #9d9d9d;
$lighter-gray: #e5e5e5;
$light-gray: #d5d5d5;
$white: #f9f9f9;
$transparent: rgba(0, 0, 0, 0);
