%form-input {
  -webkit-appearance: none;
  background-color: $white;
  border: 0;
  display: block;
  font-family: $monospace;
  font-size: 1rem;
  height: 2rem;
  line-height: 1;
  outline: 0;
  padding: 0.5rem 0.75rem;
}

form {
  background-color: $lighter-gray;
  margin: 3rem 0;
  padding: 3rem;

  .button {
    background-color: $light-gray;
  }

  h4 {
    font-family: $sans;
    font-size: 1rem;
    font-weight: $bold;
  }

  input {
    &[type=text], &[type=email], &[type=number] {
      @extend %form-input;
      min-width: 8rem;

      &:focus {
        outline: 2px ridge $blue;
      }
    }

    &[type=radio] {
      filter: alpha(opacity = 0);
      opacity: 0;
      position: absolute;

      + label {
        @extend %form-input;
        background-color: $light-gray;
        border-bottom-color: $light-gray;
        cursor: pointer;
        min-width: 4rem;
        text-align: center;
        user-select: none;
      }

      &:checked + label {
        background-color: $medium-gray;
        border-bottom-color: $medium-gray;
        color: $white;
      }
    }
  }

  .form-control {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    > label {
      flex: 1;
      margin-right: 1rem;
    }
  }

  .output-container {
    min-width: 8rem;
  }

  .radio-options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .radio-option {
      list-style: none;
      margin: 0;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  form {
    margin-left: -4rem;
    margin-right: -4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  article form {
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    h4 {
      font-size: 1.25rem;
    }

    .radio-options {
      flex-wrap: wrap;
      margin: 0 -0.25rem;
      width: 100%;

      .radio-option {
        padding: 0.25rem;
        width: 33%;
      }
    }

    .form-control {
      align-items: flex-start;
      flex-direction: column;

      label {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
      }

      input {
        &[type=text], &[type=email], &[type=number] {
          font-size: 1.25rem;
          height: 3rem;
          min-width: 66%;
        }

        &[type=radio] + label {
          height: 3rem;
          line-height: 2rem;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
        }
      }
    }
  }
}
