header, footer {
  background-color: $lighter-gray;
}

footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -1.5rem;

  .links, .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    width: 50%;
  }

  h2 {
    padding: 0;
    text-indent: 0;
    padding: 0 1.5rem;
    margin: 0 0 2rem;
    white-space: nowrap;
    width: 50%;
  }
}

.path {
  padding-left: 3.6rem;
  text-indent: -3.6rem;

  .slash {
    padding: 0 0.5rem;
  }

  a {
    @extend %subtle-link;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  footer .footer-wrapper {
    h2 {
      width: 100%;
    }
  }

  .m-break {
    @include clearfix;
  }
}
