header, footer {
  background-color: $lighter-gray;
}

footer .links {
  display: flex;
  justify-content: space-between;

  h2 {
    padding: 0;
    text-indent: 0;
  }
}

.path {
  padding-left: 3.6rem;
  text-indent: -3.6rem;

  .slash {
    padding: 0 0.5rem;
  }

  a {
    @extend %subtle-link;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  footer .links {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -2rem;
    padding: 0 4rem;

    h2 {
      margin-bottom: 2rem;
      text-align: center;
      white-space: nowrap;
      width: 50%;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .m-break {
    @include clearfix;
  }
}
