header, footer {
  background-color: $lighter-gray;
}

footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -1.5rem;

  .about-wrapper {
    width: 50%;
  }

  .links-wrapper {
    display: flex;
    width: 50%;
  }

  .links, .pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 50%;
  }

  h2 {
    padding: 0;
    text-indent: 0;
    padding: 0 1.5rem;
    margin: 0 0 1rem;
  }
}

.path {
  padding-left: 3.6rem;
  text-indent: -3.6rem;

  .slash {
    padding: 0 0.5rem;
  }

  a {
    @extend %subtle-link;
  }
}

@media screen and (max-width: $tablet-landscape-max) {
 footer .footer-wrapper {
  .about-wrapper {
    width: 33%;
  }

  .links-wrapper {
    width: 66%;
  }
 }
}
@media screen and (max-width: $tablet-portrait-max) {
  footer .footer-wrapper {
    flex-wrap: wrap;

    .links, .pages {
      padding-left: 1.4rem;  /* Visual alignment with  "~ / Dan Schlosser" */
    }

    .about-wrapper {
      width: 100%;
      margin-bottom: 3rem;
    }

    .links-wrapper {
      width: 100%;
    }
  }

  .m-break {
    @include clearfix;
  }
}
