@use "sass:math";

$content-width: 74rem;
$text-width: 48rem;
$v-lg-rem: 6;

$v-md-padding: #{(math.div($v-lg-rem, 2))}rem;
$v-lg-padding: #{$v-lg-rem * 1.5}rem;
$v-xl-padding: #{$v-lg-rem * 2}rem;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 4rem;
  width: 100%;

  > *:last-child {
    margin-bottom: 0;
  }
}

section {
  contain-intrinsic-size: 1000px; // Total estimate
  content-visibility: auto;
  padding: $v-md-padding 0;

  &.home-header {
    padding-top: $v-xl-padding;
    h1 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 0;
    }

    > * {
      max-width: $content-width;
    }
  }

  &.text {
    max-width: $text-width;
    width: 100%;
  }
}

.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

article:not(.with-full-width-image) .text:first-child {
  margin-top: -6rem;
}

article:not(.with-full-width-image) .hero-image + .text {
  margin-top: -3rem;
}

@media screen and (max-width: $phone-landscape-max) {
  section {
    padding: 3rem 0;

    &.home-header {
      padding-top: $v-lg-padding;
    }
  }

  .content {
    padding: 0 1rem;
  }

  .text.hero-image {
    margin: -4rem 0 0;
  }
}
