---
date: "2019-08-24"
title: Museums
category: List
featured_image: lists/museums.jpg
hero_style: none
redirect_from:
  - /museums/
---
<section class="text">
    <p>One of my favorite things to do, both at home and while traveling, is visiting museums. As a kid, I hated them, because I always felt pressured to learn and understand the story behind everything I saw. In fact, I sort of thought that was the <em>point</em>. Over the years, I've found a new joy in just walking through museums (especially art museums) aimlessly. And I love it! This is a running collection of my favorites, roughly ranked:</p>
</section>
<section class="text">
    {% for museum in site.data.museums %}
    <div class="visual-list large">
        <div class="image">
            {% if museum.trip and museum.id and museum.img %}
            <a target="_blank" href="/travel/{{ museum.trip }}#{{museum.id}}">
                {% include resimg.html src=museum.img class="museum-image force-small" %}
            </a>
            {% else if musem.img %}
            {% include resimg.html src=museum.img class="museum-image force-small" %}
            {% endif %}
        </div>
        <div class="copy">
            <h3 id="{{ museum.id }}">{{ museum.title }}</h3>
            <h4>{{ museum.location }} | <a target="_blank" href="https://google.com/maps?q={{ museum.title}}, {{ museum.location }}">Map</a></h4>
            <p>{{ museum.description }}</p>
            <div class="button-group">
                {% if museum.trip %}
                <a target="_blank" href="/travel/{{ museum.trip }}#{{ museum.id }}" class="button">Photos</a>
                {% endif %}
                {% if museum.website%}
                <a target="_blank" href="{{ museum.website }}" class="button">Website</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</section>

