{%- extends "page.html" -%}
{%- block title -%}About | {{ super() }}{%- endblock -%}
{%- block activePage -%}about{%- endblock -%}

{% set events = [
	('2012-2016', 'Columbia University', 'https://www.columbia.edu',[
		('Application Development Initiative', 'https://adicu.com'),
		('Design for America', 'http://bcdfa.com'),
	]),
	('2015', 'Google APM', 'https://www.google.com/', []),
	('2015', 'Google APM', 'https://www.google.com/', []),
	('2014', 'Venmo Engineering Intern', 'https://venmo.com/', []),
	('2013', 'Facebook University Intern', 'https://www.facebook.com/', []),
	('2012', 'Android Camp Participant', 'https://www.google.com/', []),
	('2012', 'MITRE', 'http://www.mitre.org/', []),
	('2008-2012', 'Lexington High School', 'http://lps.lexingtonma.org/lexingtonhs', []),
]%}

{%- block content -%}
{{ super() }}
<div class="cards">
	<div class="card">
		{% for event_time_period, event_title, url, subevents in events %}
		<div class="event">
			<span class="md-6 event-time-period">{{ event_time_period }}</span>
			<span class="md-6 event-title">
				<span><a href="{{ url }}">{{ event_title }}</a></span>
			</span>
			<div class="sub-events">
			{% for title, url in subevents %}
				<div><a href="{{ url }}">{{ title }}</a></div>
			{% endfor %}
			</div>
		</div>

		{% endfor %}
	</div>
</div>
{%- endblock -%}