{% extends "foundation.html" %}
{% block css %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock css%}
{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h1 id="title">DANRS.CH : ADMIN CONSOLE</h1>
        </div>
    </div>
    <div class="row" >
        <div class="decoration"></div>
    </div>
    <div class="row" >
        <div class="large-3 columns">
            
        </div>
        <div class="large-9 columns">
            
        </div>
    </div>
    
	<script>
        $(document).foundation();
    </script>
{% endblock body %}