{% extends "base.html" %}

{% block css %}
{{super()}}
{% assets "scss_admin" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock css%}

{% block js %}
{{ super() }}
<script src="{{url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block title %}Admin | {{super()}}{% endblock %}

{% block body %}
<h1 class="site-title admin-site-title"><a href="/">DRS</a></h1>
<h1 class="page-title"><a href="/admin">Admin Tools</a></h1>

<div class="admin-panel">
<ul class="tools">
    <li class="tool"><a href="/admin/sentences">Sentences</a></li>
</ul>
{% block content %}
<h2 class="welcome">Hello, Dan.</h2>
{% endblock %}

</div>

{% endblock body %}