<!DOCTYPE HTML>
<html>
<head>
	{% block head %}
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{% block metaDescription %}Dan Schlosser is a Computer Science student at Columbia University.  Find him as danrschlosser on Github, Twitter, Facebook and Flickr.{% endblock %}" />
    <meta name="robots" content="NOODP">
    {% endblock meta%}


  	<Title>
  		{% block title%}Dan R Schlosser{% endblock %}
    </Title>

    {% block css%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/github.css') }}">
    {% assets "scss_base" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% endblock css%}

    {% block favicon %}
    <!-- Favicon.ico -->
    <link rel="shortcut icon"
        href=" {{url_for('static', filename='img/favicon.ico') }}"
        type="image/x-icon">
    <link rel="icon"
        href="{{ url_for('static', filename='img/favicon.ico') }}"
        type="image/x-icon">
    {% endblock favicon %}

    {% block fonts %}
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    {% endblock fonts %}

	<!--Google Analytics-->
    {% block analytics %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40705748-1']);
	  _gaq.push(['_setDomainName', 'danrschlosser.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    {% endblock analytics %}

    <!-- Highlight.js -->
    {% block highlight %}
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}

    <a href="https://plus.google.com/u/0/+DanRSchlosser1?rel=author">Google</a>

    {% endblock head %}
</head>
<body>
{% block body %}
<script type="text/javascript">
  var jsonString = '{{ sentences | safe }}';
</script>
{% endblock body %}
{% block js %}
<!-- jQuery and Modernizr -->
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/vendor/custom.modernizr.js')}}"></script>
{% endblock %}
</body>
</html>