{%- extends "page.html" -%}
{%- block title -%}Blog | {{ super() }}{%- endblock -%}
{%- block activePage -%}blog{%- endblock -%}

{%- block content -%}
{{ super() }}
<ul class="cards">
{%- block posts -%}
{%- for post in posts-%}
	<li class="card">
		<h3 class="post-title"><a href="/blog/post-{{post.id}}#read">{{post.title}}</a></h3>
		<h4 class="post-date"><a href="/blog/post-{{post.id}}#read">{{post.date}}</a></h4>
		<h4 class="byline"><a href="/blog/post-{{post.id}}#read">By Dan Schlosser</a></h4>
		{{post.preview | safe}}
		<p class="read-more"><a href="/blog/post-{{post.id}}#read">
			read more...</a><p>
	</li>
{%- endfor-%}
{%- endblock -%}
</ul>
{%- endblock -%}