<!doctype html>
<html>
    <head>
        <script>console.log("{{resource}}")</script>
        <style>
            iframe {
                border: 0;
                position: absolute;
                left:0;
                right:0;
                bottom:0;
                top:0;
                width: 100%;
                height:100%;
            }
            body {
                margin: 0;
            }
        </style>    
    </head>
    <body>
        <iframe src="{{url_for('static', filename='r/'+resource+'/index.html')}}"></iframe>
    </body>
</html>