{% extends "base.html" %}

{% block css %}
{{ super() }}

{% assets "scss_admin" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

{% endblock %}

{% block body %}
<div class="login-wrapper">

	<form action="/login" method="post">
	    <input type="text" name="username" placeholder="Username" />
	    <input type="password" name="password" placeholder="Password" />
		<input type="submit" value="Submit" />
	</form>
	<div class="error-message">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages%}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</div>
{% endblock body %}