{%- extends "site.html" -%}

{%- block js -%}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/page.js')}}"></script>
{%- endblock -%}

{%- block css -%}
{{ super() }}

{%- assets "scss_page" -%}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{%- endassets -%}
{%- endblock css -%}

{%- block siteTitle -%}
<div class="name-fragment">
	<span>D</span>
</div><div class="name-fragment fragment-first">
	<span>an</span>
</div><div class="name-fragment fragment-nbsp">
	<span>&nbsp;</span>
</div><div class="name-fragment">
	<span>R</span>
</div><div class="name-fragment fragment-nbsp">
	<span>&nbsp;</span>
</div><div class="name-fragment">
	<span>S</span>
</div><div class="name-fragment fragment-last">
	<span>chlosser</span>
</div>
{%-endblock-%}