{% extends "foundation.html" %}
{% block title%} | Dan Schlosser{{ super() }}{% endblock %}
{% block head %}
	{{ super() }}
    <script src="{{ url_for('static', filename='js/simple-page.js')}}"></script>   
{% endblock head %}
{% block body %}
	{{ super() }}
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div id="header" class="large-12 columns">
					<a href="http://danrs.ch">
		                <img class="pic" src="{{ url_for('static', filename='img/dan.jpg')}}"/>
		            </a>
		            <div>
		                <h1 id="name">Dan Schlosser</h1>
		                <h4 id="tagline">Computer Scientist and Jazz Composer</h4>
		            </div>
	            </div>	
			</div>
			<div class="decoration"></div>
		    <div class="row" >
				<div id="content" class="large-12 columns">
				    {% block content %}
				    {% endblock %}
				</div>		
			</div>
			<div class="decoration"></div>
		</div>
	</div>
{% endblock body %}
