@import 'base';

.event {
	color: white;
	font-family: $display;
	.event-title {
		@include border-box;
		padding-left: 0.5rem;
	}
	.event-time-period {
		@include border-box;
		padding-right: 0.5rem;
		text-align: right;
	}
	.sub-event {
		margin-left: 2rem;
	}
}