@import 'colors';

.page-title {
	margin-top: 1rem;
	color: $backgroundText;
	text-align: center;
}

.welcome {
	text-align: center;
	font-size: 6rem;
	line-height: 7rem;
	margin: 2rem 0;
}

.admin-site-title {
	position: absolute;
	left: 0;
	top:0;
	line-height: 5rem;
	height: 5rem;
}

.admin-panel {
	border-radius: 5px;
	margin: 1rem auto 2rem;
	max-width: 50rem;
	padding: 2rem;
	color: $panelsText;
	background-color: $panels;
}

.tools {
	border-bottom: 1px solid $panelsText;
	margin: 0 -1rem;

	.tool {
		display: inline-block;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 2rem;
		height: 2rem;
		a {	padding: 0 1.5rem;}

		&:hover {
			background-color: $panelsTextHighlight;
		}
	}
}

.add-sentence {
	position: relative;
	margin: 2rem 0.5rem 0;

	input {
		font-size: 1rem;

		&[type="text"] {
			padding: 0.2rem;
			width: 20%;
		}

		&[type="submit"] {
			position: absolute;
			right:0;
			padding: 0.25rem 0.5rem;
			top: 0.1rem;
		}
	}
}

input[type="button"], input[type="submit"] {
	border: none;
	border-radius: 2px;
	padding: 0.25rem;
	background-color: $panels;
	border: 1px solid $panelsText;
	color: $panelsText;
	margin: 0;

	&:hover {
		background-color: $panelsTextHighlight;
	}
}

.sentences {
	margin: 2rem 0 0;
	width: 47.5%;
	float:left;
	display: inline-block;

	&.left {
		margin-right: 5%;
	}

	.admin-sentence {
		position: relative;
		border-radius: 2px;

		&.left {
			margin-right: 10%;
		}

		&:hover .delete {
			display: inline;
		}

		.touch {
			display: none !important;
		}

		.delete {
			display: none;
			right: 0.2rem;
			top: 0.2rem;
			padding: 0.25rem 0;
			position: absolute;
			font-size: 1.2rem;
			border-radius: 20px;
			border: 2px solid $panelsText;

			&:hover {
				background-color: $panelsTextHighlight;
			}
		}

		.sentence-text {
			font-size: 1rem;
			padding: 0.25rem 0.5rem;
			display: inline-block;
			position: relative;
		}

		.confirm {
			display:none;
			text-align: center;

			input {
				max-width: 5rem;
				width: 50%;
			}

			input[type="submit"] {
				background-color: $red;
				border: 1px solid $darkred;
				color: $panels;

				&:hover {
					background-color: $brightred;
					border: 1px solid $brightdarkred;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.admin-site-title {
		position: relative;
		margin: 0;
	}
	.page-title {
		margin-top: 0;
	}
}

@media only screen and (max-width: 480px) {
	.add-sentence  {

		clear: both;
		margin: 2rem auto 0;
		text-align: center;
		.i, .period {
			display: none;
		}

		input[type="text"] {
			width: 90% !important;
			display: inline-block;
		}
		input[type="submit"] {
			padding: 0.4rem;
			width: 100px;
			margin-top: 0.25rem;
			position: relative !important;
			top: inherit !important;

		}
	}

	.sentence-text {
		font-size: 1.3rem !important;
		margin-bottom: 0.5rem;
	}
	.tools .tool {
		margin-bottom: 1px;
	}

	.sentences{
		width: 100%;
		margin: 0;
		&.left {
			margin-top: 2rem;
		}
	}
}