@import 'utils';


/*
 * Fade in and slide right
 */
@mixin fade_in_slide_right() {
	0% {
		opacity: 0;
		@include transform(translate3d(-2rem, 0, 0));
	}
	80% {
		opacity: 0;
		@include transform(translate3d(-2rem, 0, 0));
	}
	100% {
		opacity: 1;
		@include transform(translate3d(0, 0, 0));
	}
}
@-webkit-keyframes fade_in_slide_right { @include fade_in_slide_right(); }
		@keyframes fade_in_slide_right { @include fade_in_slide_right(); }


/*
 * Slide Left
 */
@mixin slide_left() {
	0%   { @include transform(translate3d(6rem, 0, 0)); }
	60%  { @include transform(translate3d(6rem, 0, 0)); }
	100% { @include transform(translate3d(0,    0, 0)); }
}

@-webkit-keyframes slide_left { @include slide_left(); }
		@keyframes slide_left { @include slide_left(); }
