$mainBg: #333;
$mainText: #fff;

body {
  background-color: $mainBg;
  margin-top: 20%;
}
.main {
  background-color: $mainBg;
  color: $mainText;
  min-height: 100%;
  float: left;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.sentance {
  font-size: 2em;
}