@import 'colors';

body {
  background-color: $background;
}

.text-links {
  font-family: 'st_marie_thinthin', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem !important;
  line-height: 1.3rem;
}

.name-fragment {
  height: 4.75rem;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  span {
    text-align: left;
    display: block;
  }
}

.site-title {
  color: $accent;
  font-size: 4.75rem;
  line-height: 6rem;
  height: 6rem;
  z-index: 200;
  vertical-align: middle;

}

.page-title a:hover {
  color: $accent;
}

.main {
  background-color: ;
  color: $backgroundText;
  text-align: center;
  top: 20%;
  position: relative;
  display: block;
  padding: 0 1rem;
}

.sentence {
  margin: 2rem 0 0.5rem;
  font-size: 2rem;
  height: 2.5rem;

  .word {
    display: inline-block;
    height: 2.5rem;
    position: relative;
    text-align: center;
    overflow: hidden;

    span {
      top: 0;
      position: relative;
      overflow: hidden;
      display: inline-block;

      &.visible {
        height: 2.5rem;
        position: absolute;
        display: inline;
        top: 0;
        bottom: 0;
        right:0;
        left: 0;
      }
    }
  }

  .period {
    margin-left: -0.4rem;
  }
}

.invisible {
  visibility: hidden;
}

.textDimensionCalculation {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}

.social {
  display: block;
  position: relative;
  height: 3.3rem;
  text-align: center;
  ul { 
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    margin: 0 auto;
    display: block;
    li {
      display: inline-block;
      margin: 0 0.5rem;
      i {
        font-size: 2rem;
        color: $backgroundText;

        &:hover {
          color: $accent;
        }
      }

      a:hover {
        border-bottom: none !important;
      }
    }
    &.fixed {
      position: fixed;
      z-index: 100;
      padding: 1rem;
      left: 0;
      right: 0;
      padding: 1rem;
      box-shadow: 0 2px 5px $background;
      background-color: $background;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .site-title {
    font-size: 4rem;
    line-height: 4rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
    width: 100%;
  }
  .site-title{
    font-size: 3rem;
    line-height: 4rem;
  }
  .social {
    height: 6rem;
    position: relative;
    max-width: 30rem;
    margin: 1rem auto 0;
    ul li {
      font-size: 1.5rem;
      margin: 0 0 2rem;
      width: 30%;
    }
  }
  .main {
    top: 10%;
  }
}

@media only screen and (max-height: 320px) {
  .main {
    top: 1rem;
  }
}