@import 'colors';

.name-fragment {
	height: 5rem;
	display: inline-block;
	overflow: hidden;
	span {
		text-align: left;
		display: block;
	}
}

.fixed {
	position: fixed;
	top:0;
	left: 0;
}
.title-spacer {
	margin-bottom: 1rem;
	height: 6rem;
	display: none;
	&.live {
		display: block;
	}
}

.top {
	text-align: center;
	width: 100%;
	font-size: 2rem;
	height: 2.5rem;
	position: absolute;
	bottom: -1rem;
	left: 0;
	right: 0;
	a {
		text-decoration: none !important;
		transform: ease 0.2s all;
		-webkit-transform: ease 0.2s all;

		&:hover {
			font-size: 2.5rem;
		}
	}
}

.anchor {
	width: 1px;
	height: 1px;
	content: " ";
}

.post-date {
	margin: 0 0 2rem;
	font-style: italic;
	font-size: 1.2rem;
	line-height: 2rem;
}

.blog-title {
	margin-top: 3rem;
}

.posts {
	margin: 0 auto;
	display: block;
	position: relative;
	margin-bottom: 3rem;
	width: 95%;
	max-width: 40rem;
	text-align: left;

	.post {
		border-radius: 5px;
		margin: 1rem 0;
		padding: 2rem;
		position: relative;
		color: $panelsText;
		background-color: $panels;

		p  {
			margin-bottom: 1rem;

			a {
				text-decoration: underline;

				&:hover {
					color: $panelsTextLinkHover;
				}
			}
		}
	}
}