$blue: #00DFFC;
$gray: #333333;
$darkgray: #555555;
$offwhite: #dddddd;

.name-fragment {
	height: 5rem;
	display: inline-block;
	overflow: hidden;
	span {
		text-align: left;
		display: block;
	}
}

.fixed {
	position: fixed;
	top:0;
	left: 0;
}
.title-spacer {
	height: 6rem;
	display: none;
	&.live {
		display: block;
	}
}

.anchor {
	width: 1px;
	height: 1px;
	content: " ";
}

.post-date {
	margin: 0 0 2rem;
	font-style: italic;
	font-size: 1.2rem;
	line-height: 2rem;
}

.blog-title {
	margin-top: 3rem;
}

.posts {
	margin: 0 auto;
	display: block;
	position: relative;
	width: 95%;
	max-width: 40rem;
	text-align: left;

	.post {
		border: 1px solid $darkgray;
		border-radius: 5px;
		margin: 1rem 0;
		padding: 2rem;
		color: $gray;
		background-color: $offwhite;

		p  {
			margin-bottom: 1rem;

			a {
				text-decoration: underline;

				&:hover {
					color: lighten($gray, 20%);
				}
			}
		}
	}
}