// $accent: #00b6ef;
$accent: #09c4ff;

$panels: #e7e7e7;
$panelsText: #1f1f21;
$panelsTextHighlight: darken($panels, 20%);
$panelsTextLinkHover: lighten($panelsText, 10%);

$background: #1f1f21;
$backgroundText: #e7e7e7;

/*Red Colors*/
$red: #d9534f;
$darkred: #d43f3a;
$brightred: #d2322d;
$brightdarkred: #ac2925;