@import 'media_queries';

.row {
	display: block;
	@include clearfix();

	& > div {
		width: 100%;
		display: block;
	}

	.lg-6 {
		display: inline-block;
	}
}



@media screen and (min-width: $desktop-min) {
	.row {
		[class^="lg"] {
			display: inline-block;
			float:left;
		}
		.lg-6 {
			width: 50%;
		}
		.lg-4 {
			width: (100%/3);
		}
	}
}

@media screen and (min-width: $tablet-portrait-min) {
	.row {
		[class^="lg"], [class^="md"] {
			display: inline-block;
			float:left;
		}
		.md-6 {
			width: 50%;
		}
		.md-4 {
			width: (100%/3);
		}
	}
}