@mixin animated($function, $timing, $delay: 0s) {
	-webkit-animation: $function $timing ease-in-out $delay;
       -moz-animation: $function $timing ease-in-out $delay;
         -o-animation: $function $timing ease-in-out $delay;
            animation: $function $timing ease-in-out $delay;
}

@mixin transform($function) {
	-webkit-transform: $function;
	   -moz-transform: $function;
		 -o-transform: $function;
	        transform: $function;
}

@mixin clearfix() {
	:after {
		display: block;
		content: " ";
		clear: both;
	}
}

@mixin border-box() {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}