---
title: Italy and Croatia, Summer 2016
start_date: 2016-06-01
end_date: 2016-08-01
cities:
  - Rome
  - Dubrovnik
  - Split
  - Venice
hero_image: travel/italy/rome-colosseum-close.jpg
featured_image: travel/italy/rome-colosseum-close-cover.jpg
---

<section class="text">
    <p>TODO Europe.</p>
</section>
<section class="text">
    <h2>Rome</h2>
    <h3>Tourist Central</h3>
    <p>TODO Rome</p>
    <p>TODO Vatican</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-vatican-hallway.jpg" %}
    <h5>The Vatican Museum was completely packed with tourists from all over.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/italy/rome-vatican-sphere.jpg" %}
            {% include resimg.html src="travel/italy/rome-peters-basilica.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> This amazing metal globe sits in the center of the Vatican Museum courtyard.
        <strong>Right:</strong> The facade of St. Peter's Basilica, next to the Vatican.
    </h5>
</section>
<section class="text">
    <p>TODO Museum</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-vatican-table.jpg" %}
    <h5>This table was just one of many stunning pieces in along the path to the Sistine Chapel.</h5>

    {% include resimg.html src="travel/italy/rome-vatican-globe.jpg" %}
    <h5>A 1500s globe, covered in beautiful illustrations.</h5>

    {% include resimg.html src="travel/italy/rome-vatican-goose.jpg" %}
    <h5>These three sculptures are a great example of how well the curator positioned and grouped pieces to tell a story. The center sculpture is aptly named "Boy with Goose." </h5>
</section>
<section class="text">
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/italy/rome-colosseum-dusk.jpg" %}
    <h5>A view of the Colosseum at dusk.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/italy/rome-colosseum-close.jpg" %}
            {% include resimg.html src="travel/italy/rome-colosseum-night.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Colosseum from up close.
        <strong>Right:</strong> An interior view of the Colosseum during a nighttime tour.
    </h5>
</section>
    {% include resimg.html src="travel/italy/rome-altar.jpg" %}
    <h5>The Altar of the Fatherland sits in the center of Rome.</h5>

    {% include resimg.html src="travel/italy/rome-pantheon.jpg" %}
    <h5>A frontal view of the Pantheon, a temple with one massive circular room.</h5>
</section>


<section class="text">
    <h2>Dubrovnik</h2>
    <h3>A Fortress on the Water</h3>
    <p>TODO Dubrovnik</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/dubrovnik-airbnb.jpg" %}
    <h5>The view of Dubrovnik from our Airbnb.</h5>

    {% include resimg.html src="travel/croatia/dubrovnik-city.jpg" %}
    <h5>A view of the Dubrovnik Old Town from the city walls.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/croatia/dubrovnik-walking.jpg" %}
            {% include resimg.html src="travel/croatia/dubrovnik-friends.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The Dubrovnik Old Town is pedestrian-only.
        <strong>Right:</strong> The five of us on the Old Town walls.
    </h5>
</section>
<section class="text">
    <p>TODO</p>
</section>
<section>
    {% include resimg.html src="travel/croatia/dubrovnik-port.jpg" %}
    <h5>We had dinner under the umbrellas by the Dubrovnik docks.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/croatia/dubrovnik-fish.jpg" %}
            {% include resimg.html src="travel/croatia/dubrovnik-rice.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> The fresh fish in Dubrovnik was amazing.
        <strong>Right:</strong> Dubrovnik's famous Black Risotto is super salty, but delicious!
    </h5>

    {% include resimg.html src="travel/croatia/dubrovnik-beach.jpg" %}
    <h5>A View of the beach across the street from our Airbnb.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/croatia/dubrovnik-boat.jpg" %}
            {% include resimg.html src="travel/croatia/dubrovnik-tower.jpg" %}
            {% include resimg.html src="travel/croatia/dubrovnik-island.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A view of the coast from the boat.
        <strong>Center:</strong> A tower on an island off the coast of Dubrovnik
        <strong>Right:</strong> A boat moored off the coast.
    </h5>

    {% include resimg.html src="travel/croatia/dubrovnik-walls.jpg" %}
    <h5>On my last day, I walked up to the guard tower to get a full view of the city walls.</h5>
</section>
<section class="text">
    <h2>Split</h2>
    <h3>A Beautiful City Three Hours North</h3>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/croatia/split-arch.jpg" %}
            {% include resimg.html src="travel/croatia/split-tower.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Daniela took this photo of us at the entrance to the Split Old Town.
        <strong>Right:</strong> The tower in the Split town center.
    </h5>

    {% include resimg.html src="travel/croatia/split-drive.jpg" %}
    <h5>A view of the Croatian coast from the D8.</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/croatia/split-city.jpg" %}
            {% include resimg.html src="travel/croatia/split-view.jpg" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Walking around the Split Old Town on a cloudy day.
        <strong>Right:</strong> Drinking wine at a hilltop bar in Split.
    </h5>
</section>
